In [1]:
#Installing packages
library(data.table)
library(tidyverse)
library(stringi)
library(tidyr)
install.packages("fixest")
library(fixest)
install.packages("estimatr")
library(estimatr)
install.packages("readxl")
library(readxl)
library(zoo)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::between()     masks data.table::between()
✖ dplyr::filter()      masks stats::filter()
✖ dplyr::first()       masks data.table::first()
✖ lubridate::hour()    masks data.table::hour()
✖ lubridate::isoweek() masks data.table::isoweek()
✖ dplyr::lag()         masks stats::lag()
✖ dplyr::last()        masks data.table::last()
✖ lubridate::mday()    masks data.table::mday()
✖ lubridate::minute()  masks data.table::minute()
✖ lubridate::month()   masks data.table::month()
✖ lubridate::quarter() masks data.table::quarter()
✖ lubridate::second()  masks data.table::second()
✖ purrr::transpose()   masks data.table::transpose()
✖ lubridate::wday()    masks data.table::wday()
✖ lubridate::week()    masks data.table::week()
✖ lubridate::yday()    masks data.table::yday()
✖ lubridate::year()    masks data.table::year()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Installing package into 'C:/Users/joyse/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'fixest' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'fixest'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\joyse\AppData\Local\R\win-library\4.2\00LOCK\fixest\libs\x64\fixest.dll to C:\Users\joyse\AppData\Local\R\win-library\4.2\fixest\libs\x64\fixest.dll: Permission denied"
Warning message:
"restored 'fixest'"

The downloaded binary packages are in
	C:\Users\joyse\AppData\Local\Temp\RtmpKsDRCi\downloaded_packages

Installing package into 'C:/Users/joyse/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'estimatr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'estimatr'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\joyse\AppData\Local\R\win-library\4.2\00LOCK\estimatr\libs\x64\estimatr.dll to C:\Users\joyse\AppData\Local\R\win-library\4.2\estimatr\libs\x64\estimatr.dll: Permission denied"
Warning message:
"restored 'estimatr'"

The downloaded binary packages are in
	C:\Users\joyse\AppData\Local\Temp\RtmpKsDRCi\downloaded_packages

Installing package into 'C:/Users/joyse/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\joyse\AppData\Local\R\win-library\4.2\00LOCK\readxl\libs\x64\readxl.dll to C:\Users\joyse\AppData\Local\R\win-library\4.2\readxl\libs\x64\readxl.dll: Permission denied"
Warning message:
"restored 'readxl'"

The downloaded binary packages are in
	C:\Users\joyse\AppData\Local\Temp\RtmpKsDRCi\downloaded_packages

Attaching package: 'zoo'


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

# 2020 Data

## 2020 Race and Sex Data

In [2]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2020.xlsx"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2020.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [3]:
#Skipping comments in the original excel file
race_2020 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2020.csv",  skip = 5)
race_2020 <- race_2020[-(573:nrow(race_2020)), ]

In [4]:
#Checking that I skipped correctly
tail(race_2020, 20)

    NA.     NA..1                         NA..2 NA..3 Total.registered
553 NA      Female                        2315  2263  1775
554 NA      White alone                   4005  3931  3119
555 NA      White non-Hispanic alone      3776  3772  3020
556 NA      Black alone                    263  263   126
557 NA      Asian alone                    117  73    44
558 NA      Hispanic (of any race)         242  173   105
559 NA      White alone or in combination 4113  4040  3192
560 NA      Black alone or in combination  318  318   152
561 NA      Asian alone or in combination  138  94    59
562 WYOMING Total                          436  427   296
563 NA      Male                           217  212   141
564 NA      Female                         219  215   155
565 NA      White alone                    410  405   280
566 NA      White non-Hispanic alone       379  376   265
567 NA      Black alone                      2  2     1
568 NA      Asian alone                      2  -     -
569 NA      Hispanic (of any race)          40  38    23
570 NA      White alone or in combination  422  416   290
571 NA      Black alone or in combination    4  3     3
572 NA      Asian alone or in combination    4  2     2
    Percent.registered..Total. Margin.of.error.1  Percent.registered..Citizen.
553 76.7                       3.6                78.5
554 77.900000000000006         2.7                79.3
555 80                         2.7                80.099999999999994
556 47.7                       12.1               47.7
557 B                          B                  B
558 43.5                       13.7               61
559 77.599999999999994         2.7                79
560 47.8                       11                 47.8
561 42.4                       17.100000000000001 62
562 67.900000000000006         3.4                69.3
563 65                         5                  66.5
564 70.8                       4.7                72.099999999999994
565 68.3                       3.5                69.2
566 70                         3.6                70.599999999999994
567 B                          B                  B
568 B                          B                  B
569 B                          B                  B
570 68.599999999999994         3.5                69.599999999999994
571 B                          B                  B
572 B                          B                  B
    Margin.of.error.1.1 Total.voted Percent.voted..Total. Margin.of.error.1.2
553 3.6                 1720        74.3                  3.7
554 2.7                 3008        75.099999999999994    2.8
555 2.7                 2914        77.2                  2.8
556 12.1                114         43.5                  12
557 B                   44          B                     B
558 16                  101         41.7                  13.7
559 2.6                 3081        74.900000000000006    2.8
560 11                  141         44.3                  11
561 20.3                59          42.4                  17.100000000000001
562 3.4                 280         64.099999999999994    3.5
563 5                   132         61.1                  5.0999999999999996
564 4.7                 147         67.2                  4.9000000000000004
565 3.5                 265         64.5                  3.6
566 3.6                 251         66.2                  3.7
567 B                   1           B                     B
568 B                   -           B                     B
569 B                   21          B                     B
570 3.5                 273         64.7                  3.6
571 B                   3           B                     B
572 B                   2           B                     B
    Percent.voted..Citizen. Margin.of.error.1.3
553 76                      3.7
554 76.5                    2.8
555 77.2                    2.8
556 43.5                    12
557 B                       B
558 58.4                    16.2
559 76.3                    2.8
560 44.3                    11
561 62                      20.3
562 65.5                    3.5
563 62.5                    5.0999999999999996
564 68.400000000000006      4.8
565 65.400000000000006      3.6
566 66.8                    3.7
567 B                       B
568 B                       B
569 B                       B
570 65.7                    3.6
571 B                       B
572 B                       B

In [5]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2020) <- col_names

In [6]:
#Creating the state titles and the year variable
race_2020$STATE <- na.locf(race_2020$STATE)
race_2020$Year <- 2020

In [7]:
#Changing the '-' entries to 0, as they signify
race_2020[race_2020 == '-'] <- 0

In [8]:
#Converting columns to numerics
race_2020$`Total registered` <- as.numeric(race_2020$`Total registered`)
race_2020$`Total citizen population` <- as.numeric(race_2020$`Total citizen population`)
race_2020$`Total voted` <- as.numeric(race_2020$`Total voted`)

In [9]:
head(race_2020)

  STATE Sex, Race, and Hispanic-Origin Total population
1 US    Total                          252274
2 US    Male                           121870
3 US    Female                         130404
4 US    White alone                    195227
5 US    White non-Hispanic alone       157442
6 US    Black alone                     32219
  Total citizen population Total registered Percent registered (Total)
1 231593                   168308           66.7
2 111485                    79340           65.099999999999994
3 120108                    88968           68.2
4 181891                   134889           69.099999999999994
5 154827                   118389           75.2
6  30204                    20844           64.7
  Margin of error for percent registered total Percent registered (Citizen)
1 0.4                                          72.7
2 0.5                                          71.2
3 0.5                                          74.099999999999994
4 0.4                                          74.2
5 0.4                                          76.5
6 1                                            69
  Margin of error for percent registered citizen Total voted
1 0.4                                            154628
2 0.5                                             72474
3 0.5                                             82154
4 0.4                                            124301
5 0.4                                            109830
6 1                                               18922
  Percent voted (Total) Margin of error percent voted total
1 61.3                  0.4
2 59.5                  0.5
3 63                    0.5
4 63.7                  0.4
5 69.8                  0.4
6 58.7                  1
  Percent voted (Citizen) Margin of error percent voted citizen Year
1 66.8                    0.4                                   2020
2 65                      0.5                                   2020
3 68.400000000000006      0.5                                   2020
4 68.3                    0.4                                   2020
5 70.900000000000006      0.4                                   2020
6 62.6                    1                                     2020

In [10]:
#Recalculating the percents to get rid of the "B's"
race_2020$`Percent registered (Total)` <- ifelse(race_2020$`Total population` != 0,
                                                 100*race_2020$`Total registered` / race_2020$`Total population`,
                                                 0)

race_2020$`Percent registered (Citizen)` <- ifelse(race_2020$`Total citizen population` != 0,
                                                 100*race_2020$`Total registered` / race_2020$`Total citizen population`,
                                                 0)

race_2020$`Percent voted (Total)` <- ifelse(race_2020$`Total population` != 0,
                                                 100*race_2020$`Total voted` / race_2020$`Total population`,
                                                 0)

race_2020$`Percent voted (Citizen)` <- ifelse(race_2020$`Total citizen population` != 0,
                                                 100*race_2020$`Total voted` / race_2020$`Total citizen population`,
                                                 0)

In [11]:
head(race_2020)

  STATE Sex, Race, and Hispanic-Origin Total population
1 US    Total                          252274
2 US    Male                           121870
3 US    Female                         130404
4 US    White alone                    195227
5 US    White non-Hispanic alone       157442
6 US    Black alone                     32219
  Total citizen population Total registered Percent registered (Total)
1 231593                   168308           66.71635
2 111485                    79340           65.10216
3 120108                    88968           68.22490
4 181891                   134889           69.09341
5 154827                   118389           75.19531
6  30204                    20844           64.69475
  Margin of error for percent registered total Percent registered (Citizen)
1 0.4                                          72.67404
2 0.5                                          71.16652
3 0.5                                          74.07333
4 0.4                                          74.15925
5 0.4                                          76.46535
6 1                                            69.01073
  Margin of error for percent registered citizen Total voted
1 0.4                                            154628
2 0.5                                             72474
3 0.5                                             82154
4 0.4                                            124301
5 0.4                                            109830
6 1                                               18922
  Percent voted (Total) Margin of error percent voted total
1 61.29367              0.4
2 59.46829              0.5
3 62.99960              0.5
4 63.66998              0.4
5 69.75902              0.4
6 58.72932              1
  Percent voted (Citizen) Margin of error percent voted citizen Year
1 66.76713                0.4                                   2020
2 65.00785                0.5                                   2020
3 68.40011                0.5                                   2020
4 68.33818                0.4                                   2020
5 70.93724                0.4                                   2020
6 62.64733                1                                     2020

In [12]:
#Pivoting to the desired format
race_2020_final <- pivot_wider(race_2020, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [13]:
head(race_2020_final)

  STATE      Year Total population_Total Total population_Male
1 US         2020 252274                 121870
2 ALABAMA    2020   3769                   1780
3 ALASKA     2020    528                    269
4 ARIZONA    2020   5638                   2739
5 ARKANSAS   2020   2283                   1101
6 CALIFORNIA 2020  30342                  14786
  Total population_Female Total population_White alone
1 130404                  195227
2   1990                    2657
3    259                     345
4   2899                    4840
5   1182                    1867
6  15556                   21941
  Total population_White non-Hispanic alone Total population_Black alone
1 157442                                    32219
2   2587                                      973
3    325                                       17
4   3140                                      279
5   1744                                      336
6  12090                                     1947
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 16094                        42468                                   ⋯
2    55                           79                                   ⋯
3    35                           28                                   ⋯
4   206                         1800                                   ⋯
5    24                          134                                   ⋯
6  5072                        11165                                   ⋯
  Margin of error percent voted citizen_Male
1 0.5
2 4.8
3 4.8
4 3.9
5 5
6 1.8
  Margin of error percent voted citizen_Female
1 0.5
2 4.5
3 4.9000000000000004
4 3.4
5 4.8
6 1.7
  Margin of error percent voted citizen_White alone
1 0.4
2 3.8
3 4
4 2.8
5 3.8
6 1.4
  Margin of error percent voted citizen_White non-Hispanic alone
1 0.4
2 3.9
3 4.0999999999999996
4 3.1
5 3.9
6 1.7
  Margin of error percent voted citizen_Black alone
1 1
2 6.2
3 B
4 11.3
5 8.6
6 4.4000000000000004
  Margin of error percent voted citizen_Asian alone
1 1.7
2 B
3 B
4 15.1
5 B
6 3.2
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.1000000000000001
2 B
3 B
4 5.8
5 17.899999999999999
6 2.4
  Margin of error percent voted citizen_White alone or in combination
1 0.4
2 3.8
3 3.9
4 2.8
5 3.8
6 1.4
  Margin of error percent voted citizen_Black alone or in combination
1 1
2 6.2
3 B
4 9.8000000000000007
5 8.5
6 4.2
  Margin of error percent voted citizen_Asian alone or in combination
1 1.6
2 B
3 B
4 13.8
5 B
6 3.1

In [14]:
write.csv(race_2020_final, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2020_final.csv", row.names = FALSE)

## 2020 Age Data

In [15]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2020.xlsx"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2020.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [16]:
#Skipping comments in the original excel file
age_2020 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2020.csv", skip=5)
age_2020 <- age_2020[-(313:nrow(age_2020)), ]

In [17]:
#Changing the '-' entries to 0, as they signify
age_2020[age_2020 == '-'] <- 0

In [18]:
head(age_2020)

  NA. NA..1    NA..2  NA..3  Total.registered Percent.registered..Total.
1 US  Total    252274 231593 168308           66.7
2 NA  18 to 24  28659  26737  15984           55.8
3 NA  25 to 34  44871  39962  27351           61
4 NA  35 to 44  41558  35977  25852           62.2
5 NA  45 to 64  81912  75590  57226           69.900000000000006
6 NA  65+       55273  53326  41895           75.8
  Margin.of.error.1  Percent.registered..Citizen. Margin.of.error.1.1
1 0.4                72.7                         0.4
2 1.1000000000000001 59.8                         1.1000000000000001
3 0.9                68.400000000000006           0.9
4 0.9                71.900000000000006           0.9
5 0.6                75.7                         0.6
6 0.7                78.599999999999994           0.7
  Total.voted Percent.voted..Total. Margin.of.error.1.2 Percent.voted..Citizen.
1 154628      61.3                  0.4                 66.8
2  13752      48                    1.1000000000000001  51.4
3  24091      53.7                  0.9                 60.3
4  23421      56.4                  0.9                 65.099999999999994
5  53646      65.5                  0.6                 71
6  39718      71.900000000000006    0.7                 74.5
  Margin.of.error.1.3
1 0.4
2 1.2
3 0.9
4 1
5 0.6
6 0.7

In [19]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(age_2020) <- col_names

In [20]:
head(age_2020)

  STATE Age      Total population Total citizen population Total registered
1 US    Total    252274           231593                   168308
2 NA    18 to 24  28659            26737                    15984
3 NA    25 to 34  44871            39962                    27351
4 NA    35 to 44  41558            35977                    25852
5 NA    45 to 64  81912            75590                    57226
6 NA    65+       55273            53326                    41895
  Percent registered (Total) Margin of error for percent registered total
1 66.7                       0.4
2 55.8                       1.1000000000000001
3 61                         0.9
4 62.2                       0.9
5 69.900000000000006         0.6
6 75.8                       0.7
  Percent registered (Citizen) Margin of error for percent registered citizen
1 72.7                         0.4
2 59.8                         1.1000000000000001
3 68.400000000000006           0.9
4 71.900000000000006           0.9
5 75.7                         0.6
6 78.599999999999994           0.7
  Total voted Percent voted (Total) Margin of error percent voted total
1 154628      61.3                  0.4
2  13752      48                    1.1000000000000001
3  24091      53.7                  0.9
4  23421      56.4                  0.9
5  53646      65.5                  0.6
6  39718      71.900000000000006    0.7
  Percent voted (Citizen) Margin of error percent voted citizen
1 66.8                    0.4
2 51.4                    1.2
3 60.3                    0.9
4 65.099999999999994      1
5 71                      0.6
6 74.5                    0.7

In [21]:
#Creating the state titles and the year variable
age_2020$STATE <- na.locf(age_2020$STATE)
age_2020$Year <- 2020

#Getting rid of the total row since it is already in the race data and is identical
age_2020 <- age_2020[age_2020$Age != "Total", ]
head(age_2020, 20)

   STATE   Age      Total population Total citizen population Total registered
2  US      18 to 24 28659            26737                    15984
3  US      25 to 34 44871            39962                    27351
4  US      35 to 44 41558            35977                    25852
5  US      45 to 64 81912            75590                    57226
6  US      65+      55273            53326                    41895
8  ALABAMA 18 to 24   431              427                      218
9  ALABAMA 25 to 34   599              587                      376
10 ALABAMA 35 to 44   626              608                      415
11 ALABAMA 45 to 64  1261             1246                      900
12 ALABAMA 65+        852              848                      618
14 ALASKA  18 to 24    60               59                       38
15 ALASKA  25 to 34    97               94                       59
16 ALASKA  35 to 44   102               99                       74
17 ALASKA  45 to 64   177              174                      141
18 ALASKA  65+         92               91                       71
20 ARIZONA 18 to 24   653              629                      371
21 ARIZONA 25 to 34   941              850                      619
22 ARIZONA 35 to 44   929              756                      565
23 ARIZONA 45 to 64  1833             1627                     1301
24 ARIZONA 65+       1282             1213                     1023
   Percent registered (Total) Margin of error for percent registered total
2  55.8                       1.1000000000000001
3  61                         0.9
4  62.2                       0.9
5  69.900000000000006         0.6
6  75.8                       0.7
8  50.6                       9.8000000000000007
9  62.8                       8
10 66.3                       7.7
11 71.400000000000006         5.2
12 72.5                       6.2
14 B                          B
15 60.7                       8
16 72.5                       7.2
17 79.8                       4.9000000000000004
18 77                         7.1
20 56.7                       8
21 65.8                       6.4
22 60.8                       6.6
23 70.900000000000006         4.4000000000000004
24 79.8                       4.5999999999999996
   Percent registered (Citizen) Margin of error for percent registered citizen
2  59.8                         1.1000000000000001
3  68.400000000000006           0.9
4  71.900000000000006           0.9
5  75.7                         0.6
6  78.599999999999994           0.7
8  51.1                         9.8000000000000007
9  64.2                         8.1
10 68.2                         7.7
11 72.2                         5.2
12 72.900000000000006           6.2
14 B                            B
15 63.1                         8.1
16 75.099999999999994           7.1
17 80.900000000000006           4.8
18 77.7                         7.1
20 59                           8.1
21 72.900000000000006           6.3
22 74.599999999999994           6.5
23 79.900000000000006           4.0999999999999996
24 84.4                         4.3
   Total voted Percent voted (Total) Margin of error percent voted total
2  13752       48                    1.1000000000000001
3  24091       53.7                  0.9
4  23421       56.4                  0.9
5  53646       65.5                  0.6
6  39718       71.900000000000006    0.7
8    194       44.9                  9.6999999999999993
9    315       52.6                  8.3000000000000007
10   365       58.3                  8
11   824       65.400000000000006    5.4
12   549       64.5                  6.7
14    29       B                     B
15    41       41.9                  8.1
16    62       60.5                  7.8
17   131       73.900000000000006    5.4
18    67       73                    7.5
20   327       50.1                  8.1
21   579       61.6                  6.5
22   509       54.8                  6.7
23  1242       67.8                  4.5
24   992       77.400000000000006    4.8
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  51.4                    1.2                                   2020
3  60.3                    0.9                                   2020
4  65.099999999999994      1                                     2020
5  71                      0.6                                   2020
6  74.5                    0.7                                   2020
8  45.4                    9.8000000000000007                    2020
9  53.7                    8.4                                   2020
10 60                      8.1                                   2020
11 66.2                    5.5                                   2020
12 64.8                    6.7                                   2020
14 B                       B                                     2020
15 43.6                    8.3000000000000007                    2020
16 62.6                    7.9                                   2020
17 75                      5.3                                   2020
18 73.599999999999994      7.5                                   2020
20 52                      8.1999999999999993                    2020
21 68.2                    6.6                                   2020
22 67.3                    7                                     2020
23 76.400000000000006      4.3                                   2020
24 81.8                    4.5999999999999996                    2020

In [22]:
#Recalculating the percents to get rid of the "B's"
age_2020$`Percent registered (Total)` <- ifelse(age_2020$`Total population` != 0,
                                                 100*age_2020$`Total registered` / age_2020$`Total population`,
                                                 0)

age_2020$`Percent registered (Citizen)` <- ifelse(age_2020$`Total citizen population` != 0,
                                                 100*age_2020$`Total registered` / age_2020$`Total citizen population`,
                                                 0)

age_2020$`Percent voted (Total)` <- ifelse(age_2020$`Total population` != 0,
                                                 100*age_2020$`Total voted` / age_2020$`Total population`,
                                                 0)

age_2020$`Percent voted (Citizen)` <- ifelse(age_2020$`Total citizen population` != 0,
                                                 100*age_2020$`Total voted` / age_2020$`Total citizen population`,
                                                 0)

In [23]:
head(age_2020)

  STATE   Age      Total population Total citizen population Total registered
2 US      18 to 24 28659            26737                    15984
3 US      25 to 34 44871            39962                    27351
4 US      35 to 44 41558            35977                    25852
5 US      45 to 64 81912            75590                    57226
6 US      65+      55273            53326                    41895
8 ALABAMA 18 to 24   431              427                      218
  Percent registered (Total) Margin of error for percent registered total
2 55.77306                   1.1000000000000001
3 60.95474                   0.9
4 62.20704                   0.9
5 69.86278                   0.6
6 75.79650                   0.7
8 50.58005                   9.8000000000000007
  Percent registered (Citizen) Margin of error for percent registered citizen
2 59.78232                     1.1000000000000001
3 68.44252                     0.9
4 71.85702                     0.9
5 75.70578                     0.6
6 78.56393                     0.7
8 51.05386                     9.8000000000000007
  Total voted Percent voted (Total) Margin of error percent voted total
2 13752       47.98493              1.1000000000000001
3 24091       53.68947              0.9
4 23421       56.35738              0.9
5 53646       65.49224              0.6
6 39718       71.85787              0.7
8   194       45.01160              9.6999999999999993
  Percent voted (Citizen) Margin of error percent voted citizen Year
2 51.43434                1.2                                   2020
3 60.28477                0.9                                   2020
4 65.09992                1                                     2020
5 70.96970                0.6                                   2020
6 74.48149                0.7                                   2020
8 45.43326                9.8000000000000007                    2020

In [24]:
#Pivoting to the desired format
age_2020_final <- pivot_wider(age_2020, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [25]:
head(age_2020_final)

  STATE      Year Total population_18 to 24 Total population_25 to 34
1 US         2020 28659                     44871
2 ALABAMA    2020   431                       599
3 ALASKA     2020    60                        97
4 ARIZONA    2020   653                       941
5 ARKANSAS   2020   263                       420
6 CALIFORNIA 2020  3685                      5953
  Total population_35 to 44 Total population_45 to 64 Total population_65+
1 41558                     81912                     55273
2   626                      1261                       852
3   102                       177                        92
4   929                      1833                      1282
5   341                       706                       553
6  5090                      9499                      6117
  Total citizen population_18 to 24 Total citizen population_25 to 34
1 26737                             39962
2   427                               587
3    59                                94
4   629                               850
5   261                               389
6  3334                              4957
  Total citizen population_35 to 44 ⋯ Percent voted (Citizen)_18 to 24
1 35977                             ⋯ 51.43434
2   608                             ⋯ 45.43326
3    99                             ⋯ 49.15254
4   756                             ⋯ 51.98728
5   319                             ⋯ 32.18391
6  4016                             ⋯ 53.56929
  Percent voted (Citizen)_25 to 34 Percent voted (Citizen)_35 to 44
1 60.28477                         65.09992
2 53.66269                         60.03289
3 43.61702                         62.62626
4 68.11765                         67.32804
5 45.24422                         56.11285
6 60.03631                         63.59562
  Percent voted (Citizen)_45 to 64 Percent voted (Citizen)_65+
1 70.96970                         74.48149
2 66.13162                         64.74057
3 75.28736                         73.62637
4 76.33682                         81.78071
5 58.97059                         63.25411
6 69.40926                         71.37310
  Margin of error percent voted citizen_18 to 24
1 1.2
2 9.8000000000000007
3 B
4 8.1999999999999993
5 9.5
6 3.6
  Margin of error percent voted citizen_25 to 34
1 0.9
2 8.4
3 8.3000000000000007
4 6.6
5 8.1999999999999993
6 2.9
  Margin of error percent voted citizen_35 to 44
1 1
2 8.1
3 7.9
4 7
5 9.1
6 3.1
  Margin of error percent voted citizen_45 to 64
1 0.6
2 5.5
3 5.3
4 4.3
5 6.2
6 2.1
  Margin of error percent voted citizen_65+
1 0.7
2 6.7
3 7.5
4 4.5999999999999996
5 6.7
6 2.5

In [26]:
write.csv(age_2020_final, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2020_final.csv", row.names = FALSE)

# Merging 2020 Age and Race Data

In [27]:
final_2020 <- merge(age_2020_final, race_2020_final, by = c("STATE", "Year"))

In [28]:
write.csv(final_2020, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2020.csv", row.names = FALSE)

# 2018 Data

## 2018 Race Data

In [29]:
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2018.xlsx"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2018.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [30]:
#Skipping comments in the original excel file
race_2018 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2018.csv", skip=5)
race_2018 <- race_2018[-(573:nrow(race_2018)), ]
head(race_2018)

  NA. NA..1                    NA..2  NA..3  Total.registered
1 US  Total                    249748 228832 153066
2 NA  Male                     120573 110006 71726
3 NA  Female                   129176 118826 81340
4 NA  White alone              194127 180522 123727
5 NA  White non-Hispanic alone 157610 154982 110054
6 NA  Black alone               31623  29758 19023
  Percent.registered..Total. Margin.of.error.1 Percent.registered..Citizen.
1 61.3                       0.3               66.900000000000006
2 59.5                       0.4               65.2
3 63                         0.4               68.5
4 63.7                       0.3               68.5
5 69.8                       0.4               71
6 60.2                       1                 63.9
  Margin.of.error.1.1 Total.voted Percent.voted..Total. Margin.of.error.1.2
1 0.3                 122281      49                    0.3
2 0.4                 56964       47.2                  0.4
3 0.4                 65317       50.6                  0.4
4 0.3                 99255       51.1                  0.3
5 0.4                 89075       56.5                  0.4
6 1                   15194       48                    1
  Percent.voted..Citizen. Margin.of.error.1.3
1 53.4                    0.3
2 51.8                    0.5
3 55                      0.4
4 55                      0.4
5 57.5                    0.4
6 51.1                    1.1000000000000001

In [31]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2018) <- col_names

In [32]:
#Creating the state titles and the year variable
race_2018$STATE <- na.locf(race_2018$STATE)
race_2018$Year <- 2018

In [33]:
head(race_2018)

  STATE Sex, Race, and Hispanic-Origin Total population
1 US    Total                          249748
2 US    Male                           120573
3 US    Female                         129176
4 US    White alone                    194127
5 US    White non-Hispanic alone       157610
6 US    Black alone                     31623
  Total citizen population Total registered Percent registered (Total)
1 228832                   153066           61.3
2 110006                   71726            59.5
3 118826                   81340            63
4 180522                   123727           63.7
5 154982                   110054           69.8
6  29758                   19023            60.2
  Margin of error for percent registered total Percent registered (Citizen)
1 0.3                                          66.900000000000006
2 0.4                                          65.2
3 0.4                                          68.5
4 0.3                                          68.5
5 0.4                                          71
6 1                                            63.9
  Margin of error for percent registered citizen Total voted
1 0.3                                            122281
2 0.4                                            56964
3 0.4                                            65317
4 0.3                                            99255
5 0.4                                            89075
6 1                                              15194
  Percent voted (Total) Margin of error percent voted total
1 49                    0.3
2 47.2                  0.4
3 50.6                  0.4
4 51.1                  0.3
5 56.5                  0.4
6 48                    1
  Percent voted (Citizen) Margin of error percent voted citizen Year
1 53.4                    0.3                                   2018
2 51.8                    0.5                                   2018
3 55                      0.4                                   2018
4 55                      0.4                                   2018
5 57.5                    0.4                                   2018
6 51.1                    1.1000000000000001                    2018

In [34]:
#Changing the '-' entries to 0, as they signify
race_2018[race_2018 == '-'] <- 0

In [35]:
#Converting columns to numerics
race_2018$`Total registered` <- as.numeric(race_2018$`Total registered`)
race_2018$`Total voted` <- as.numeric(race_2018$`Total voted`)

In [36]:
#Recalculating the percents to get rid of the "B's"
race_2018$`Percent registered (Total)` <- ifelse(race_2018$`Total population` != 0,
                                                 100*race_2018$`Total registered` / race_2018$`Total population`,
                                                 0)

race_2018$`Percent registered (Citizen)` <- ifelse(race_2018$`Total citizen population` != 0,
                                                 100*race_2018$`Total registered` / race_2018$`Total citizen population`,
                                                 0)

race_2018$`Percent voted (Total)` <- ifelse(race_2018$`Total population` != 0,
                                                 100*race_2018$`Total voted` / race_2018$`Total population`,
                                                 0)

race_2018$`Percent voted (Citizen)` <- ifelse(race_2018$`Total citizen population` != 0,
                                                 100*race_2018$`Total voted` / race_2018$`Total citizen population`,
                                                 0)

In [37]:
head(race_2018)

  STATE Sex, Race, and Hispanic-Origin Total population
1 US    Total                          249748
2 US    Male                           120573
3 US    Female                         129176
4 US    White alone                    194127
5 US    White non-Hispanic alone       157610
6 US    Black alone                     31623
  Total citizen population Total registered Percent registered (Total)
1 228832                   153066           61.28818
2 110006                    71726           59.48761
3 118826                    81340           62.96835
4 180522                   123727           63.73508
5 154982                   110054           69.82679
6  29758                    19023           60.15558
  Margin of error for percent registered total Percent registered (Citizen)
1 0.3                                          66.89012
2 0.4                                          65.20190
3 0.4                                          68.45303
4 0.3                                          68.53846
5 0.4                                          71.01083
6 1                                            63.92567
  Margin of error for percent registered citizen Total voted
1 0.3                                            122281
2 0.4                                             56964
3 0.4                                             65317
4 0.3                                             99255
5 0.4                                             89075
6 1                                               15194
  Percent voted (Total) Margin of error percent voted total
1 48.96175              0.3
2 47.24441              0.4
3 50.56435              0.4
4 51.12890              0.3
5 56.51608              0.4
6 48.04731              1
  Percent voted (Citizen) Margin of error percent voted citizen Year
1 53.43702                0.3                                   2018
2 51.78263                0.5                                   2018
3 54.96861                0.4                                   2018
4 54.98222                0.4                                   2018
5 57.47442                0.4                                   2018
6 51.05854                1.1000000000000001                    2018

In [38]:
#Pivoting to the desired format
race_2018_final <- pivot_wider(race_2018, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [39]:
head(race_2018_final)

  STATE      Year Total population_Total Total population_Male
1 US         2018 249748                 120573
2 ALABAMA    2018   3753                   1772
3 ALASKA     2018    523                    265
4 ARIZONA    2018   5361                   2606
5 ARKANSAS   2018   2261                   1093
6 CALIFORNIA 2018  30243                  14767
  Total population_Female Total population_White alone
1 129176                  194127
2   1982                    2610
3    258                     330
4   2755                    4635
5   1169                    1833
6  15476                   21467
  Total population_White non-Hispanic alone Total population_Black alone
1 157610                                    31623
2   2494                                      976
3    314                                       16
4   3128                                      257
5   1678                                      327
6  11986                                     1912
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 15659                        41049                                   ⋯
2    61                          169                                   ⋯
3    55                           20                                   ⋯
4   198                         1624                                   ⋯
5    37                          172                                   ⋯
6  5222                        10595                                   ⋯
  Margin of error percent voted citizen_Male
1 0.5
2 4
3 4.0999999999999996
4 3.5
5 4
6 1.5
  Margin of error percent voted citizen_Female
1 0.4
2 3.7
3 4.2
4 3.2
5 3.9
6 1.4
  Margin of error percent voted citizen_White alone
1 0.4
2 3.2
3 3.6
4 2.5
5 3.1
6 1.2
  Margin of error percent voted citizen_White non-Hispanic alone
1 0.4
2 3.3
3 3.6
4 2.8
5 3.2
6 1.5
  Margin of error percent voted citizen_Black alone
1 1.1000000000000001
2 6.3
3 B
4 13.4
5 8.8000000000000007
6 4.7
  Margin of error percent voted citizen_Asian alone
1 1.8
2 B
3 B
4 20.2
5 B
6 3.3
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.4
2 26.6
3 B
4 7.5
5 16.600000000000001
6 3
  Margin of error percent voted citizen_White alone or in combination
1 0.4
2 3.2
3 3.4
4 2.5
5 3.1
6 1.2
  Margin of error percent voted citizen_Black alone or in combination
1 1.1000000000000001
2 6.3
3 B
4 13
5 8.6999999999999993
6 4.5
  Margin of error percent voted citizen_Asian alone or in combination
1 1.7
2 B
3 B
4 19.100000000000001
5 B
6 3.1

## 2018 Age

In [40]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2018.xlsx"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2018.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [41]:
#Skipping comments in the original excel file
age_2018 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2018.csv", skip=5)
age_2018 <- age_2018[-(313:nrow(age_2018)), ]

In [42]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(age_2018) <- col_names

In [43]:
#Creating the state titles and the year variable
age_2018$STATE <- na.locf(age_2018$STATE)
age_2018$Year <- 2018
#Getting rid of the total row since it is already in the race data and is identical
age_2018 <- age_2018[age_2018$Age != "Total", ]
head(age_2018, 20)

   STATE   Age      Total population Total citizen population Total registered
2  US      18 to 24 28993            26950                    13241
3  US      25 to 34 44769            39280                    23342
4  US      35 to 44 40784            35403                    23383
5  US      45 to 64 83277            77085                    55032
6  US      65+      51925            50113                    38068
8  ALABAMA 18 to 24   458              434                      221
9  ALABAMA 25 to 34   660              619                      425
10 ALABAMA 35 to 44   556              508                      341
11 ALABAMA 45 to 64  1340             1313                      933
12 ALABAMA 65+        740              735                      571
14 ALASKA  18 to 24    76               69                       36
15 ALASKA  25 to 34   104               99                       57
16 ALASKA  35 to 44    76               72                       52
17 ALASKA  45 to 64   173              167                      121
18 ALASKA  65+         94               91                       70
20 ARIZONA 18 to 24   652              619                      302
21 ARIZONA 25 to 34   876              729                      360
22 ARIZONA 35 to 44   873              714                      541
23 ARIZONA 45 to 64  1834             1637                     1229
24 ARIZONA 65+       1126             1057                      830
   Percent registered (Total) Margin of error for percent registered total
2  45.7                       0.9
3  52.1                       0.7
4  57.3                       0.8
5  66.099999999999994         0.5
6  73.3                       0.6
8  48.2                       7.6
9  64.400000000000006         6.1
10 61.3                       6.8
11 69.7                       4.0999999999999996
12 77.099999999999994         5
14 48.3                       7.5
15 55.1                       6.4
16 68.099999999999994         7
17 69.8                       4.5
18 74.7                       5.9
20 46.3                       6.5
21 41.1                       5.5
22 62                         5.4
23 67                         3.6
24 73.7                       4.3
   Percent registered (Citizen) Margin of error for percent registered citizen
2  49.1                         0.9
3  59.4                         0.8
4  66                           0.8
5  71.400000000000006           0.5
6  76                           0.6
8  50.8                         7.8
9  68.599999999999994           6.1
10 67.099999999999994           6.8
11 71.099999999999994           4.0999999999999996
12 77.7                         5
14 B                            B
15 58                           6.5
16 B                            B
17 72.7                         4.5
18 77                           5.8
20 48.8                         6.7
21 49.4                         6.1
22 75.8                         5.3
23 75                           3.5
24 78.5                         4.2
   Total voted Percent voted (Total) Margin of error percent voted total
2   8726       30.1                  0.8
3  16545       37                    0.7
4  18041       44.2                  0.8
5  45829       55                    0.5
6  33139       63.8                  0.6
8    130       28.3                  6.9
9    262       39.799999999999997    6.2
10   239       43                    6.9
11   736       54.9                  4.4000000000000004
12   463       62.6                  5.8
14    27       35.5                  7.2
15    39       37.5                  6.2
16    39       51.4                  7.5
17    98       56.8                  4.9000000000000004
18    59       63                    6.5
20   217       33.299999999999997    6.1
21   287       32.799999999999997    5.3
22   407       46.6                  5.6
23  1090       59.4                  3.8
24   799       71                    4.5
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  32.4                    0.9                                   2018
3  42.1                    0.8                                   2018
4  51                      0.8                                   2018
5  59.5                    0.5                                   2018
6  66.099999999999994      0.7                                   2018
8  29.9                    7.2                                   2018
9  42.4                    6.5                                   2018
10 47.1                    7.2                                   2018
11 56                      4.5                                   2018
12 63.1                    5.8                                   2018
14 B                       B                                     2018
15 39.6                    6.4                                   2018
16 B                       B                                     2018
17 59.1                    5                                     2018
18 65                      6.5                                   2018
20 35                      6.4                                   2018
21 39.4                    6                                     2018
22 57                      6.1                                   2018
23 66.599999999999994      3.9                                   2018
24 75.599999999999994      4.4000000000000004                    2018

In [44]:
#Changing the '-' entries to 0, as they signify
age_2018[age_2018 == '-'] <- 0

In [45]:
#Recalculating the percents to get rid of the "B's"
age_2018$`Percent registered (Total)` <- ifelse(age_2018$`Total population` != 0,
                                                 100*age_2018$`Total registered` / age_2018$`Total population`,
                                                 0)

age_2018$`Percent registered (Citizen)` <- ifelse(age_2018$`Total citizen population` != 0,
                                                 100*age_2018$`Total registered` / age_2018$`Total citizen population`,
                                                 0)

age_2018$`Percent voted (Total)` <- ifelse(age_2018$`Total population` != 0,
                                                 100*age_2018$`Total voted` / age_2018$`Total population`,
                                                 0)

age_2018$`Percent voted (Citizen)` <- ifelse(age_2018$`Total citizen population` != 0,
                                                 100*age_2018$`Total voted` / age_2018$`Total citizen population`,
                                                 0)

In [46]:
#Pivoting to the desired format
age_2018_final <- pivot_wider(age_2018, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

## Merging 2018 Age and Race Data

In [47]:
final_2018 <- merge(age_2018_final, race_2018_final, by = c("STATE", "Year"))

In [48]:
write.csv(final_2018, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2018.csv", row.names = FALSE)

# 2016 Data

## 2016 Race and Sex Data

In [49]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2016.xlsx"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2016.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [50]:
#Skipping comments in the original excel file
race_2016 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2016.csv", skip=4)
race_2016 <- race_2016[-(573:nrow(race_2016)), ]

In [51]:
#Checking that I skipped correctly
tail(race_2016, 20)

    NA.     NA..1                         NA..2 NA..3 Total.registered
553 NA      Female                        2272  2222  1739
554 NA      White alone                   4079  3998  3130
555 NA      White non-Hispanic alone      3792  3776  3009
556 NA      Black alone                    205   197  101
557 NA      Asian alone                    118    95  50
558 NA      Hispanic (of any race)         329   260  136
559 NA      White alone or in combination 4129  4049  3165
560 NA      Black alone or in combination  241   233  122
561 NA      Asian alone or in combination  129   106  62
562 WYOMING Total                          436   427  304
563 NA      Male                           223   218  154
564 NA      Female                         213   209  150
565 NA      White alone                    405   399  284
566 NA      White non-Hispanic alone       374   373  270
567 NA      Black alone                      5     5  4
568 NA      Asian alone                      6     4  3
569 NA      Hispanic (of any race)          32    26  15
570 NA      White alone or in combination  409   404  289
571 NA      Black alone or in combination    6     6  6
572 NA      Asian alone or in combination    7     4  3
    Percent.registered..Total. Margin.of.Error.1  Percent.registered..Citizen.
553 76.5                       2.9                78.3
554 76.7                       2.2000000000000002 78.3
555 79.400000000000006         2.2000000000000002 79.7
556 49.3                       14                 51.2
557 B                          B                  B
558 41.2                       14.1               52.1
559 76.599999999999994         2.2000000000000002 78.2
560 50.5                       12.9               52.2
561 48                         18.399999999999999 58.3
562 69.7                       2.7                71.099999999999994
563 69.099999999999994         3.8                70.599999999999994
564 70.3                       3.8                71.7
565 70.2                       2.8                71.2
566 72.2                       2.8                72.3
567 B                          B                  B
568 B                          B                  B
569 B                          B                  B
570 70.5                       2.8                71.599999999999994
571 B                          B                  B
572 B                          B                  B
    Margin.of.Error.1.1 Total.voted Percent.voted..Total. Margin.of.Error.1.2
553 2.9                 1600        70.400000000000006    3.2
554 2.2000000000000002  2897        71                    2.4
555 2.2000000000000002  2796        73.7                  2.4
556 14.3                92          45.1                  13.9
557 B                   45          B                     B
558 16.100000000000001  111         33.799999999999997    13.6
559 2.2000000000000002  2923        70.8                  2.2999999999999998
560 13.1                104         43.4                  12.8
561 20                  57          43.8                  18.3
562 2.7                 277         63.5                  2.8
563 3.8                 139         62.4                  4
564 3.8                 138         64.7                  4
565 2.8                 260         64.3                  2.9
566 2.8                 249         66.599999999999994    3
567 B                   3           B                     B
568 B                   3           B                     B
569 B                   12          B                     B
570 2.8                 264         64.599999999999994    2.9
571 B                   4           B                     B
572 B                   3           B                     B
    Percent.voted..Citizen. Margin.of.Error.1.3
553 72                      3.2
554 72.5                    2.2999999999999998
555 74                      2.4
556 46.8                    14.2
557 B                       B
558 42.8                    16
559 72.2                    2.2999999999999998
560 44.8                    13.1
561 53.3                    20.3
562 64.8                    2.8
563 63.7                    4
564 66                      4
565 65.3                    2.9
566 66.8                    3
567 B                       B
568 B                       B
569 B                       B
570 65.5                    2.9
571 B                       B
572 B                       B

In [52]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2016) <- col_names

In [53]:
#Creating the state titles and the year variable
race_2016$STATE <- na.locf(race_2016$STATE)
race_2016$Year <- 2016

In [54]:
head(race_2016, 30)

   STATE   Sex, Race, and Hispanic-Origin Total population
1  US      Total                          245502
2  US      Male                           118488
3  US      Female                         127013
4  US      White alone                    192129
5  US      White non-Hispanic alone       157395
6  US      Black alone                     30608
7  US      Asian alone                     14881
8  US      Hispanic (of any race)          38990
9  US      White alone or in combination  195716
10 US      Black alone or in combination   32211
11 US      Asian alone or in combination   15750
12 ALABAMA Total                            3717
13 ALABAMA Male                             1761
14 ALABAMA Female                           1955
15 ALABAMA White alone                      2633
16 ALABAMA White non-Hispanic alone         2532
17 ALABAMA Black alone                       962
18 ALABAMA Asian alone                        27
19 ALABAMA Hispanic (of any race)            117
20 ALABAMA White alone or in combination    2673
21 ALABAMA Black alone or in combination     985
22 ALABAMA Asian alone or in combination      36
23 ALASKA  Total                             518
24 ALASKA  Male                              267
25 ALASKA  Female                            251
26 ALASKA  White alone                       346
27 ALASKA  White non-Hispanic alone          334
28 ALASKA  Black alone                        17
29 ALASKA  Asian alone                        27
30 ALASKA  Hispanic (of any race)             24
   Total citizen population Total registered Percent registered (Total)
1  224059                   157596           64.2
2  107554                   73761            62.3
3  116505                   83835            66
4  177865                   127463           66.3
5  154450                   114151           72.5
6   28808                   19984            65.3
7   10283                   5785             38.9
8   26662                   15267            39.200000000000003
9  181268                   129664           66.3
10  30326                   20935            65
11  11118                   6369             40.4
12   3651                   2526             68
13   1718                   1155             65.599999999999994
14   1933                   1371             70.099999999999994
15   2604                   1772             67.3
16   2526                   1742             68.8
17    953                   694              72.2
18     10                   3                B
19     83                   32               B
20   2644                   1801             67.400000000000006
21    976                   704              71.5
22     19                   6                B
23    502                   358              69.099999999999994
24    258                   181              67.900000000000006
25    243                   177              70.3
26    340                   261              75.5
27    329                   252              75.5
28     17                   10               B
29     19                   9                B
30     23                   17               B
   Margin of error for percent registered total Percent registered (Citizen)
1  0.3                                          70.3
2  0.4                                          68.599999999999994
3  0.4                                          72
4  0.3                                          71.7
5  0.3                                          73.900000000000006
6  1                                            69.400000000000006
7  1.6                                          56.3
8  1.2                                          57.3
9  0.3                                          71.5
10 1                                            69
11 1.5                                          57.3
12 2.5                                          69.2
13 3.7                                          67.2
14 3.4                                          70.900000000000006
15 3                                            68
16 3                                            69
17 5.7                                          72.8
18 B                                            B
19 B                                            B
20 3                                            68.099999999999994
21 5.7                                          72.099999999999994
22 B                                            B
23 2.6                                          71.3
24 3.7                                          70.099999999999994
25 3.8                                          72.599999999999994
26 3                                            76.8
27 3.1                                          76.7
28 B                                            B
29 B                                            B
30 B                                            B
   Margin of error for percent registered citizen Total voted
1  0.3                                            137537
2  0.4                                            63801
3  0.4                                            73735
4  0.3                                            111891
5  0.3                                            100849
6  1                                              17119
7  1.9                                            5043
8  1.5                                            12682
9  0.3                                            113707
10 1                                              17875
11 1.8                                            5542
12 2.5                                            2095
13 3.7                                            944
14 3.4                                            1151
15 3                                              1465
16 3                                              1441
17 5.7                                            579
18 B                                              3
19 B                                              27
20 3                                              1489
21 5.7                                            587
22 B                                              6
23 2.6                                            308
24 3.7                                            152
25 3.7                                            156
26 3                                              234
27 3                                              226
28 B                                              8
29 B                                              8
30 B                                              17
   Percent voted (Total) Margin of error percent voted total
1  56                    0.3
2  53.8                  0.4
3  58.1                  0.4
4  58.2                  0.3
5  64.099999999999994    0.4
6  55.9                  1.1000000000000001
7  33.9                  1.5
8  32.5                  1.1000000000000001
9  58.1                  0.3
10 55.5                  1
11 35.200000000000003    1.5
12 56.4                  2.7
13 53.6                  3.9
14 58.9                  3.6
15 55.6                  3.2
16 56.9                  3.2
17 60.2                  6.2
18 B                     B
19 B                     B
20 55.7                  3.1
21 59.6                  6.2
22 B                     B
23 59.4                  2.8
24 57                    4
25 62                    4
26 67.7                  3.3
27 67.7                  3.3
28 B                     B
29 B                     B
30 B                     B
   Percent voted (Citizen) Margin of error percent voted citizen Year
1  61.4                    0.3                                   2016
2  59.3                    0.5                                   2016
3  63.3                    0.4                                   2016
4  62.9                    0.4                                   2016
5  65.3                    0.4                                   2016
6  59.4                    1.1000000000000001                    2016
7  49                      1.9                                   2016
8  47.6                    1.5                                   2016
9  62.7                    0.3                                   2016
10 58.9                    1.1000000000000001                    2016
11 49.9                    1.8                                   2016
12 57.4                    2.7                                   2016
13 54.9                    3.9                                   2016
14 59.6                    3.6                                   2016
15 56.2                    3.2                                   2016
16 57                      3.2                                   2016
17 60.8                    6.3                                   2016
18 B                       B                                     2016
19 B                       B                                     2016
20 56.3                    3.2                                   2016
21 60.2                    6.2                                   2016
22 B                       B                                     2016
23 61.3                    2.8                                   2016
24 58.8                    4                                     2016
25 64                      4                                     2016
26 68.900000000000006      3.3                                   2016
27 68.7                    3.3                                   2016
28 B                       B                                     2016
29 B                       B                                     2016
30 B                       B                                     2016

In [55]:
#Changing the '-' entries to 0, as they signify
race_2016[race_2016 == '-'] <- 0

In [56]:
#Converting columns to numerics
race_2016$`Total registered` <- as.numeric(race_2016$`Total registered`)
race_2016$`Total voted` <- as.numeric(race_2016$`Total voted`)

In [57]:
#Recalculating the percents to get rid of the "B's"
race_2016$`Percent registered (Total)` <- ifelse(race_2016$`Total population` != 0,
                                                 100*race_2016$`Total registered` / race_2016$`Total population`,
                                                 0)

race_2016$`Percent registered (Citizen)` <- ifelse(race_2016$`Total citizen population` != 0,
                                                 100*race_2016$`Total registered` / race_2016$`Total citizen population`,
                                                 0)

race_2016$`Percent voted (Total)` <- ifelse(race_2016$`Total population` != 0,
                                                 100*race_2016$`Total voted` / race_2016$`Total population`,
                                                 0)

race_2016$`Percent voted (Citizen)` <- ifelse(race_2016$`Total citizen population` != 0,
                                                 100*race_2016$`Total voted` / race_2016$`Total citizen population`,
                                                 0)

In [58]:
#Pivoting to the desired format
race_2016_final <- pivot_wider(race_2016, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [59]:
head(race_2016_final)

  STATE      Year Total population_Total Total population_Male
1 US         2016 245502                 118488
2 ALABAMA    2016   3717                   1761
3 ALASKA     2016    518                    267
4 ARIZONA    2016   5196                   2525
5 ARKANSAS   2016   2216                   1055
6 CALIFORNIA 2016  29894                  14604
  Total population_Female Total population_White alone
1 127013                  192129
2   1955                    2633
3    251                     346
4   2671                    4471
5   1161                    1822
6  15289                   21592
  Total population_White non-Hispanic alone Total population_Black alone
1 157395                                    30608
2   2532                                      962
3    334                                       17
4   2940                                      252
5   1689                                      321
6  12480                                     1849
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 14881                        38990                                   ⋯
2    27                          117                                   ⋯
3    27                           24                                   ⋯
4   169                         1613                                   ⋯
5    36                          135                                   ⋯
6  4838                        10221                                   ⋯
  Margin of error percent voted citizen_Male
1 0.5
2 3.9
3 4
4 3.5
5 4.0999999999999996
6 1.5
  Margin of error percent voted citizen_Female
1 0.4
2 3.6
3 4
4 3.3
5 3.9
6 1.4
  Margin of error percent voted citizen_White alone
1 0.4
2 3.2
3 3.3
4 2.5
5 3.1
6 1.2
  Margin of error percent voted citizen_White non-Hispanic alone
1 0.4
2 3.2
3 3.3
4 2.9
5 3.1
6 1.4
  Margin of error percent voted citizen_Black alone
1 1.1000000000000001
2 6.3
3 B
4 13
5 8.8000000000000007
6 4.8
  Margin of error percent voted citizen_Asian alone
1 1.9
2 B
3 B
4 20.100000000000001
5 B
6 3.5
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.5
2 B
3 B
4 7.7
5 B
6 3.1
  Margin of error percent voted citizen_White alone or in combination
1 0.3
2 3.2
3 3.2
4 2.5
5 3.1
6 1.2
  Margin of error percent voted citizen_Black alone or in combination
1 1.1000000000000001
2 6.2
3 B
4 12
5 8.6999999999999993
6 4.5
  Margin of error percent voted citizen_Asian alone or in combination
1 1.8
2 B
3 B
4 19.3
5 B
6 3.4

## 2016 Age Data

In [60]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2016.xlsx"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2016.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [61]:
#Skipping comments in the original excel file
age_2016 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2016.csv", skip=4)
head(age_2016)
tail(age_2016, 20)
age_2016 <- age_2016[-(313:nrow(age_2016)), ]

  NA. NA..1    NA..2  NA..3  Total.registered Percent.registered..Total.
1 US  Total    245502 224059 157596           64.2
2 NA  18 to 24  29320  26913  14905           50.8
3 NA  25 to 34  43794  38283  24682           56.4
4 NA  35 to 44  39905  34327  23948           60
5 NA  45 to 64  83799  77544  57394           68.5
6 NA  65+       48684  46993  36667           75.3
  Margin.of.Error.1 Percent.registered..Citizen. Margin.of.Error.1.1
1 0.3               70.3                         0.3
2 0.9               55.4                         0.9
3 0.7               64.5                         0.8
4 0.8               69.8                         0.8
5 0.5               74                           0.5
6 0.6               78                           0.6
  Total.voted Percent.voted..Total. Margin.of.Error.1.2 Percent.voted..Citizen.
1 137537      56                    0.3                 61.4
2  11560      39.4                  0.9                 43
3  20332      46.4                  0.7                 53.1
4  20662      51.8                  0.8                 60.2
5  51668      61.7                  0.5                 66.599999999999994
6  33314      68.400000000000006    0.6                 70.900000000000006
  Margin.of.Error.1.3
1 0.3
2 0.9
3 0.8
4 0.8
5 0.5
6 0.6

    NA.
298 NA
299 NA
300 NA
301 WISCONSIN
302 NA
303 NA
304 NA
305 NA
306 NA
307 WYOMING
308 NA
309 NA
310 NA
311 NA
312 NA
313 1 This figure added to or subtracted from the estimate provides the 90-percent confidence interval.
314 NA
315 NOTES: A dash '-' represents zero or rounds to zero. The symbol B means that the citizen population base is less than 100,000 and therefore too small to show the derived measure.
316 NA
317 Source: U.S. Census Bureau, Current Population Survey, November 2016
    NA..1    NA..2 NA..3 Total.registered Percent.registered..Total.
298 35 to 44  206   204   116             56.3
299 45 to 64  513   509   329             64.2
300 65+       334   334   249             74.3
301 Total    4465  4354  3323             74.400000000000006
302 18 to 24  547   530   269             49.2
303 25 to 34  704   678   436             62
304 35 to 44  724   701   573             79.099999999999994
305 45 to 64 1520  1479  1236             81.3
306 65+       970   966   809             83.4
307 Total     436   427   304             69.7
308 18 to 24   57    55    33             B
309 25 to 34   75    73    47             B
310 35 to 44   70    68    46             B
311 45 to 64  151   148   110             72.900000000000006
312 65+        83    83    68             B
313 NA         NA    NA    NA             NA
314 NA         NA    NA    NA             NA
315 NA         NA    NA    NA             NA
316 NA         NA    NA    NA             NA
317 NA         NA    NA    NA             NA
    Margin.of.Error.1  Percent.registered..Citizen. Margin.of.Error.1.1
298 7.5                57.1                         7.5
299 4.5999999999999996 64.7                         4.5999999999999996
300 5.2                74.5                         5.2
301 2.2000000000000002 76.3                         2.1
302 7.1                50.7                         7.2
303 6.1                64.3                         6.1
304 5                  81.8                         4.8
305 3.3                83.5                         3.2
306 4                  83.8                         3.9
307 2.7                71.099999999999994           2.7
308 B                  B                            B
309 B                  B                            B
310 B                  B                            B
311 4.4000000000000004 74.2                         4.4000000000000004
312 B                  B                            B
313 NA                 NA                           NA
314 NA                 NA                           NA
315 NA                 NA                           NA
316 NA                 NA                           NA
317 NA                 NA                           NA
    Total.voted Percent.voted..Total. Margin.of.Error.1.2
298   96        46.6                  7.6
299  268        52.2                  4.8
300  211        63.1                  5.7
301 3068        68.7                  2.2999999999999998
302  249        45.6                  7.1
303  370        52.6                  6.2
304  527        72.7                  5.5
305 1169        76.900000000000006    3.6
306  753        77.599999999999994    4.4000000000000004
307  277        63.5                  2.8
308   30        B                     B
309   42        B                     B
310   40        B                     B
311  102        67.400000000000006    4.7
312   63        B                     B
313   NA        NA                    NA
314   NA        NA                    NA
315   NA        NA                    NA
316   NA        NA                    NA
317   NA        NA                    NA
    Percent.voted..Citizen. Margin.of.Error.1.3
298 47.2                    7.6
299 52.6                    4.8
300 63.3                    5.7
301 70.5                    2.2999999999999998
302 47.1                    7.2
303 54.6                    6.3
304 75.2                    5.4
305 79                      3.5
306 77.900000000000006      4.4000000000000004
307 64.8                    2.8
308 B                       B
309 B                       B
310 B                       B
311 68.599999999999994      4.7
312 B                       B
313 NA                      NA
314 NA                      NA
315 NA                      NA
316 NA                      NA
317 NA                      NA

In [62]:
head(age_2016)

  NA. NA..1    NA..2  NA..3  Total.registered Percent.registered..Total.
1 US  Total    245502 224059 157596           64.2
2 NA  18 to 24  29320  26913  14905           50.8
3 NA  25 to 34  43794  38283  24682           56.4
4 NA  35 to 44  39905  34327  23948           60
5 NA  45 to 64  83799  77544  57394           68.5
6 NA  65+       48684  46993  36667           75.3
  Margin.of.Error.1 Percent.registered..Citizen. Margin.of.Error.1.1
1 0.3               70.3                         0.3
2 0.9               55.4                         0.9
3 0.7               64.5                         0.8
4 0.8               69.8                         0.8
5 0.5               74                           0.5
6 0.6               78                           0.6
  Total.voted Percent.voted..Total. Margin.of.Error.1.2 Percent.voted..Citizen.
1 137537      56                    0.3                 61.4
2  11560      39.4                  0.9                 43
3  20332      46.4                  0.7                 53.1
4  20662      51.8                  0.8                 60.2
5  51668      61.7                  0.5                 66.599999999999994
6  33314      68.400000000000006    0.6                 70.900000000000006
  Margin.of.Error.1.3
1 0.3
2 0.9
3 0.8
4 0.8
5 0.5
6 0.6

In [63]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(age_2016) <- col_names

In [64]:
head(age_2016)

  STATE Age      Total population Total citizen population Total registered
1 US    Total    245502           224059                   157596
2 NA    18 to 24  29320            26913                    14905
3 NA    25 to 34  43794            38283                    24682
4 NA    35 to 44  39905            34327                    23948
5 NA    45 to 64  83799            77544                    57394
6 NA    65+       48684            46993                    36667
  Percent registered (Total) Margin of error for percent registered total
1 64.2                       0.3
2 50.8                       0.9
3 56.4                       0.7
4 60                         0.8
5 68.5                       0.5
6 75.3                       0.6
  Percent registered (Citizen) Margin of error for percent registered citizen
1 70.3                         0.3
2 55.4                         0.9
3 64.5                         0.8
4 69.8                         0.8
5 74                           0.5
6 78                           0.6
  Total voted Percent voted (Total) Margin of error percent voted total
1 137537      56                    0.3
2  11560      39.4                  0.9
3  20332      46.4                  0.7
4  20662      51.8                  0.8
5  51668      61.7                  0.5
6  33314      68.400000000000006    0.6
  Percent voted (Citizen) Margin of error percent voted citizen
1 61.4                    0.3
2 43                      0.9
3 53.1                    0.8
4 60.2                    0.8
5 66.599999999999994      0.5
6 70.900000000000006      0.6

In [65]:
#Creating the state titles and the year variable
age_2016$STATE <- na.locf(age_2016$STATE)
age_2016$Year <- 2016
#Getting rid of the total row since it is already in the race data and is identical
age_2016 <- age_2016[age_2016$Age != "Total", ]
head(age_2016, 20)

   STATE   Age      Total population Total citizen population Total registered
2  US      18 to 24 29320            26913                    14905
3  US      25 to 34 43794            38283                    24682
4  US      35 to 44 39905            34327                    23948
5  US      45 to 64 83799            77544                    57394
6  US      65+      48684            46993                    36667
8  ALABAMA 18 to 24   513              497                      283
9  ALABAMA 25 to 34   583              568                      393
10 ALABAMA 35 to 44   566              548                      363
11 ALABAMA 45 to 64  1293             1280                      881
12 ALABAMA 65+        761              758                      606
14 ALASKA  18 to 24    65               65                       32
15 ALASKA  25 to 34   113              109                       71
16 ALASKA  35 to 44    83               79                       58
17 ALASKA  45 to 64   180              174                      138
18 ALASKA  65+         77               75                       59
20 ARIZONA 18 to 24   735              654                      346
21 ARIZONA 25 to 34   854              729                      460
22 ARIZONA 35 to 44   776              663                      423
23 ARIZONA 45 to 64  1736             1510                     1143
24 ARIZONA 65+       1096             1028                      774
   Percent registered (Total) Margin of error for percent registered total
2  50.8                       0.9
3  56.4                       0.7
4  60                         0.8
5  68.5                       0.5
6  75.3                       0.6
8  55.2                       7.2
9  67.5                       6.3
10 64.099999999999994         6.6
11 68.099999999999994         4.2
12 79.5                       4.8
14 B                          B
15 62.6                       5.9
16 B                          B
17 77                         4.0999999999999996
18 B                          B
20 47.1                       6.1
21 53.9                       5.7
22 54.5                       5.9
23 65.900000000000006         3.8
24 70.599999999999994         4.5999999999999996
   Percent registered (Citizen) Margin of error for percent registered citizen
2  55.4                         0.9
3  64.5                         0.8
4  69.8                         0.8
5  74                           0.5
6  78                           0.6
8  57                           7.3
9  69.2                         6.3
10 66.3                         6.6
11 68.8                         4.2
12 79.900000000000006           4.8
14 B                            B
15 64.8                         6
16 B                            B
17 79.599999999999994           4
18 B                            B
20 52.8                         6.5
21 63.1                         5.9
22 63.7                         6.2
23 75.7                         3.7
24 75.3                         4.5
   Total voted Percent voted (Total) Margin of error percent voted total
2  11560       39.4                  0.9
3  20332       46.4                  0.7
4  20662       51.8                  0.8
5  51668       61.7                  0.5
6  33314       68.400000000000006    0.6
8    212       41.4                  7.1
9    310       53.1                  6.8
10   306       54                    6.8
11   761       58.8                  4.5
12   507       66.5                  5.6
14    26       B                     B
15    58       51                    6.1
16    48       B                     B
17   122       67.900000000000006    4.5
18    54       B                     B
20   263       35.799999999999997    5.9
21   377       44.1                  5.6
22   349       45                    5.9
23  1038       59.8                  3.9
24   743       67.8                  4.7
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  43                      0.9                                   2016
3  53.1                    0.8                                   2016
4  60.2                    0.8                                   2016
5  66.599999999999994      0.5                                   2016
6  70.900000000000006      0.6                                   2016
8  42.7                    7.3                                   2016
9  54.5                    6.8                                   2016
10 55.8                    6.9                                   2016
11 59.4                    4.5                                   2016
12 66.900000000000006      5.6                                   2016
14 B                       B                                     2016
15 52.7                    6.2                                   2016
16 B                       B                                     2016
17 70.2                    4.5                                   2016
18 B                       B                                     2016
20 40.200000000000003      6.3                                   2016
21 51.7                    6.1                                   2016
22 52.6                    6.4                                   2016
23 68.7                    4                                     2016
24 72.2                    4.5999999999999996                    2016

In [66]:
#Changing the '-' entries to 0, as they signify
age_2016[age_2016 == '-'] <- 0

In [67]:
#Recalculating the percents to get rid of the "B's"
age_2016$`Percent registered (Total)` <- ifelse(age_2016$`Total population` != 0,
                                                 100*age_2016$`Total registered` / age_2016$`Total population`,
                                                 0)

age_2016$`Percent registered (Citizen)` <- ifelse(age_2016$`Total citizen population` != 0,
                                                 100*age_2016$`Total registered` / age_2016$`Total citizen population`,
                                                 0)

age_2016$`Percent voted (Total)` <- ifelse(age_2016$`Total population` != 0,
                                                 100*age_2016$`Total voted` / age_2016$`Total population`,
                                                 0)

age_2016$`Percent voted (Citizen)` <- ifelse(age_2016$`Total citizen population` != 0,
                                                 100*age_2016$`Total voted` / age_2016$`Total citizen population`,
                                                 0)

In [68]:
#Pivoting to the desired format
age_2016_final <- pivot_wider(age_2016, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [69]:
head(age_2016_final)

  STATE      Year Total population_18 to 24 Total population_25 to 34
1 US         2016 29320                     43794
2 ALABAMA    2016   513                       583
3 ALASKA     2016    65                       113
4 ARIZONA    2016   735                       854
5 ARKANSAS   2016   187                       409
6 CALIFORNIA 2016  3760                      5742
  Total population_35 to 44 Total population_45 to 64 Total population_65+
1 39905                     83799                     48684
2   566                      1293                       761
3    83                       180                        77
4   776                      1736                      1096
5   387                       716                       516
6  5145                      9835                      5412
  Total citizen population_18 to 24 Total citizen population_25 to 34
1 26913                             38283
2   497                               568
3    65                               109
4   654                               729
5   180                               367
6  3308                              4579
  Total citizen population_35 to 44 ⋯ Percent voted (Citizen)_18 to 24
1 34327                             ⋯ 42.95322
2   548                             ⋯ 42.65594
3    79                             ⋯ 40.00000
4   663                             ⋯ 40.21407
5   362                             ⋯ 34.44444
6  3797                             ⋯ 42.65417
  Percent voted (Citizen)_25 to 34 Percent voted (Citizen)_35 to 44
1 53.10974                         60.19169
2 54.57746                         55.83942
3 53.21101                         60.75949
4 51.71468                         52.63952
5 47.13896                         58.28729
6 51.95458                         54.62207
  Percent voted (Citizen)_45 to 64 Percent voted (Citizen)_65+
1 66.63056                         70.89141
2 59.45312                         66.88654
3 70.11494                         72.00000
4 68.74172                         72.27626
5 64.84935                         67.25490
6 62.09404                         69.20283
  Margin of error percent voted citizen_18 to 24
1 0.9
2 7.3
3 B
4 6.3
5 9.3000000000000007
6 2.8
  Margin of error percent voted citizen_25 to 34
1 0.8
2 6.8
3 6.2
4 6.1
5 6.8
6 2.4
  Margin of error percent voted citizen_35 to 44
1 0.8
2 6.9
3 B
4 6.4
5 6.8
6 2.7
  Margin of error percent voted citizen_45 to 64
1 0.5
2 4.5
3 4.5
4 4
5 4.8
6 1.8
  Margin of error percent voted citizen_65+
1 0.6
2 5.6
3 B
4 4.5999999999999996
5 5.5
6 2.2000000000000002

# Merging 2016 Age and Race Data

In [70]:
final_2016 <- merge(age_2016_final, race_2016_final, by = c("STATE", "Year"))

In [71]:
write.csv(final_2016, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2016.csv", row.names = FALSE)

# 2014 Data

## 2014 Race and Sex Data

In [72]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2014.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2014.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [73]:
#Skipping comments in the original excel file
race_2014 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2014.csv", skip=3)
race_2014 <- race_2014[-(573:nrow(race_2014)), ]

In [74]:
#Checking that I skipped correctly
tail(race_2014, 20)

    State   Race.and.Hispanic.origin      Total.Population
553 NA      Female                        2220
554 NA      White alone                   3933
555 NA      .White non-Hispanic alone     3715
556 NA      Black alone                    230
557 NA      Asian alone                    106
558 NA      Hispanic (of any race)         248
559 NA      White alone or in combination 4011
560 NA      Black alone or in combination  270
561 NA      Asian alone or in combination  116
562 WYOMING Total                          441
563 NA      Male                           223
564 NA      Female                         217
565 NA      White alone                    407
566 NA      .White non-Hispanic alone      384
567 NA      Black alone                     11
568 NA      Asian alone                      3
569 NA      Hispanic (of any race)          29
570 NA      White alone or in combination  414
571 NA      Black alone or in combination   11
572 NA      Asian alone or in combination    4
    Total.Citizen.Population Total.registered Percent.registered..Total.
553 2173                     1572             70.799999999999997
554 3826                     2791             71
555 3689                     2727             73.400000000000006
556  227                     129              56.100000000000001
557   91                     30               28.800000000000001
558  168                     77               31
559 3904                     2846             71
560  267                     155              57.600000000000001
561  101                     33               28.5
562  427                     241              54.700000000000003
563  215                     117              52.600000000000001
564  212                     124              56.899999999999999
565  399                     227              55.799999999999997
566  381                     218              56.700000000000003
567    9                     5                (B)
568    1                     -                (B)
569   20                     9                (B)
570  406                     230              55.5
571    9                     5                (B)
572    2                     -                (B)
    Margin.of.Error1   Percent.registered..Citizen. Margin.of.Error
553 2.8999999999999999 72.400000000000006           2.8999999999999999
554 2.2000000000000002 72.900000000000006           2.2000000000000002
555 2.2000000000000002 73.900000000000006           2.2000000000000002
556 12                 56.799999999999997           12
557 16.800000000000001 33.600000000000001           19
558 14                 45.799999999999997           18.300000000000001
559 2.2000000000000002 72.900000000000006           2.2000000000000002
560 11                 58.200000000000003           11.1
561 16                 32.799999999999997           17.899999999999999
562 2.7000000000000002 56.5                         2.7000000000000002
563 3.7999999999999998 54.600000000000001           3.7999999999999998
564 3.7999999999999998 58.399999999999999           3.7999999999999998
565 2.7999999999999998 57                           2.7999999999999998
566 2.7999999999999998 57.200000000000003           2.7999999999999998
567 (B)                (B)                          (B)
568 (B)                (B)                          (B)
569 (B)                (B)                          (B)
570 2.7000000000000002 56.600000000000001           2.7999999999999998
571 (B)                (B)                          (B)
572 (B)                (B)                          (B)
    Total.voted Percent.voted..Total. Margin.of.Error.1
553 1203        54.200000000000003    3.2000000000000002
554 2213        56.299999999999997    2.3999999999999999
555 2170        58.399999999999999    2.3999999999999999
556 93          40.399999999999999    11.800000000000001
557 9           8.6999999999999993    10.5
558 53          21.399999999999999    12.4
559 2241        55.899999999999999    2.3999999999999999
560 110         40.899999999999999    11
561 12          10.199999999999999    10.800000000000001
562 172         39.100000000000001    2.6000000000000001
563 85          38                    3.6000000000000001
564 87          40.200000000000003    3.7000000000000002
565 164         40.299999999999997    2.7000000000000002
566 158         41                    2.7999999999999998
567 3           (B)                   (B)
568 -           (B)                   (B)
569 6           (B)                   (B)
570 166         40.100000000000001    2.7000000000000002
571 3           (B)                   (B)
572 -           (B)                   (B)
    Percent.voted..Citizen. Margin.of.Error.2
553 55.399999999999999      3.2000000000000002
554 57.799999999999997      2.3999999999999999
555 58.799999999999997      2.5
556 40.899999999999999      11.9
557 10.199999999999999      12.1
558 31.699999999999999      17.100000000000001
559 57.399999999999999      2.3999999999999999
560 41.399999999999999      11
561 11.699999999999999      12.300000000000001
562 40.299999999999997      2.7000000000000002
563 39.5                    3.7000000000000002
564 41.200000000000003      3.7999999999999998
565 41.100000000000001      2.7999999999999998
566 41.399999999999999      2.7999999999999998
567 (B)                     (B)
568 (B)                     (B)
569 (B)                     (B)
570 41                      2.7000000000000002
571 (B)                     (B)
572 (B)                     (B)

In [75]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2014) <- col_names

In [76]:
#Creating the state titles and the year variable
race_2014$STATE <- na.locf(race_2014$STATE)
race_2014$Year <- 2014

In [77]:
head(race_2014, 30)

   STATE         Sex, Race, and Hispanic-Origin Total population
1  UNITED STATES Total                          239874
2  UNITED STATES Male                           115637
3  UNITED STATES Female                         124237
4  UNITED STATES White alone                    189331
5  UNITED STATES .White non-Hispanic alone      156438
6  UNITED STATES Black alone                     29668
7  UNITED STATES Asian alone                     13495
8  UNITED STATES Hispanic (of any race)          36802
9  UNITED STATES White alone or in combination  192804
10 UNITED STATES Black alone or in combination   31078
11 UNITED STATES Asian alone or in combination   14367
12 ALABAMA       Total                            3656
13 ALABAMA       Male                             1734
14 ALABAMA       Female                           1922
15 ALABAMA       White alone                      2586
16 ALABAMA       .White non-Hispanic alone        2478
17 ALABAMA       Black alone                       922
18 ALABAMA       Asian alone                        51
19 ALABAMA       Hispanic (of any race)            136
20 ALABAMA       White alone or in combination    2660
21 ALABAMA       Black alone or in combination     937
22 ALABAMA       Asian alone or in combination      51
23 ALASKA        Total                             521
24 ALASKA        Male                              264
25 ALASKA        Female                            257
26 ALASKA        White alone                       340
27 ALASKA        .White non-Hispanic alone         318
28 ALASKA        Black alone                        18
29 ALASKA        Asian alone                        28
30 ALASKA        Hispanic (of any race)             28
   Total citizen population Total registered Percent registered (Total)
1  219941                   142166           59.299999999999997
2  105299                   66147            57.200000000000003
3  114642                   76019            61.200000000000003
4  175909                   115998           61.299999999999997
5  153750                   104664           66.900000000000006
6   27908                   17700            59.700000000000003
7    9504                   4642             34.399999999999999
8   25092                   12862            34.899999999999999
9  179103                   117978           61.200000000000003
10  29222                   18422            59.299999999999997
11  10332                   5166             36
12   3519                   2366             64.700000000000003
13   1642                   1063             61.299999999999997
14   1877                   1303             67.799999999999997
15   2503                   1700             65.799999999999997
16   2473                   1686             68
17    910                   596              64.599999999999994
18     23                   17               (B)
19     41                   17               (B)
20   2572                   1746             65.599999999999994
21    925                   604              64.5
22     23                   17               (B)
23    503                   336              64.599999999999994
24    256                   168              63.799999999999997
25    247                   168              65.400000000000006
26    331                   234              68.900000000000006
27    312                   223              70.099999999999994
28     18                   9                (B)
29     21                   8                (B)
30     24                   12               (B)
   Margin of error for percent registered total Percent registered (Citizen)
1  0.29999999999999999                          64.599999999999994
2  0.40000000000000002                          62.799999999999997
3  0.40000000000000002                          66.299999999999997
4  0.29999999999999999                          65.900000000000006
5  0.29999999999999999                          68.099999999999994
6  1                                            63.399999999999999
7  1.5                                          48.799999999999997
8  1.1000000000000001                           51.299999999999997
9  0.29999999999999999                          65.900000000000006
10 0.90000000000000002                          63
11 1.3999999999999999                           50
12 2.3999999999999999                           67.200000000000003
13 3.5                                          64.700000000000003
14 3.2000000000000002                           69.400000000000006
15 2.7999999999999998                           67.900000000000006
16 2.7999999999999998                           68.200000000000003
17 5.7000000000000002                           65.400000000000006
18 (B)                                          (B)
19 (B)                                          (B)
20 2.7000000000000002                           67.900000000000006
21 5.5999999999999996                           65.299999999999997
22 (B)                                          (B)
23 2.5                                          66.799999999999997
24 3.5                                          65.700000000000003
25 3.5                                          68
26 3                                            70.700000000000003
27 3.1000000000000001                           71.400000000000006
28 (B)                                          (B)
29 (B)                                          (B)
30 (B)                                          (B)
   Margin of error for percent registered citizen Total voted
1  0.29999999999999999                            92251
2  0.40000000000000002                            43009
3  0.40000000000000002                            49243
4  0.29999999999999999                            76366
5  0.29999999999999999                            70351
6  1                                              11078
7  1.8                                            2575
8  1.3999999999999999                             6775
9  0.29999999999999999                            77472
10 1                                              11469
11 1.7                                            2883
12 2.3999999999999999                             1497
13 3.5                                            677
14 3.2000000000000002                             820
15 2.7999999999999998                             1045
16 2.7999999999999998                             1045
17 5.7000000000000002                             414
18 (B)                                            9
19 (B)                                            3
20 2.7000000000000002                             1071
21 5.7000000000000002                             414
22 (B)                                            9
23 2.5                                            255
24 3.5                                            128
25 3.5                                            127
26 3                                              188
27 3                                              181
28 (B)                                            6
29 (B)                                            7
30 (B)                                            8
   Percent voted (Total) Margin of error percent voted total
1  38.5                  0.29999999999999999
2  37.200000000000003    0.40000000000000002
3  39.600000000000001    0.40000000000000002
4  40.299999999999997    0.29999999999999999
5  45                    0.40000000000000002
6  37.299999999999997    1
7  19.100000000000001    1.2
8  18.399999999999999    0.90000000000000002
9  40.200000000000003    0.29999999999999999
10 36.899999999999999    0.90000000000000002
11 20.100000000000001    1.2
12 40.899999999999999    2.3999999999999999
13 39                    3.5
14 42.600000000000001    3.3999999999999999
15 40.399999999999999    2.8999999999999999
16 42.200000000000003    3
17 44.899999999999999    5.9000000000000004
18 (B)                   (B)
19 (B)                   (B)
20 40.200000000000003    2.7999999999999998
21 44.200000000000003    5.9000000000000004
22 (B)                   (B)
23 49                    2.6000000000000001
24 48.399999999999999    3.7000000000000002
25 49.600000000000001    3.7000000000000002
26 55.5                  3.2000000000000002
27 56.799999999999997    3.2999999999999998
28 (B)                   (B)
29 (B)                   (B)
30 (B)                   (B)
   Percent voted (Citizen) Margin of error percent voted citizen Year
1  41.899999999999999      0.29999999999999999                   2014
2  40.799999999999997      0.40000000000000002                   2014
3  43                      0.40000000000000002                   2014
4  43.399999999999999      0.29999999999999999                   2014
5  45.799999999999997      0.40000000000000002                   2014
6  39.700000000000003      1                                     2014
7  27.100000000000001      1.6000000000000001                    2014
8  27                      1.2                                   2014
9  43.299999999999997      0.29999999999999999                   2014
10 39.200000000000003      1                                     2014
11 27.899999999999999      1.6000000000000001                    2014
12 42.5                    2.5                                   2014
13 41.200000000000003      3.6000000000000001                    2014
14 43.700000000000003      3.3999999999999999                    2014
15 41.799999999999997      2.8999999999999999                    2014
16 42.299999999999997      3                                     2014
17 45.5                    6                                     2014
18 (B)                     (B)                                   2014
19 (B)                     (B)                                   2014
20 41.600000000000001      2.8999999999999999                    2014
21 44.799999999999997      5.9000000000000004                    2014
22 (B)                     (B)                                   2014
23 50.700000000000003      2.7000000000000002                    2014
24 49.899999999999999      3.7000000000000002                    2014
25 51.5                    3.7999999999999998                    2014
26 56.899999999999999      3.2000000000000002                    2014
27 57.799999999999997      3.2999999999999998                    2014
28 (B)                     (B)                                   2014
29 (B)                     (B)                                   2014
30 (B)                     (B)                                   2014

In [78]:
#Changing the '-' entries to 0, as they signify
race_2014[race_2014 == '-'] <- 0

In [79]:
#Converting columns to numerics
race_2014$`Total registered` <- as.numeric(race_2014$`Total registered`)
race_2014$`Total voted` <- as.numeric(race_2014$`Total voted`)

In [80]:
#Recalculating the percents to get rid of the "B's"
race_2014$`Percent registered (Total)` <- ifelse(race_2014$`Total population` != 0,
                                                 100*race_2014$`Total registered` / race_2014$`Total population`,
                                                 0)

race_2014$`Percent registered (Citizen)` <- ifelse(race_2014$`Total citizen population` != 0,
                                                 100*race_2014$`Total registered` / race_2014$`Total citizen population`,
                                                 0)

race_2014$`Percent voted (Total)` <- ifelse(race_2014$`Total population` != 0,
                                                 100*race_2014$`Total voted` / race_2014$`Total population`,
                                                 0)

race_2014$`Percent voted (Citizen)` <- ifelse(race_2014$`Total citizen population` != 0,
                                                 100*race_2014$`Total voted` / race_2014$`Total citizen population`,
                                                 0)

In [81]:
#Pivoting to the desired format
race_2014_final <- pivot_wider(race_2014, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [82]:
head(race_2014_final)

  STATE         Year Total population_Total Total population_Male
1 UNITED STATES 2014 239874                 115637
2 ALABAMA       2014   3656                   1734
3 ALASKA        2014    521                    264
4 ARIZONA       2014   4994                   2423
5 ARKANSAS      2014   2189                   1058
6 CALIFORNIA    2014  29030                  14156
  Total population_Female Total population_White alone
1 124237                  189331
2   1922                    2586
3    257                     340
4   2571                    4226
5   1131                    1763
6  14874                   21429
  Total population_.White non-Hispanic alone Total population_Black alone
1 156438                                     29668
2   2478                                       922
3    318                                        18
4   2743                                       215
5   1645                                       307
6  12326                                      1846
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 13495                        36802                                   ⋯
2    51                          136                                   ⋯
3    28                           28                                   ⋯
4   189                         1580                                   ⋯
5    54                          136                                   ⋯
6  4409                        10023                                   ⋯
  Margin of error percent voted citizen_Male
1 0.40000000000000002
2 3.6000000000000001
3 3.7000000000000002
4 3.2000000000000002
5 3.7000000000000002
6 1.3
  Margin of error percent voted citizen_Female
1 0.40000000000000002
2 3.3999999999999999
3 3.7999999999999998
4 3.1000000000000001
5 3.6000000000000001
6 1.3
  Margin of error percent voted citizen_White alone
1 0.29999999999999999
2 2.8999999999999999
3 3.2000000000000002
4 2.3999999999999999
5 2.8999999999999999
6 1.1000000000000001
  Margin of error percent voted citizen_.White non-Hispanic alone
1 0.40000000000000002
2 3
3 3.2999999999999998
4 2.8999999999999999
5 2.8999999999999999
6 1.3999999999999999
  Margin of error percent voted citizen_Black alone
1 1
2 6
3 (B)
4 12.199999999999999
5 8.0999999999999996
6 4
  Margin of error percent voted citizen_Asian alone
1 1.6000000000000001
2 (B)
3 (B)
4 15.5
5 (B)
6 2.8999999999999999
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.2
2 (B)
3 (B)
4 6.5
5 (B)
6 2.5
  Margin of error percent voted citizen_White alone or in combination
1 0.29999999999999999
2 2.8999999999999999
3 3.2000000000000002
4 2.3999999999999999
5 2.7999999999999998
6 1.1000000000000001
  Margin of error percent voted citizen_Black alone or in combination
1 1
2 5.9000000000000004
3 (B)
4 10.9
5 8
6 3.7999999999999998
  Margin of error percent voted citizen_Asian alone or in combination
1 1.6000000000000001
2 (B)
3 (B)
4 14.699999999999999
5 (B)
6 2.7999999999999998

## 2014 Age Data

In [83]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2014.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2014.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [84]:
#Skipping comments in the original excel file
age_2014 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2014.csv", skip=3)
age_2014 <- age_2014[-(313:nrow(age_2014)), ]

In [85]:
head(age_2014)

  STATE         Age      Total.Population Total.Citizen.Population
1 UNITED STATES Total    239874           219941
2 NA            18 to 24  29658            27539
3 NA            25 to 34  42321            37061
4 NA            35 to 44  39565            34334
5 NA            45 to 64  82772            76882
6 NA            65+       45558            44125
  Total.registered Percent.registered..Total. Margin.of.Error1
1 142166           59.299999999999997         0.29999999999999999
2  11610           39.100000000000001         0.80000000000000004
3  20914           49.399999999999999         0.69999999999999996
4  22273           56.299999999999997         0.69999999999999996
5  54107           65.400000000000006         0.5
6  33261           73                         0.59999999999999998
  Percent.registered..Citizen. Margin.of.Error     Total.voted
1 64.599999999999994           0.29999999999999999 92251
2 42.200000000000003           0.80000000000000004  4721
3 56.399999999999999           0.69999999999999996 10223
4 64.900000000000006           0.69999999999999996 12986
5 70.400000000000006           0.5                 38111
6 75.400000000000006           0.59999999999999998 26210
  Percent.voted..Total. Margin.of.Error.1   Percent.voted..Citizen.
1 38.5                  0.29999999999999999 41.899999999999999
2 15.9                  0.59999999999999998 17.100000000000001
3 24.199999999999999    0.59999999999999998 27.600000000000001
4 32.799999999999997    0.69999999999999996 37.799999999999997
5 46                    0.5                 49.600000000000001
6 57.5                  0.69999999999999996 59.399999999999999
  Margin.of.Error.2
1 0.29999999999999999
2 0.59999999999999998
3 0.69999999999999996
4 0.69999999999999996
5 0.5
6 0.69999999999999996

In [86]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(age_2014) <- col_names

In [87]:
head(age_2014)

  STATE         Age      Total population Total citizen population
1 UNITED STATES Total    239874           219941
2 NA            18 to 24  29658            27539
3 NA            25 to 34  42321            37061
4 NA            35 to 44  39565            34334
5 NA            45 to 64  82772            76882
6 NA            65+       45558            44125
  Total registered Percent registered (Total)
1 142166           59.299999999999997
2  11610           39.100000000000001
3  20914           49.399999999999999
4  22273           56.299999999999997
5  54107           65.400000000000006
6  33261           73
  Margin of error for percent registered total Percent registered (Citizen)
1 0.29999999999999999                          64.599999999999994
2 0.80000000000000004                          42.200000000000003
3 0.69999999999999996                          56.399999999999999
4 0.69999999999999996                          64.900000000000006
5 0.5                                          70.400000000000006
6 0.59999999999999998                          75.400000000000006
  Margin of error for percent registered citizen Total voted
1 0.29999999999999999                            92251
2 0.80000000000000004                             4721
3 0.69999999999999996                            10223
4 0.69999999999999996                            12986
5 0.5                                            38111
6 0.59999999999999998                            26210
  Percent voted (Total) Margin of error percent voted total
1 38.5                  0.29999999999999999
2 15.9                  0.59999999999999998
3 24.199999999999999    0.59999999999999998
4 32.799999999999997    0.69999999999999996
5 46                    0.5
6 57.5                  0.69999999999999996
  Percent voted (Citizen) Margin of error percent voted citizen
1 41.899999999999999      0.29999999999999999
2 17.100000000000001      0.59999999999999998
3 27.600000000000001      0.69999999999999996
4 37.799999999999997      0.69999999999999996
5 49.600000000000001      0.5
6 59.399999999999999      0.69999999999999996

In [88]:
#Creating the state titles and the year variable
age_2014$STATE <- na.locf(age_2014$STATE)
age_2014$Year <- 2014
#Getting rid of the total row since it is already in the race data and is identical
age_2014 <- age_2014[age_2014$Age != "Total", ]
head(age_2014, 20)

   STATE         Age      Total population Total citizen population
2  UNITED STATES 18 to 24 29658            27539
3  UNITED STATES 25 to 34 42321            37061
4  UNITED STATES 35 to 44 39565            34334
5  UNITED STATES 45 to 64 82772            76882
6  UNITED STATES 65+      45558            44125
8  ALABAMA       18 to 24   482              449
9  ALABAMA       25 to 34   555              519
10 ALABAMA       35 to 44   610              566
11 ALABAMA       45 to 64  1298             1277
12 ALABAMA       65+        710              708
14 ALASKA        18 to 24    76               74
15 ALASKA        25 to 34   111              107
16 ALASKA        35 to 44    78               75
17 ALASKA        45 to 64   189              184
18 ALASKA        65+         66               64
20 ARIZONA       18 to 24   514              491
21 ARIZONA       25 to 34   859              735
22 ARIZONA       35 to 44   948              760
23 ARIZONA       45 to 64  1725             1526
24 ARIZONA       65+        947              885
   Total registered Percent registered (Total)
2  11610            39.100000000000001
3  20914            49.399999999999999
4  22273            56.299999999999997
5  54107            65.400000000000006
6  33261            73
8    181            37.399999999999999
9    330            59.399999999999999
10   373            61.100000000000001
11   951            73.299999999999997
12   532            74.900000000000006
14    34            (B)
15    70            62.700000000000003
16    47            (B)
17   136            71.799999999999997
18    49            (B)
20   181            35.100000000000001
21   411            47.899999999999999
22   458            48.299999999999997
23  1012            58.700000000000003
24   676            71.400000000000006
   Margin of error for percent registered total Percent registered (Citizen)
2  0.80000000000000004                          42.200000000000003
3  0.69999999999999996                          56.399999999999999
4  0.69999999999999996                          64.900000000000006
5  0.5                                          70.400000000000006
6  0.59999999999999998                          75.400000000000006
8  6.5999999999999996                           40.200000000000003
9  6.2000000000000002                           63.600000000000001
10 5.9000000000000004                           65.900000000000006
11 3.7000000000000002                           74.5
12 4.9000000000000004                           75.099999999999994
14 (B)                                          (B)
15 5.5                                          65.200000000000003
16 (B)                                          (B)
17 3.8999999999999999                           74
18 (B)                                          (B)
20 6.4000000000000004                           36.799999999999997
21 5.2000000000000002                           56
22 4.9000000000000004                           60.299999999999997
23 3.6000000000000001                           66.299999999999997
24 4.4000000000000004                           76.299999999999997
   Margin of error for percent registered citizen Total voted
2  0.80000000000000004                             4721
3  0.69999999999999996                            10223
4  0.69999999999999996                            12986
5  0.5                                            38111
6  0.59999999999999998                            26210
8  6.9000000000000004                                77
9  6.2999999999999998                               155
10 5.9000000000000004                               244
11 3.6000000000000001                               630
12 4.9000000000000004                               390
14 (B)                                               19
15 5.5                                               46
16 (B)                                               34
17 3.8999999999999999                               113
18 (B)                                               43
20 6.5999999999999996                                74
21 5.5                                              170
22 5.4000000000000004                               245
23 3.7000000000000002                               710
24 4.2999999999999998                               587
   Percent voted (Total) Margin of error percent voted total
2  15.9                  0.59999999999999998
3  24.199999999999999    0.59999999999999998
4  32.799999999999997    0.69999999999999996
5  46                    0.5
6  57.5                  0.69999999999999996
8  16.100000000000001    5
9  27.899999999999999    5.7000000000000002
10 40                    5.9000000000000004
11 48.5                  4.0999999999999996
12 54.899999999999999    5.5999999999999996
14 (B)                   (B)
15 41.299999999999997    5.5999999999999996
16 (B)                   (B)
17 59.799999999999997    4.2000000000000002
18 (B)                   (B)
20 14.4                  4.7000000000000002
21 19.800000000000001    4.0999999999999996
22 25.800000000000001    4.2999999999999998
23 41.100000000000001    3.6000000000000001
24 61.899999999999999    4.7999999999999998
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  17.100000000000001      0.59999999999999998                   2014
3  27.600000000000001      0.69999999999999996                   2014
4  37.799999999999997      0.69999999999999996                   2014
5  49.600000000000001      0.5                                   2014
6  59.399999999999999      0.69999999999999996                   2014
8  17.199999999999999      5.2999999999999998                    2014
9  29.899999999999999      6                                     2014
10 43.200000000000003      6.2000000000000002                    2014
11 49.299999999999997      4.2000000000000002                    2014
12 55.100000000000001      5.5999999999999996                    2014
14 (B)                     (B)                                   2014
15 42.899999999999999      5.7000000000000002                    2014
16 (B)                     (B)                                   2014
17 61.600000000000001      4.2999999999999998                    2014
18 (B)                     (B)                                   2014
20 15.1                    4.9000000000000004                    2014
21 23.100000000000001      4.7000000000000002                    2014
22 32.200000000000003      5.0999999999999996                    2014
23 46.5                    3.8999999999999999                    2014
24 66.299999999999997      4.7999999999999998                    2014

In [89]:
#Changing the '-' entries to 0, as they signify
age_2014[age_2014 == '-'] <- 0

In [90]:
#Recalculating the percents to get rid of the "B's"
age_2014$`Percent registered (Total)` <- ifelse(age_2014$`Total population` != 0,
                                                 100*age_2014$`Total registered` / age_2014$`Total population`,
                                                 0)

age_2014$`Percent registered (Citizen)` <- ifelse(age_2014$`Total citizen population` != 0,
                                                 100*age_2014$`Total registered` / age_2014$`Total citizen population`,
                                                 0)

age_2014$`Percent voted (Total)` <- ifelse(age_2014$`Total population` != 0,
                                                 100*age_2014$`Total voted` / age_2014$`Total population`,
                                                 0)

age_2014$`Percent voted (Citizen)` <- ifelse(age_2014$`Total citizen population` != 0,
                                                 100*age_2014$`Total voted` / age_2014$`Total citizen population`,
                                                 0)

In [91]:
#Pivoting to the desired format
age_2014_final <- pivot_wider(age_2014, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [92]:
head(age_2014_final)

  STATE         Year Total population_18 to 24 Total population_25 to 34
1 UNITED STATES 2014 29658                     42321
2 ALABAMA       2014   482                       555
3 ALASKA        2014    76                       111
4 ARIZONA       2014   514                       859
5 ARKANSAS      2014   242                       388
6 CALIFORNIA    2014  4129                      5288
  Total population_35 to 44 Total population_45 to 64 Total population_65+
1 39565                     82772                     45558
2   610                      1298                       710
3    78                       189                        66
4   948                      1725                       947
5   352                       797                       410
6  5025                      9672                      4916
  Total citizen population_18 to 24 Total citizen population_25 to 34
1 27539                             37061
2   449                               519
3    74                               107
4   491                               735
5   230                               347
6  3708                              4242
  Total citizen population_35 to 44 ⋯ Percent voted (Citizen)_18 to 24
1 34334                             ⋯ 17.14296
2   566                             ⋯ 17.14922
3    75                             ⋯ 25.67568
4   760                             ⋯ 15.07128
5   313                             ⋯ 15.65217
6  3845                             ⋯ 15.93851
  Percent voted (Citizen)_25 to 34 Percent voted (Citizen)_35 to 44
1 27.58425                         37.82257
2 29.86513                         43.10954
3 42.99065                         45.33333
4 23.12925                         32.23684
5 21.90202                         40.57508
6 21.61716                         30.48114
  Percent voted (Citizen)_45 to 64 Percent voted (Citizen)_65+
1 49.57077                         59.39943
2 49.33438                         55.08475
3 61.41304                         67.18750
4 46.52687                         66.32768
5 44.45893                         54.36409
6 45.47348                         56.86972
  Margin of error percent voted citizen_18 to 24
1 0.59999999999999998
2 5.2999999999999998
3 (B)
4 4.9000000000000004
5 5.7000000000000002
6 1.8
  Margin of error percent voted citizen_25 to 34
1 0.69999999999999996
2 6
3 5.7000000000000002
4 4.7000000000000002
5 5.2999999999999998
6 1.8999999999999999
  Margin of error percent voted citizen_35 to 44
1 0.69999999999999996
2 6.2000000000000002
3 (B)
4 5.0999999999999996
5 6.7000000000000002
6 2.2000000000000002
  Margin of error percent voted citizen_45 to 64
1 0.5
2 4.2000000000000002
3 4.2999999999999998
4 3.8999999999999999
5 4.2999999999999998
6 1.7
  Margin of error percent voted citizen_65+
1 0.69999999999999996
2 5.5999999999999996
3 (B)
4 4.7999999999999998
5 6
6 2.2000000000000002

# Merging 2014 Age and Race Data

In [93]:
final_2014 <- merge(age_2014_final, race_2014_final, by = c("STATE", "Year"))

In [94]:
write.csv(final_2014, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2014.csv", row.names = FALSE)

# 2012 Data

## 2012 Race and Sex Data

In [95]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2012.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2012.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [96]:
#Skipping comments in the original excel file
race_2012 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2012.csv", skip=3)
race_2012 <- race_2012[-(573:nrow(race_2012)), ]

In [97]:
#Checking that I skipped correctly
tail(race_2012, 20)

    State   Race.and.Hispanic.origin      Total.Population
553 NA      Female                        2236
554 NA      White alone                   3920
555 NA      .White non-Hispanic alone     3751
556 NA      Black alone                    242
557 NA      Asian alone                     35
558 NA      Hispanic (of any race)         214
559 NA      White alone or in combination 3967
560 NA      Black alone or in combination  255
561 NA      Asian alone or in combination   40
562 WYOMING Total                          427
563 NA      Male                           213
564 NA      Female                         213
565 NA      White alone                    403
566 NA      .White non-Hispanic alone      373
567 NA      Black alone                      3
568 NA      Asian alone                      2
569 NA      Hispanic (of any race)          32
570 NA      White alone or in combination  409
571 NA      Black alone or in combination    4
572 NA      Asian alone or in combination    4
    Total.Citizen.Population Total.registered Percent.registered..Total.
553 2189                     1764             78.900000000000006
554 3856                     3030             77.299999999999997
555 3728                     2968             79.099999999999994
556 227                      184              76.099999999999994
557 20                       15               (B)
558 163                      76               35.5
559 3898                     3061             77.200000000000003
560 241                      198              77.299999999999997
561 25                       17               (B)
562 419                      268              62.799999999999997
563 209                      127              59.600000000000001
564 211                      141              65.900000000000006
565 396                      259              64.200000000000003
566 372                      249              66.799999999999997
567 3                        1                (B)
568 -                        -                (B)
569 27                       10               (B)
570 402                      262              64.099999999999994
571 4                        2                (B)
572 3                        2                (B)
    Margin.of.Error1   Percent.registered..Citizen. Margin.of.Error
553 2.6000000000000001 80.599999999999994           2.5
554 2                  78.599999999999994           2
555 2                  79.599999999999994           2
556 9.9000000000000004 81                           9.4000000000000004
557 (B)                (B)                          (B)
558 15.4               46.799999999999997           18.399999999999999
559 2                  78.5                         2
560 9.5                82.099999999999994           9
561 (B)                (B)                          (B)
562 2.6000000000000001 63.899999999999999           2.6000000000000001
563 3.7000000000000002 61                           3.7000000000000002
564 3.5                66.700000000000003           3.5
565 2.6000000000000001 65.299999999999997           2.6000000000000001
566 2.7000000000000002 67                           2.7000000000000002
567 (B)                (B)                          (B)
568 (B)                (B)                          (B)
569 (B)                (B)                          (B)
570 2.6000000000000001 65.200000000000003           2.6000000000000001
571 (B)                (B)                          (B)
572 (B)                (B)                          (B)
    Total.voted Percent.voted..Total. Margin.of.Error.1
553 1667        74.599999999999994    2.7999999999999998
554 2854        72.799999999999997    2.1000000000000001
555 2797        74.599999999999994    2.1000000000000001
556 178         73.700000000000003    10.300000000000001
557 15          (B)                   (B)
558 71          33.299999999999997    15.1
559 2885        72.700000000000003    2.1000000000000001
560 192         75.099999999999994    9.8000000000000007
561 17          (B)                   (B)
562 247         57.799999999999997    2.6000000000000001
563 118         55.200000000000003    3.7000000000000002
564 129         60.399999999999999    3.6000000000000001
565 240         59.399999999999999    2.7000000000000002
566 232         62.100000000000001    2.7000000000000002
567 1           (B)                   (B)
568 -           (B)                   (B)
569 8           (B)                   (B)
570 243         59.399999999999999    2.6000000000000001
571 2           (B)                   (B)
572 2           (B)                   (B)
    Percent.voted..Citizen. Margin.of.Error.2
553 76.200000000000003      2.7000000000000002
554 74                      2.1000000000000001
555 75                      2.1000000000000001
556 78.5                    9.9000000000000004
557 (B)                     (B)
558 43.899999999999999      18.300000000000001
559 74                      2.1000000000000001
560 79.599999999999994      9.4000000000000004
561 (B)                     (B)
562 58.899999999999999      2.6000000000000001
563 56.399999999999999      3.7000000000000002
564 61.200000000000003      3.7000000000000002
565 60.399999999999999      2.7000000000000002
566 62.299999999999997      2.7000000000000002
567 (B)                     (B)
568 (B)                     (B)
569 (B)                     (B)
570 60.399999999999999      2.7000000000000002
571 (B)                     (B)
572 (B)                     (B)

In [98]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2012) <- col_names

In [99]:
#For constistency, change All to US
head(race_2012)
race_2012[1, "STATE"] <- "US"
head(race_2012)

  STATE Sex, Race, and Hispanic-Origin Total population
1 All   Total                          235248
2 NA    Male                           113243
3 NA    Female                         122005
4 NA    White alone                    187084
5 NA    .White non-Hispanic alone      155615
6 NA    Black alone                     28709
  Total citizen population Total registered Percent registered (Total)
1 215081                   153157           65.099999999999994
2 103022                   71414            63.100000000000001
3 112059                   81743            67
4 173466                   124697           66.700000000000003
5 152862                   112706           72.400000000000006
6 26915                    19680            68.5
  Margin of error for percent registered total Percent registered (Citizen)
1 0.29999999999999999                          71.200000000000003
2 0.40000000000000002                          69.299999999999997
3 0.40000000000000002                          72.900000000000006
4 0.29999999999999999                          71.900000000000006
5 0.29999999999999999                          73.700000000000003
6 0.90000000000000002                          73.099999999999994
  Margin of error for percent registered citizen Total voted
1 0.29999999999999999                            132948
2 0.40000000000000002                            61551
3 0.40000000000000002                            71397
4 0.29999999999999999                            107846
5 0.29999999999999999                            98041
6 0.90000000000000002                            17813
  Percent voted (Total) Margin of error percent voted total
1 56.5                  0.29999999999999999
2 54.399999999999999    0.40000000000000002
3 58.5                  0.40000000000000002
4 57.600000000000001    0.29999999999999999
5 63                    0.29999999999999999
6 62                    1
  Percent voted (Citizen) Margin of error percent voted citizen
1 61.799999999999997      0.29999999999999999
2 59.700000000000003      0.40000000000000002
3 63.700000000000003      0.40000000000000002
4 62.200000000000003      0.29999999999999999
5 64.099999999999994      0.29999999999999999
6 66.200000000000003      1

  STATE Sex, Race, and Hispanic-Origin Total population
1 US    Total                          235248
2 NA    Male                           113243
3 NA    Female                         122005
4 NA    White alone                    187084
5 NA    .White non-Hispanic alone      155615
6 NA    Black alone                     28709
  Total citizen population Total registered Percent registered (Total)
1 215081                   153157           65.099999999999994
2 103022                   71414            63.100000000000001
3 112059                   81743            67
4 173466                   124697           66.700000000000003
5 152862                   112706           72.400000000000006
6 26915                    19680            68.5
  Margin of error for percent registered total Percent registered (Citizen)
1 0.29999999999999999                          71.200000000000003
2 0.40000000000000002                          69.299999999999997
3 0.40000000000000002                          72.900000000000006
4 0.29999999999999999                          71.900000000000006
5 0.29999999999999999                          73.700000000000003
6 0.90000000000000002                          73.099999999999994
  Margin of error for percent registered citizen Total voted
1 0.29999999999999999                            132948
2 0.40000000000000002                            61551
3 0.40000000000000002                            71397
4 0.29999999999999999                            107846
5 0.29999999999999999                            98041
6 0.90000000000000002                            17813
  Percent voted (Total) Margin of error percent voted total
1 56.5                  0.29999999999999999
2 54.399999999999999    0.40000000000000002
3 58.5                  0.40000000000000002
4 57.600000000000001    0.29999999999999999
5 63                    0.29999999999999999
6 62                    1
  Percent voted (Citizen) Margin of error percent voted citizen
1 61.799999999999997      0.29999999999999999
2 59.700000000000003      0.40000000000000002
3 63.700000000000003      0.40000000000000002
4 62.200000000000003      0.29999999999999999
5 64.099999999999994      0.29999999999999999
6 66.200000000000003      1

In [100]:
#Creating the state titles and the year variable
race_2012$STATE <- na.locf(race_2012$STATE)
race_2012$Year <- 2012

In [101]:
head(race_2012, 30)

   STATE   Sex, Race, and Hispanic-Origin Total population
1  US      Total                          235248
2  US      Male                           113243
3  US      Female                         122005
4  US      White alone                    187084
5  US      .White non-Hispanic alone      155615
6  US      Black alone                     28709
7  US      Asian alone                     12493
8  US      Hispanic (of any race)          35204
9  US      White alone or in combination  190396
10 US      Black alone or in combination   30043
11 US      Asian alone or in combination   13335
12 ALABAMA Total                            3594
13 ALABAMA Male                             1703
14 ALABAMA Female                           1891
15 ALABAMA White alone                      2580
16 ALABAMA .White non-Hispanic alone        2473
17 ALABAMA Black alone                       891
18 ALABAMA Asian alone                        59
19 ALABAMA Hispanic (of any race)            107
20 ALABAMA White alone or in combination    2605
21 ALABAMA Black alone or in combination     900
22 ALABAMA Asian alone or in combination      59
23 ALASKA  Total                             516
24 ALASKA  Male                              261
25 ALASKA  Female                            255
26 ALASKA  White alone                       373
27 ALASKA  .White non-Hispanic alone         355
28 ALASKA  Black alone                        21
29 ALASKA  Asian alone                        30
30 ALASKA  Hispanic (of any race)             23
   Total citizen population Total registered Percent registered (Total)
1  215081                   153157           65.099999999999994
2  103022                   71414            63.100000000000001
3  112059                   81743            67
4  173466                   124697           66.700000000000003
5  152862                   112706           72.400000000000006
6  26915                    19680            68.5
7  8254                     4649             37.200000000000003
8  23329                    13697            38.899999999999999
9  176612                   126822           66.599999999999994
10 28153                    20557            68.400000000000006
11 9033                     5173             38.799999999999997
12 3479                     2556             71.099999999999994
13 1649                     1201             70.5
14 1831                     1354             71.599999999999994
15 2502                     1878             72.799999999999997
16 2467                     1866             75.5
17 888                      610              68.5
18 25                       17               (B)
19 35                       12               11.5
20 2527                     1904             73.099999999999994
21 897                      619              68.799999999999997
22 25                       17               (B)
23 495                      361              69.900000000000006
24 254                      181              69.299999999999997
25 241                      180              70.5
26 365                      283              75.700000000000003
27 352                      273              76.799999999999997
28 20                       10               (B)
29 21                       13               (B)
30 18                       10               (B)
   Margin of error for percent registered total Percent registered (Citizen)
1  0.29999999999999999                          71.200000000000003
2  0.40000000000000002                          69.299999999999997
3  0.40000000000000002                          72.900000000000006
4  0.29999999999999999                          71.900000000000006
5  0.29999999999999999                          73.700000000000003
6  0.90000000000000002                          73.099999999999994
7  1.5                                          56.299999999999997
8  1.2                                          58.700000000000003
9  0.29999999999999999                          71.799999999999997
10 0.90000000000000002                          73
11 1.5                                          57.299999999999997
12 2.2000000000000002                           73.5
13 3.2999999999999998                           72.900000000000006
14 3.1000000000000001                           74
15 2.6000000000000001                           75.099999999999994
16 2.6000000000000001                           75.599999999999994
17 5.5999999999999996                           68.700000000000003
18 (B)                                          (B)
19 14.300000000000001                           35.100000000000001
20 2.6000000000000001                           75.299999999999997
21 5.5                                          69
22 (B)                                          (B)
23 2.3999999999999999                           72.799999999999997
24 3.3999999999999999                           71.299999999999997
25 3.3999999999999999                           74.400000000000006
26 2.6000000000000001                           77.400000000000006
27 2.6000000000000001                           77.5
28 (B)                                          (B)
29 (B)                                          (B)
30 (B)                                          (B)
   Margin of error for percent registered citizen Total voted
1  0.29999999999999999                            132948
2  0.40000000000000002                            61551
3  0.40000000000000002                            71397
4  0.29999999999999999                            107846
5  0.29999999999999999                            98041
6  0.90000000000000002                            17813
7  1.8999999999999999                             3904
8  1.3999999999999999                             11188
9  0.29999999999999999                            109603
10 0.90000000000000002                            18558
11 1.8999999999999999                             4331
12 2.2000000000000002                             2154
13 3.2000000000000002                             1009
14 3                                              1145
15 2.6000000000000001                             1530
16 2.5                                            1530
17 5.5999999999999996                             560
18 (B)                                            17
19 37.299999999999997                             -
20 2.5                                            1556
21 5.5                                            569
22 (B)                                            17
23 2.3999999999999999                             289
24 3.3999999999999999                             140
25 3.2999999999999998                             149
26 2.6000000000000001                             232
27 2.6000000000000001                             225
28 (B)                                            6
29 (B)                                            10
30 (B)                                            7
   Percent voted (Total) Margin of error percent voted total
1  56.5                  0.29999999999999999
2  54.399999999999999    0.40000000000000002
3  58.5                  0.40000000000000002
4  57.600000000000001    0.29999999999999999
5  63                    0.29999999999999999
6  62                    1
7  31.300000000000001    1.5
8  31.800000000000001    1.1000000000000001
9  57.600000000000001    0.29999999999999999
10 61.799999999999997    1
11 32.5                  1.3999999999999999
12 59.899999999999999    2.3999999999999999
13 59.200000000000003    3.5
14 60.600000000000001    3.2999999999999998
15 59.299999999999997    2.8999999999999999
16 61.899999999999999    2.8999999999999999
17 62.799999999999997    5.7999999999999998
18 (B)                   (B)
19 (B)                   (B)
20 59.700000000000003    2.7999999999999998
21 63.200000000000003    5.7000000000000002
22 (B)                   (B)
23 56                    2.6000000000000001
24 53.600000000000001    3.7000000000000002
25 58.600000000000001    3.7000000000000002
26 62.100000000000001    3
27 63.299999999999997    3
28 (B)                   (B)
29 (B)                   (B)
30 (B)                   (B)
   Percent voted (Citizen) Margin of error percent voted citizen Year
1  61.799999999999997      0.29999999999999999                   2012
2  59.700000000000003      0.40000000000000002                   2012
3  63.700000000000003      0.40000000000000002                   2012
4  62.200000000000003      0.29999999999999999                   2012
5  64.099999999999994      0.29999999999999999                   2012
6  66.200000000000003      1                                     2012
7  47.299999999999997      2                                     2012
8  48                      1.5                                   2012
9  62.100000000000001      0.29999999999999999                   2012
10 65.900000000000006      1                                     2012
11 47.899999999999999      1.8999999999999999                    2012
12 61.899999999999999      2.3999999999999999                    2012
13 61.200000000000003      3.5                                   2012
14 62.600000000000001      3.2999999999999998                    2012
15 61.200000000000003      2.8999999999999999                    2012
16 62                      2.8999999999999999                    2012
17 63.100000000000001      5.7999999999999998                    2012
18 (B)                     (B)                                   2012
19 (B)                     (B)                                   2012
20 61.600000000000001      2.8999999999999999                    2012
21 63.399999999999999      5.7000000000000002                    2012
22 (B)                     (B)                                   2012
23 58.399999999999999      2.6000000000000001                    2012
24 55.100000000000001      3.7000000000000002                    2012
25 61.799999999999997      3.7000000000000002                    2012
26 63.399999999999999      3                                     2012
27 63.899999999999999      3                                     2012
28 (B)                     (B)                                   2012
29 (B)                     (B)                                   2012
30 (B)                     (B)                                   2012

In [102]:
#Changing the '-' entries to 0, as they signify
race_2012[race_2012 == '-'] <- 0

In [103]:
#Converting columns to numerics
race_2012$`Total registered` <- as.numeric(race_2012$`Total registered`)
race_2012$`Total voted` <- as.numeric(race_2012$`Total voted`)
race_2012$`Total citizen population` <- as.numeric(race_2012$`Total citizen population`)

In [104]:
#Recalculating the percents to get rid of the "B's"
race_2012$`Percent registered (Total)` <- ifelse(race_2012$`Total population` != 0,
                                                 100*race_2012$`Total registered` / race_2012$`Total population`,
                                                 0)

race_2012$`Percent registered (Citizen)` <- ifelse(race_2012$`Total citizen population` != 0,
                                                 100*race_2012$`Total registered` / race_2012$`Total citizen population`,
                                                 0)

race_2012$`Percent voted (Total)` <- ifelse(race_2012$`Total population` != 0,
                                                 100*race_2012$`Total voted` / race_2012$`Total population`,
                                                 0)

race_2012$`Percent voted (Citizen)` <- ifelse(race_2012$`Total citizen population` != 0,
                                                 100*race_2012$`Total voted` / race_2012$`Total citizen population`,
                                                 0)

In [105]:
#Pivoting to the desired format
race_2012_final <- pivot_wider(race_2012, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [106]:
head(race_2012_final)

  STATE      Year Total population_Total Total population_Male
1 US         2012 235248                 113243
2 ALABAMA    2012   3594                   1703
3 ALASKA     2012    516                    261
4 ARIZONA    2012   4863                   2361
5 ARKANSAS   2012   2198                   1044
6 CALIFORNIA 2012  28357                  13887
  Total population_Female Total population_White alone
1 122005                  187084
2   1891                    2580
3    255                     373
4   2501                    4130
5   1154                    1788
6  14470                   21330
  Total population_.White non-Hispanic alone Total population_Black alone
1 155615                                     28709
2   2473                                       891
3    355                                        21
4   2854                                       211
5   1681                                       313
6  12317                                      1810
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 12493                        35204                                   ⋯
2    59                          107                                   ⋯
3    30                           23                                   ⋯
4   227                         1396                                   ⋯
5    33                          143                                   ⋯
6  3915                         9935                                   ⋯
  Margin of error percent voted citizen_Male
1 0.40000000000000002
2 3.5
3 3.7000000000000002
4 3.2000000000000002
5 3.7000000000000002
6 1.3999999999999999
  Margin of error percent voted citizen_Female
1 0.40000000000000002
2 3.2999999999999998
3 3.7000000000000002
4 3.2000000000000002
5 3.5
6 1.3
  Margin of error percent voted citizen_White alone
1 0.29999999999999999
2 2.8999999999999999
3 3
4 2.3999999999999999
5 2.7999999999999998
6 1.1000000000000001
  Margin of error percent voted citizen_.White non-Hispanic alone
1 0.29999999999999999
2 2.8999999999999999
3 3
4 2.7999999999999998
5 2.8999999999999999
6 1.3
  Margin of error percent voted citizen_Black alone
1 1
2 5.7999999999999998
3 (B)
4 12.6
5 8.0999999999999996
6 4.2999999999999998
  Margin of error percent voted citizen_Asian alone
1 2
2 (B)
3 (B)
4 13.300000000000001
5 (B)
6 3.6000000000000001
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.5
2 (B)
3 (B)
4 7.4000000000000004
5 (B)
6 2.8999999999999999
  Margin of error percent voted citizen_White alone or in combination
1 0.29999999999999999
2 2.8999999999999999
3 2.8999999999999999
4 2.3999999999999999
5 2.7999999999999998
6 1.1000000000000001
  Margin of error percent voted citizen_Black alone or in combination
1 1
2 5.7000000000000002
3 (B)
4 11.699999999999999
5 8
6 4.0999999999999996
  Margin of error percent voted citizen_Asian alone or in combination
1 1.8999999999999999
2 (B)
3 (B)
4 13.199999999999999
5 (B)
6 3.5

## 2012 Age Data

In [107]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2012.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2012.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [108]:
#Skipping comments in the original excel file
age_2012 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2012.csv", skip=3)
head(age_2012)
age_2012 <- age_2012[-(313:nrow(age_2012)), ]

  STATE Age      Total.Population Total.Citizen.Population Total.registered
1 US    Total    235248           215081                   153157
2 NA    18 to 24  29878            27535                    14766
3 NA    25 to 34  41146            35473                    23435
4 NA    35 to 44  39624            34265                    24461
5 NA    45 to 64  82087            76639                    57795
6 NA    65+       42514            41169                    32699
  Percent.registered..Total. Margin.of.Error1    Percent.registered..Citizen.
1 65.099999999999994         0.29999999999999999 71.2
2 49.399999999999999         0.80000000000000004 53.6
3 57                         0.69999999999999996 66.1
4 61.700000000000003         0.69999999999999996 71.4
5 70.400000000000006         0.40000000000000002 75.4
6 76.900000000000006         0.59999999999999998 79.4
  Margin.of.Error Total.voted Percent.voted..Total. Margin.of.Error.1
1 0.3             132948      56.5                  0.29999999999999999
2 0.8              11353      38                    0.80000000000000004
3 0.7              18977      46.100000000000001    0.69999999999999996
4 0.7              20965      52.899999999999999    0.69999999999999996
5 0.4              52013      63.399999999999999    0.5
6 0.6              29641      69.700000000000003    0.59999999999999998
  Percent.voted..Citizen. Margin.of.Error.2
1 61.8                    0.3
2 41.2                    0.8
3 53.5                    0.7
4 61.2                    0.7
5 67.9                    0.5
6 72.0                    0.6

In [109]:
head(age_2014)

  STATE         Age      Total population Total citizen population
2 UNITED STATES 18 to 24 29658            27539
3 UNITED STATES 25 to 34 42321            37061
4 UNITED STATES 35 to 44 39565            34334
5 UNITED STATES 45 to 64 82772            76882
6 UNITED STATES 65+      45558            44125
8 ALABAMA       18 to 24   482              449
  Total registered Percent registered (Total)
2 11610            39.14627
3 20914            49.41755
4 22273            56.29470
5 54107            65.36872
6 33261            73.00803
8   181            37.55187
  Margin of error for percent registered total Percent registered (Citizen)
2 0.80000000000000004                          42.15839
3 0.69999999999999996                          56.43129
4 0.69999999999999996                          64.87156
5 0.5                                          70.37668
6 0.59999999999999998                          75.37904
8 6.5999999999999996                           40.31180
  Margin of error for percent registered citizen Total voted
2 0.80000000000000004                             4721
3 0.69999999999999996                            10223
4 0.69999999999999996                            12986
5 0.5                                            38111
6 0.59999999999999998                            26210
8 6.9000000000000004                                77
  Percent voted (Total) Margin of error percent voted total
2 15.91813              0.59999999999999998
3 24.15586              0.59999999999999998
4 32.82194              0.69999999999999996
5 46.04335              0.5
6 57.53106              0.69999999999999996
8 15.97510              5
  Percent voted (Citizen) Margin of error percent voted citizen Year
2 17.14296                0.59999999999999998                   2014
3 27.58425                0.69999999999999996                   2014
4 37.82257                0.69999999999999996                   2014
5 49.57077                0.5                                   2014
6 59.39943                0.69999999999999996                   2014
8 17.14922                5.2999999999999998                    2014

In [110]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(age_2012) <- col_names

In [111]:
head(age_2012)

  STATE Age      Total population Total citizen population Total registered
1 US    Total    235248           215081                   153157
2 NA    18 to 24  29878            27535                    14766
3 NA    25 to 34  41146            35473                    23435
4 NA    35 to 44  39624            34265                    24461
5 NA    45 to 64  82087            76639                    57795
6 NA    65+       42514            41169                    32699
  Percent registered (Total) Margin of error for percent registered total
1 65.099999999999994         0.29999999999999999
2 49.399999999999999         0.80000000000000004
3 57                         0.69999999999999996
4 61.700000000000003         0.69999999999999996
5 70.400000000000006         0.40000000000000002
6 76.900000000000006         0.59999999999999998
  Percent registered (Citizen) Margin of error for percent registered citizen
1 71.2                         0.3
2 53.6                         0.8
3 66.1                         0.7
4 71.4                         0.7
5 75.4                         0.4
6 79.4                         0.6
  Total voted Percent voted (Total) Margin of error percent voted total
1 132948      56.5                  0.29999999999999999
2  11353      38                    0.80000000000000004
3  18977      46.100000000000001    0.69999999999999996
4  20965      52.899999999999999    0.69999999999999996
5  52013      63.399999999999999    0.5
6  29641      69.700000000000003    0.59999999999999998
  Percent voted (Citizen) Margin of error percent voted citizen
1 61.8                    0.3
2 41.2                    0.8
3 53.5                    0.7
4 61.2                    0.7
5 67.9                    0.5
6 72.0                    0.6

In [112]:
#Creating the state titles and the year variable
age_2012$STATE <- na.locf(age_2012$STATE)
age_2012$Year <- 2012
#Getting rid of the total row since it is already in the race data and is identical
age_2012 <- age_2012[age_2012$Age != "Total", ]
head(age_2012, 20)

   STATE   Age      Total population Total citizen population Total registered
2  US      18 to 24 29878            27535                    14766
3  US      25 to 34 41146            35473                    23435
4  US      35 to 44 39624            34265                    24461
5  US      45 to 64 82087            76639                    57795
6  US      65+      42514            41169                    32699
8  ALABAMA 18 to 24   439              428                      212
9  ALABAMA 25 to 34   576              535                      359
10 ALABAMA 35 to 44   615              582                      410
11 ALABAMA 45 to 64  1297             1275                     1051
12 ALABAMA 65+        667              660                      523
14 ALASKA  18 to 24    63               61                       31
15 ALASKA  25 to 34   109              103                       70
16 ALASKA  35 to 44    86               80                       60
17 ALASKA  45 to 64   186              182                      144
18 ALASKA  65+         72               69                       55
20 ARIZONA 18 to 24   586              545                      301
21 ARIZONA 25 to 34   859              709                      399
22 ARIZONA 35 to 44   870              713                      437
23 ARIZONA 45 to 64  1656             1502                     1015
24 ARIZONA 65+        892              846                      659
   Percent registered (Total) Margin of error for percent registered total
2  49.399999999999999         0.80000000000000004
3  57                         0.69999999999999996
4  61.700000000000003         0.69999999999999996
5  70.400000000000006         0.40000000000000002
6  76.900000000000006         0.59999999999999998
8  48.299999999999997         7
9  62.399999999999999         6
10 66.700000000000003         5.5999999999999996
11 81                         3.2000000000000002
12 78.5                       4.7000000000000002
14 (B)                        (B)
15 64                         5.4000000000000004
16 70.200000000000003         5.7999999999999998
17 77.599999999999994         3.6000000000000001
18 (B)                        (B)
20 51.399999999999999         6.2000000000000002
21 46.5                       5.0999999999999996
22 50.200000000000003         5.0999999999999996
23 61.299999999999997         3.6000000000000001
24 73.900000000000006         4.4000000000000004
   Percent registered (Citizen) Margin of error for percent registered citizen
2  53.6                         0.8
3  66.1                         0.7
4  71.4                         0.7
5  75.4                         0.4
6  79.4                         0.6
8  49.6                         7.1
9  67.2                         6.0
10 70.6                         5.6
11 82.4                         3.1
12 79.2                         4.7
14 51.1                         7.5
15 67.7                         5.4
16 75.4                         5.7
17 79.3                         3.6
18 80.0                         5.7
20 55.3                         6.4
21 56.3                         5.6
22 61.3                         5.5
23 67.6                         3.6
24 78.0                         4.3
   Total voted Percent voted (Total) Margin of error percent voted total
2  11353       38                    0.80000000000000004
3  18977       46.100000000000001    0.69999999999999996
4  20965       52.899999999999999    0.69999999999999996
5  52013       63.399999999999999    0.5
6  29641       69.700000000000003    0.59999999999999998
8    155       35.299999999999997    6.7000000000000002
9    271       47                    6.0999999999999996
10   330       53.700000000000003    5.9000000000000004
11   939       72.400000000000006    3.7000000000000002
12   459       68.799999999999997    5.2999999999999998
14    20       (B)                   (B)
15    46       42.600000000000001    5.5999999999999996
16    50       58.600000000000001    6.2999999999999998
17   122       65.700000000000003    4.0999999999999996
18    51       (B)                   (B)
20   234       40                    6.0999999999999996
21   289       33.700000000000003    4.7999999999999998
22   382       43.899999999999999    5
23   901       54.399999999999999    3.7000000000000002
24   606       67.900000000000006    4.7000000000000002
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  41.2                    0.8                                   2012
3  53.5                    0.7                                   2012
4  61.2                    0.7                                   2012
5  67.9                    0.5                                   2012
6  72.0                    0.6                                   2012
8  36.2                    6.9                                   2012
9  50.6                    6.4                                   2012
10 56.8                    6.1                                   2012
11 73.7                    3.6                                   2012
12 69.5                    5.3                                   2012
14 32.5                    7.1                                   2012
15 45.0                    5.8                                   2012
16 62.9                    6.4                                   2012
17 67.1                    4.1                                   2012
18 73.2                    6.3                                   2012
20 43.0                    6.4                                   2012
21 40.8                    5.5                                   2012
22 53.6                    5.6                                   2012
23 60.0                    3.8                                   2012
24 71.7                    4.7                                   2012

In [113]:
#Changing the '-' entries to 0, as they signify
age_2012[age_2012 == '-'] <- 0

In [114]:
#Recalculating the percents to get rid of the "B's"
age_2012$`Percent registered (Total)` <- ifelse(age_2012$`Total population` != 0,
                                                 100*age_2012$`Total registered` / age_2012$`Total population`,
                                                 0)

age_2012$`Percent registered (Citizen)` <- ifelse(age_2012$`Total citizen population` != 0,
                                                 100*age_2012$`Total registered` / age_2012$`Total citizen population`,
                                                 0)

age_2012$`Percent voted (Total)` <- ifelse(age_2012$`Total population` != 0,
                                                 100*age_2012$`Total voted` / age_2012$`Total population`,
                                                 0)

age_2012$`Percent voted (Citizen)` <- ifelse(age_2012$`Total citizen population` != 0,
                                                 100*age_2012$`Total voted` / age_2012$`Total citizen population`,
                                                 0)

In [115]:
#Pivoting to the desired format
age_2012_final <- pivot_wider(age_2012, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [116]:
head(age_2012_final)

  STATE      Year Total population_18 to 24 Total population_25 to 34
1 US         2012 29878                     41146
2 ALABAMA    2012   439                       576
3 ALASKA     2012    63                       109
4 ARIZONA    2012   586                       859
5 ARKANSAS   2012   288                       362
6 CALIFORNIA 2012  3962                      5357
  Total population_35 to 44 Total population_45 to 64 Total population_65+
1 39624                     82087                     42514
2   615                      1297                       667
3    86                       186                        72
4   870                      1656                       892
5   357                       742                       449
6  5030                      9356                      4653
  Total citizen population_18 to 24 Total citizen population_25 to 34
1 27535                             35473
2   428                               535
3    61                               103
4   545                               709
5   281                               336
6  3479                              4153
  Total citizen population_35 to 44 ⋯ Percent voted (Citizen)_18 to 24
1 34265                             ⋯ 41.23116
2   582                             ⋯ 36.21495
3    80                             ⋯ 32.78689
4   713                             ⋯ 42.93578
5   341                             ⋯ 24.91103
6  3675                             ⋯ 41.59241
  Percent voted (Citizen)_25 to 34 Percent voted (Citizen)_35 to 44
1 53.49703                         61.18488
2 50.65421                         56.70103
3 44.66019                         62.50000
4 40.76164                         53.57644
5 41.66667                         60.11730
6 49.84349                         57.63265
  Percent voted (Citizen)_45 to 64 Percent voted (Citizen)_65+
1 67.86753                         71.99835
2 73.64706                         69.54545
3 67.03297                         73.91304
4 59.98668                         71.63121
5 62.78409                         59.59821
6 62.93599                         67.74043
  Margin of error percent voted citizen_18 to 24
1 0.8
2 6.9
3 7.1
4 6.4
5 6.1
6 2.5
  Margin of error percent voted citizen_25 to 34
1 0.7
2 6.4
3 5.8
4 5.5
5 6.3
6 2.3
  Margin of error percent voted citizen_35 to 44
1 0.7
2 6.1
3 6.4
4 5.6
5 6.2
6 2.5
  Margin of error percent voted citizen_45 to 64
1 0.5
2 3.6
3 4.1
4 3.8
5 4.3
6 1.6
  Margin of error percent voted citizen_65+
1 0.6
2 5.3
3 6.3
4 4.7
5 5.5
6 2.2

# Merging 2012 Age and Race Data

In [117]:
final_2012 <- merge(age_2012_final, race_2012_final, by = c("STATE", "Year"))

In [118]:
write.csv(final_2012, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2012.csv", row.names = FALSE)

# 2010 Data

## 2010 Race and Sex Data

In [119]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table4b_2010.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2010.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [120]:
#Skipping comments in the original excel file
race_2010 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2010.csv", skip=2)
head(race_2010)
race_2010 <- race_2010[-(573:nrow(race_2010)), ]

  STATE NA.                      Total.Population Total.Citizen.Population
1 US    Total                    229690           210800
2 NA    Male                     111098           101279
3 NA    Female                   118592           109521
4 NA    White alone              185804           172447
5 NA    White non-Hispanic alone 155680           152929
6 NA    Black alone               27396           25632
  Total.registered Percent.registered..Total. Margin.of.Error1
1 137263           59.799999999999997         0.29999999999999999
2 64337            57.899999999999999         0.40000000000000002
3 72926            61.5                       0.40000000000000002
4 114482           61.600000000000001         0.29999999999999999
5 104316           67                         0.29999999999999999
6 16101            58.799999999999997         1
  Percent.registered..Citizen. Margin.of.Error1.1  Total.voted
1 65.099999999999994           0.29999999999999999 95987
2 63.5                         0.40000000000000002 45392
3 66.599999999999994           0.40000000000000002 50595
4 66.400000000000006           0.29999999999999999 80554
5 68.200000000000003           0.29999999999999999 74372
6 62.799999999999997           1                   11149
  Percent.voted..Total. Margin.of.Error1.2  Percent.voted..Citizen.
1 41.799999999999997    0.29999999999999999 45.5
2 40.899999999999999    0.40000000000000002 44.799999999999997
3 42.700000000000003    0.40000000000000002 46.200000000000003
4 43.399999999999999    0.29999999999999999 46.700000000000003
5 47.799999999999997    0.40000000000000002 48.600000000000001
6 40.700000000000003    1                   43.5
  Margin.of.Error1.3
1 0.29999999999999999
2 0.40000000000000002
3 0.40000000000000002
4 0.29999999999999999
5 0.40000000000000002
6 1.1000000000000001

In [121]:
#Checking that I skipped correctly
tail(race_2010, 20)

    STATE   NA.                           Total.Population
553 NA      Female                        2185
554 NA      White alone                   3956
555 NA      White non-Hispanic alone      3810
556 NA      Black alone                    204
557 NA      Asian alone                     68
558 NA      Hispanic (of any race)         181
559 NA      White alone or in combination 3979
560 NA      Black alone or in combination  206
561 NA      Asian alone or in combination   70
562 WYOMING Total                          411
563 NA      Male                           210
564 NA      Female                         202
565 NA      White alone                    389
566 NA      White non-Hispanic alone       363
567 NA      Black alone                      6
568 NA      Asian alone                      3
569 NA      Hispanic (of any race)          31
570 NA      White alone or in combination  400
571 NA      Black alone or in combination    8
572 NA      Asian alone or in combination    4
    Total.Citizen.Population Total.registered Percent.registered..Total.
553 2132                     1549             70.900000000000006
554 3848                     2723             68.799999999999997
555 3778                     2688             70.5
556 193                      113              55.399999999999999
557 51                       29               (B)
558 96                       53               29.399999999999999
559 3872                     2739             68.799999999999997
560 196                      116              56
561 53                       31               (B)
562 402                      239              58.200000000000003
563 204                      118              56.200000000000003
564 197                      121              60.200000000000003
565 382                      230              59.100000000000001
566 361                      222              61.100000000000001
567 5                        2                (B)
568 -                        -                (B)
569 25                       9                (B)
570 393                      236              59
571 7                        3                (B)
572 2                        1                (B)
    Margin.of.Error1   Percent.registered..Citizen. Margin.of.Error1.1
553 2.8999999999999999 72.599999999999994           2.8999999999999999
554 2.2000000000000002 70.799999999999997           2.2000000000000002
555 2.2000000000000002 71.099999999999994           2.2000000000000002
556 12.6               58.5                         12.9
557 (B)                (B)                          (B)
558 15.9               55.700000000000003           23.899999999999999
559 2.2000000000000002 70.700000000000003           2.2000000000000002
560 12.5               59                           12.699999999999999
561 (B)                (B)                          (B)
562 2.7000000000000002 59.600000000000001           2.7000000000000002
563 3.7000000000000002 57.700000000000003           3.7999999999999998
564 3.7999999999999998 61.5                         3.7999999999999998
565 2.7000000000000002 60.200000000000003           2.7000000000000002
566 2.7999999999999998 61.299999999999997           2.7999999999999998
567 (B)                (B)                          (B)
568 (B)                (B)                          (B)
569 (B)                (B)                          (B)
570 2.7000000000000002 60.100000000000001           2.7000000000000002
571 (B)                (B)                          (B)
572 (B)                (B)                          (B)
    Total.voted Percent.voted..Total. Margin.of.Error1.2
553 1199        54.899999999999999    3.2000000000000002
554 2113        53.399999999999999    2.3999999999999999
555 2091        54.899999999999999    2.3999999999999999
556 89          43.899999999999999    12.6
557 23          (B)                   (B)
558 38          20.800000000000001    14.199999999999999
559 2122        53.299999999999997    2.3999999999999999
560 89          43.299999999999997    12.5
561 25          (B)                   (B)
562 190         46.100000000000001    2.7000000000000002
563 94          44.600000000000001    3.7000000000000002
564 96          47.600000000000001    3.7999999999999998
565 182         46.899999999999999    2.7999999999999998
566 177         48.700000000000003    2.8999999999999999
567 2           (B)                   (B)
568 -           (B)                   (B)
569 6           (B)                   (B)
570 187         46.600000000000001    2.7000000000000002
571 3           (B)                   (B)
572 -           (B)                   (B)
    Percent.voted..Citizen. Margin.of.Error1.3
553 56.200000000000003      3.2000000000000002
554 54.899999999999999      2.3999999999999999
555 55.299999999999997      2.3999999999999999
556 46.299999999999997      13
557 (B)                     (B)
558 39.399999999999999      23.5
559 54.799999999999997      2.3999999999999999
560 45.700000000000003      12.9
561 (B)                     (B)
562 47.200000000000003      2.7000000000000002
563 45.799999999999997      3.7999999999999998
564 48.700000000000003      3.8999999999999999
565 47.700000000000003      2.7999999999999998
566 48.899999999999999      2.8999999999999999
567 (B)                     (B)
568 (B)                     (B)
569 (B)                     (B)
570 47.5                    2.7000000000000002
571 (B)                     (B)
572 (B)                     (B)

In [122]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2010) <- col_names

In [123]:
#Creating the state titles and the year variable
race_2010$STATE <- na.locf(race_2010$STATE)
race_2010$Year <- 2010

In [124]:
tail(race_2010, 30)

    STATE         Sex, Race, and Hispanic-Origin Total population
543 WEST VIRGINIA White alone                    1360
544 WEST VIRGINIA White non-Hispanic alone       1355
545 WEST VIRGINIA Black alone                      48
546 WEST VIRGINIA Asian alone                       4
547 WEST VIRGINIA Hispanic (of any race)            5
548 WEST VIRGINIA White alone or in combination  1365
549 WEST VIRGINIA Black alone or in combination    50
550 WEST VIRGINIA Asian alone or in combination     4
551 WISCONSIN     Total                          4291
552 WISCONSIN     Male                           2105
553 WISCONSIN     Female                         2185
554 WISCONSIN     White alone                    3956
555 WISCONSIN     White non-Hispanic alone       3810
556 WISCONSIN     Black alone                     204
557 WISCONSIN     Asian alone                      68
558 WISCONSIN     Hispanic (of any race)          181
559 WISCONSIN     White alone or in combination  3979
560 WISCONSIN     Black alone or in combination   206
561 WISCONSIN     Asian alone or in combination    70
562 WYOMING       Total                           411
563 WYOMING       Male                            210
564 WYOMING       Female                          202
565 WYOMING       White alone                     389
566 WYOMING       White non-Hispanic alone        363
567 WYOMING       Black alone                       6
568 WYOMING       Asian alone                       3
569 WYOMING       Hispanic (of any race)           31
570 WYOMING       White alone or in combination   400
571 WYOMING       Black alone or in combination     8
572 WYOMING       Asian alone or in combination     4
    Total citizen population Total registered Percent registered (Total)
543 1359                     857              63.100000000000001
544 1354                     856              63.100000000000001
545 48                       22               (B)
546 3                        -                (B)
547 5                        2                (B)
548 1364                     860              63
549 50                       22               (B)
550 3                        -                (B)
551 4156                     2908             67.799999999999997
552 2024                     1360             64.599999999999994
553 2132                     1549             70.900000000000006
554 3848                     2723             68.799999999999997
555 3778                     2688             70.5
556 193                      113              55.399999999999999
557 51                       29               (B)
558 96                       53               29.399999999999999
559 3872                     2739             68.799999999999997
560 196                      116              56
561 53                       31               (B)
562 402                      239              58.200000000000003
563 204                      118              56.200000000000003
564 197                      121              60.200000000000003
565 382                      230              59.100000000000001
566 361                      222              61.100000000000001
567 5                        2                (B)
568 -                        -                (B)
569 25                       9                (B)
570 393                      236              59
571 7                        3                (B)
572 2                        1                (B)
    Margin of error for percent registered total Percent registered (Citizen)
543 2.3999999999999999                           63.100000000000001
544 2.3999999999999999                           63.200000000000003
545 (B)                                          (B)
546 (B)                                          (B)
547 (B)                                          (B)
548 2.3999999999999999                           63
549 (B)                                          (B)
550 (B)                                          (B)
551 2.1000000000000001                           70
552 3.1000000000000001                           67.200000000000003
553 2.8999999999999999                           72.599999999999994
554 2.2000000000000002                           70.799999999999997
555 2.2000000000000002                           71.099999999999994
556 12.6                                         58.5
557 (B)                                          (B)
558 15.9                                         55.700000000000003
559 2.2000000000000002                           70.700000000000003
560 12.5                                         59
561 (B)                                          (B)
562 2.7000000000000002                           59.600000000000001
563 3.7000000000000002                           57.700000000000003
564 3.7999999999999998                           61.5
565 2.7000000000000002                           60.200000000000003
566 2.7999999999999998                           61.299999999999997
567 (B)                                          (B)
568 (B)                                          (B)
569 (B)                                          (B)
570 2.7000000000000002                           60.100000000000001
571 (B)                                          (B)
572 (B)                                          (B)
    Margin of error for percent registered citizen Total voted
543 2.3999999999999999                             561
544 2.3999999999999999                             559
545 (B)                                            18
546 (B)                                            -
547 (B)                                            2
548 2.3999999999999999                             562
549 (B)                                            18
550 (B)                                            -
551 2.1000000000000001                             2258
552 3.1000000000000001                             1059
553 2.8999999999999999                             1199
554 2.2000000000000002                             2113
555 2.2000000000000002                             2091
556 12.9                                           89
557 (B)                                            23
558 23.899999999999999                             38
559 2.2000000000000002                             2122
560 12.699999999999999                             89
561 (B)                                            25
562 2.7000000000000002                             190
563 3.7999999999999998                             94
564 3.7999999999999998                             96
565 2.7000000000000002                             182
566 2.7999999999999998                             177
567 (B)                                            2
568 (B)                                            -
569 (B)                                            6
570 2.7000000000000002                             187
571 (B)                                            3
572 (B)                                            -
    Percent voted (Total) Margin of error percent voted total
543 41.200000000000003    2.3999999999999999
544 41.200000000000003    2.3999999999999999
545 (B)                   (B)
546 (B)                   (B)
547 (B)                   (B)
548 41.100000000000001    2.3999999999999999
549 (B)                   (B)
550 (B)                   (B)
551 52.600000000000001    2.2999999999999998
552 50.299999999999997    3.2999999999999998
553 54.899999999999999    3.2000000000000002
554 53.399999999999999    2.3999999999999999
555 54.899999999999999    2.3999999999999999
556 43.899999999999999    12.6
557 (B)                   (B)
558 20.800000000000001    14.199999999999999
559 53.299999999999997    2.3999999999999999
560 43.299999999999997    12.5
561 (B)                   (B)
562 46.100000000000001    2.7000000000000002
563 44.600000000000001    3.7000000000000002
564 47.600000000000001    3.7999999999999998
565 46.899999999999999    2.7999999999999998
566 48.700000000000003    2.8999999999999999
567 (B)                   (B)
568 (B)                   (B)
569 (B)                   (B)
570 46.600000000000001    2.7000000000000002
571 (B)                   (B)
572 (B)                   (B)
    Percent voted (Citizen) Margin of error percent voted citizen Year
543 41.299999999999997      2.3999999999999999                    2010
544 41.299999999999997      2.3999999999999999                    2010
545 (B)                     (B)                                   2010
546 (B)                     (B)                                   2010
547 (B)                     (B)                                   2010
548 41.200000000000003      2.3999999999999999                    2010
549 (B)                     (B)                                   2010
550 (B)                     (B)                                   2010
551 54.299999999999997      2.2999999999999998                    2010
552 52.299999999999997      3.2999999999999998                    2010
553 56.200000000000003      3.2000000000000002                    2010
554 54.899999999999999      2.3999999999999999                    2010
555 55.299999999999997      2.3999999999999999                    2010
556 46.299999999999997      13                                    2010
557 (B)                     (B)                                   2010
558 39.399999999999999      23.5                                  2010
559 54.799999999999997      2.3999999999999999                    2010
560 45.700000000000003      12.9                                  2010
561 (B)                     (B)                                   2010
562 47.200000000000003      2.7000000000000002                    2010
563 45.799999999999997      3.7999999999999998                    2010
564 48.700000000000003      3.8999999999999999                    2010
565 47.700000000000003      2.7999999999999998                    2010
566 48.899999999999999      2.8999999999999999                    2010
567 (B)                     (B)                                   2010
568 (B)                     (B)                                   2010
569 (B)                     (B)                                   2010
570 47.5                    2.7000000000000002                    2010
571 (B)                     (B)                                   2010
572 (B)                     (B)                                   2010

In [125]:
#Changing the '-' entries to 0, as they signify
race_2010[race_2010 == '-'] <- 0

In [126]:
#Converting columns to numerics
race_2010$`Total registered` <- as.numeric(race_2010$`Total registered`)
race_2010$`Total voted` <- as.numeric(race_2010$`Total voted`)
race_2010$`Total citizen population` <- as.numeric(race_2010$`Total citizen population`)

In [127]:
#Recalculating the percents to get rid of the "B's"
race_2010$`Percent registered (Total)` <- ifelse(race_2010$`Total population` != 0,
                                                 100*race_2010$`Total registered` / race_2010$`Total population`,
                                                 0)

race_2010$`Percent registered (Citizen)` <- ifelse(race_2010$`Total citizen population` != 0,
                                                 100*race_2010$`Total registered` / race_2010$`Total citizen population`,
                                                 0)

race_2010$`Percent voted (Total)` <- ifelse(race_2010$`Total population` != 0,
                                                 100*race_2010$`Total voted` / race_2010$`Total population`,
                                                 0)

race_2010$`Percent voted (Citizen)` <- ifelse(race_2010$`Total citizen population` != 0,
                                                 100*race_2010$`Total voted` / race_2010$`Total citizen population`,
                                                 0)

In [128]:
#Pivoting to the desired format
race_2010_final <- pivot_wider(race_2010, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [129]:
head(race_2010_final)

  STATE      Year Total population_Total Total population_Male
1 US         2010 229690                 111098
2 ALABAMA    2010   3526                   1652
3 ALASKA     2010    498                    252
4 ARIZONA    2010   4831                   2391
5 ARKANSAS   2010   2140                   1021
6 CALIFORNIA 2010  27381                  13470
  Total population_Female Total population_White alone
1 118592                  185804
2   1873                    2611
3    246                     385
4   2439                    4267
5   1120                    1740
6  13910                   20828
  Total population_White non-Hispanic alone Total population_Black alone
1 155680                                    27396
2   2485                                      868
3    364                                       24
4   3019                                      193
5   1659                                      310
6  12418                                     1728
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 11049                        32457                                   ⋯
2    31                          142                                   ⋯
3    19                           23                                   ⋯
4    97                         1389                                   ⋯
5    48                           83                                   ⋯
6  3860                         9004                                   ⋯
  Margin of error percent voted citizen_Male
1 0.40000000000000002
2 3.7000000000000002
3 3.7999999999999998
4 3.2000000000000002
5 3.7000000000000002
6 1.3999999999999999
  Margin of error percent voted citizen_Female
1 0.40000000000000002
2 3.3999999999999999
3 3.8999999999999999
4 3.2000000000000002
5 3.5
6 1.3999999999999999
  Margin of error percent voted citizen_White alone
1 0.29999999999999999
2 2.8999999999999999
3 3
4 2.3999999999999999
5 2.7999999999999998
6 1.1000000000000001
  Margin of error percent voted citizen_White non-Hispanic alone
1 0.40000000000000002
2 2.8999999999999999
3 3.1000000000000001
4 2.7000000000000002
5 2.8999999999999999
6 1.3999999999999999
  Margin of error percent voted citizen_Black alone
1 1.1000000000000001
2 6
3 (B)
4 13.1
5 7.5999999999999996
6 4.4000000000000004
  Margin of error percent voted citizen_Asian alone
1 1.8999999999999999
2 (B)
3 (B)
4 20.800000000000001
5 (B)
6 3.2999999999999998
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.3999999999999999
2 23.800000000000001
3 (B)
4 7
5 21.600000000000001
6 3
  Margin of error percent voted citizen_White alone or in combination
1 0.29999999999999999
2 2.8999999999999999
3 3
4 2.3999999999999999
5 2.7999999999999998
6 1.1000000000000001
  Margin of error percent voted citizen_Black alone or in combination
1 1
2 6
3 (B)
4 12.699999999999999
5 7.5999999999999996
6 4.2000000000000002
  Margin of error percent voted citizen_Asian alone or in combination
1 1.8
2 (B)
3 (B)
4 20.399999999999999
5 (B)
6 3.2999999999999998

## 2010 Age Data

In [130]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table4c_2010.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2010.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`

In [131]:
#Skipping comments in the original excel file
age_2010 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2010.csv", skip=2)
age_2010 <- age_2010[-(313:nrow(age_2010)), ]

In [132]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(age_2010) <- col_names

In [133]:
head(age_2010)

  STATE Age      Total population Total citizen population Total registered
1 US    Total    229690           210800                   137263
2 NA    18 to 24  28924            26718                    12095
3 NA    25 to 44  81101            70472                    43414
4 NA    45 to 64  80700            75865                    53499
5 NA    65 to 74  21366            20605                    15347
6 NA    75+       17599            17140                    12908
  Percent registered (Total) Margin of error for percent registered total
1 59.799999999999997         0.29999999999999999
2 41.799999999999997         0.80000000000000004
3 53.5                       0.5
4 66.299999999999997         0.5
5 71.799999999999997         0.90000000000000002
6 73.299999999999997         0.90000000000000002
  Percent registered (Citizen) Margin of error for percent registered citizen
1 65.1                         0.3
2 45.3                         0.9
3 61.6                         0.5
4 70.5                         0.5
5 74.5                         0.9
6 75.3                         0.9
  Total voted Percent voted (Total) Margin of error percent voted total
1 95987       41.799999999999997    0.29999999999999999
2  5682       19.600000000000001    0.69999999999999996
3 26122       32.200000000000003    0.5
4 41248       51.100000000000001    0.5
5 12789       59.899999999999999    0.90000000000000002
6 10146       57.700000000000003    1.1000000000000001
  Percent voted (Citizen) Margin of error percent voted citizen
1 45.5                    0.3
2 21.3                    0.7
3 37.1                    0.5
4 54.4                    0.5
5 62.1                    1.0
6 59.2                    1.1

In [134]:
#Creating the state titles and the year variable
age_2010$STATE <- na.locf(age_2010$STATE)
age_2010$Year <- 2010
#Getting rid of the total row since it is already in the race data and is identical
age_2010 <- age_2010[age_2010$Age != "Total", ]
head(age_2010,20)

   STATE   Age      Total population Total citizen population Total registered
2  US      18 to 24 28924            26718                    12095
3  US      25 to 44 81101            70472                    43414
4  US      45 to 64 80700            75865                    53499
5  US      65 to 74 21366            20605                    15347
6  US      75+      17599            17140                    12908
8  ALABAMA 18 to 24   397              388                      172
9  ALABAMA 25 to 44  1239             1167                      732
10 ALABAMA 45 to 64  1254             1232                      836
11 ALABAMA 65 to 74   380              377                      284
12 ALABAMA 75+        257              257                      200
14 ALASKA  18 to 24    66               64                       22
15 ALASKA  25 to 44   188              178                      116
16 ALASKA  45 to 64   182              177                      133
17 ALASKA  65 to 74    39               37                       30
18 ALASKA  75+         23               22                       16
20 ARIZONA 18 to 24   604              568                      273
21 ARIZONA 25 to 44  1761             1537                      960
22 ARIZONA 45 to 64  1568             1455                     1038
23 ARIZONA 65 to 74   545              530                      394
24 ARIZONA 75+        353              353                      270
   Percent registered (Total) Margin of error for percent registered total
2  41.799999999999997         0.80000000000000004
3  53.5                       0.5
4  66.299999999999997         0.5
5  71.799999999999997         0.90000000000000002
6  73.299999999999997         0.90000000000000002
8  43.299999999999997         7.2999999999999998
9  59.100000000000001         4.0999999999999996
10 66.700000000000003         3.8999999999999999
11 74.599999999999994         6.5999999999999996
12 77.799999999999997         7.5999999999999996
14 (B)                        (B)
15 61.600000000000001         4.2000000000000002
16 73.400000000000006         3.8999999999999999
17 (B)                        (B)
18 (B)                        (B)
20 45.200000000000003         6.0999999999999996
21 54.5                       3.6000000000000001
22 66.200000000000003         3.6000000000000001
23 72.400000000000006         5.7000000000000002
24 76.5                       6.7999999999999998
   Percent registered (Citizen) Margin of error for percent registered citizen
2  45.3                          0.9
3  61.6                          0.5
4  70.5                          0.5
5  74.5                          0.9
6  75.3                          0.9
8  44.3                          7.4
9  62.8                          4.2
10 67.9                          3.9
11 75.3                          6.6
12 77.8                          7.6
14 34.6                          7.0
15 65.3                          4.2
16 75.5                          3.8
17 81.1                          7.6
18 71.8                         11.3
20 48.0                          6.3
21 62.4                          3.7
22 71.3                          3.6
23 74.3                          5.7
24 76.5                          6.8
   Total voted Percent voted (Total) Margin of error percent voted total
2   5682       19.600000000000001    0.69999999999999996
3  26122       32.200000000000003    0.5
4  41248       51.100000000000001    0.5
5  12789       59.899999999999999    0.90000000000000002
6  10146       57.700000000000003    1.1000000000000001
8     66       16.600000000000001    5.5
9    470       38                    4.0999999999999996
10   625       49.899999999999999    4.2000000000000002
11   215       56.600000000000001    7.5
12   133       51.700000000000003    9.1999999999999993
14    11       (B)                   (B)
15    81       42.899999999999999    4.2999999999999998
16   108       59.5                  4.2999999999999998
17    27       (B)                   (B)
18    14       (B)                   (B)
20   154       25.399999999999999    5.2999999999999998
21   624       35.399999999999999    3.3999999999999999
22   832       53                    3.7999999999999998
23   341       62.700000000000003    6.2000000000000002
24   220       62.299999999999997    7.7000000000000002
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  21.3                     0.7                                  2010
3  37.1                     0.5                                  2010
4  54.4                     0.5                                  2010
5  62.1                     1.0                                  2010
6  59.2                     1.1                                  2010
8  17.0                     5.6                                  2010
9  40.3                     4.2                                  2010
10 50.7                     4.2                                  2010
11 57.1                     7.5                                  2010
12 51.7                     9.2                                  2010
14 17.7                     5.6                                  2010
15 45.5                     4.4                                  2010
16 61.2                     4.3                                  2010
17 74.0                     8.5                                  2010
18 65.3                    12.0                                  2010
20 27.0                     5.6                                  2010
21 40.6                     3.8                                  2010
22 57.1                     3.9                                  2010
23 64.4                     6.2                                  2010
24 62.3                     7.7                                  2010

In [135]:
#Changing the '-' entries to 0, as they signify
age_2010[age_2010 == '-'] <- 0

In [136]:
#Recalculating the percents to get rid of the "B's"
age_2010$`Percent registered (Total)` <- ifelse(age_2010$`Total population` != 0,
                                                 100*age_2010$`Total registered` / age_2010$`Total population`,
                                                 0)

age_2010$`Percent registered (Citizen)` <- ifelse(age_2010$`Total citizen population` != 0,
                                                 100*age_2010$`Total registered` / age_2010$`Total citizen population`,
                                                 0)

age_2010$`Percent voted (Total)` <- ifelse(age_2010$`Total population` != 0,
                                                 100*age_2010$`Total voted` / age_2010$`Total population`,
                                                 0)

age_2010$`Percent voted (Citizen)` <- ifelse(age_2010$`Total citizen population` != 0,
                                                 100*age_2010$`Total voted` / age_2010$`Total citizen population`,
                                                 0)

In [137]:
#Pivot to the desired format
age_2010_final <- pivot_wider(age_2010, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [138]:
head(age_2010_final)

  STATE      Year Total population_18 to 24 Total population_25 to 44
1 US         2010 28924                     81101
2 ALABAMA    2010   397                      1239
3 ALASKA     2010    66                       188
4 ARIZONA    2010   604                      1761
5 ARKANSAS   2010   311                       677
6 CALIFORNIA 2010  3665                     10450
  Total population_45 to 64 Total population_65 to 74 Total population_75+
1 80700                     21366                     17599
2  1254                       380                       257
3   182                        39                        23
4  1568                       545                       353
5   774                       232                       146
6  9195                      2249                      1821
  Total citizen population_18 to 24 Total citizen population_25 to 44
1 26718                             70472
2   388                              1167
3    64                               178
4   568                              1537
5   299                               637
6  3192                              7884
  Total citizen population_45 to 64 ⋯ Percent voted (Citizen)_18 to 24
1 75865                             ⋯ 21.26656
2  1232                             ⋯ 17.01031
3   177                             ⋯ 17.18750
4  1455                             ⋯ 27.11268
5   756                             ⋯ 15.05017
6  7938                             ⋯ 25.15664
  Percent voted (Citizen)_25 to 44 Percent voted (Citizen)_45 to 64
1 37.06720                         54.37026
2 40.27421                         50.73052
3 45.50562                         61.01695
4 40.59857                         57.18213
5 29.51334                         53.04233
6 39.39625                         55.60595
  Percent voted (Citizen)_65 to 74 Percent voted (Citizen)_75+
1 62.06746                         59.19487
2 57.02918                         51.75097
3 72.97297                         63.63636
4 64.33962                         62.32295
5 60.43478                         47.26027
6 61.78782                         66.66667
  Margin of error percent voted citizen_18 to 24
1 0.7
2 5.6
3 5.6
4 5.6
5 4.9
6 2.3
  Margin of error percent voted citizen_25 to 44
1 0.5
2 4.2
3 4.4
4 3.8
5 4.3
6 1.7
  Margin of error percent voted citizen_45 to 64
1 0.5
2 4.2
3 4.3
4 3.9
5 4.3
6 1.7
  Margin of error percent voted citizen_65 to 74
1 1.0
2 7.5
3 8.5
4 6.2
5 7.6
6 3.2
  Margin of error percent voted citizen_75+
1  1.1
2  9.2
3 12.0
4  7.7
5  9.7
6  3.4

# Merging 2010 Age and Race Data

In [139]:
final_2010 <- merge(age_2010_final, race_2010_final, by = c("STATE", "Year"))

In [140]:
write.csv(final_2010, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2010.csv", row.names = FALSE)

# 2008 Data

## 2008 Race and Sex Data

In [141]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table-04b_2008.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2008.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`

In [142]:
#Skipping comments in the original excel file
race_2008 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2008.csv", skip=5)
race_2008[1, 1] <- "UNITED STATES"
head(race_2008, 20)

   NA.                            NA..1  NA..2  Total.Registered
1  UNITED STATES                      NA     NA NA
2  .Total                         225499 206072 146311
3  .Male                          108974  98818 68242
4  .Female                        116525 107255 78069
5  .White alone                   183169 169438 122020
6  ..White non-Hispanic alone     154472 151321 111215
7  .Black alone                    26528  24930 17375
8  .Asian alone                    10455   7059 3901
9  .Hispanic (of any race)         30852  19537 11608
10 .White alone or in combination 185773 171798 123628
11 .Black alone or in combination  27483  25768 17960
12 .Asian alone or in combination  11009   7562 4225
13 ALABAMA                            NA     NA NA
14 .Total                           3497   3404 2438
15 .Male                            1654   1593 1092
16 .Female                          1843   1811 1346
17 .White alone                     2541   2473 1791
18 ..White non-Hispanic alone       2474   2470 1791
19 .Black alone                      875    875 611
20 .Asian alone                       32      8 -
   Percent.registered..Total.18.. Margin.of.error1
1  NA                             NA
2  64.900000000000006             0.29999999999999999
3  62.600000000000001             0.40000000000000002
4  67                             0.40000000000000002
5  66.599999999999994             0.29999999999999999
6  72                             0.29999999999999999
7  65.5                           1
8  37.299999999999997             1.7
9  37.600000000000001             1.2
10 66.5                           0.29999999999999999
11 65.299999999999997             1
12 38.399999999999999             1.7
13 NA                             NA
14 69.700000000000003             2.2999999999999998
15 66                             3.3999999999999999
16 73                             3
17 70.5                           2.7000000000000002
18 72.400000000000006             2.7000000000000002
19 69.900000000000006             5.5
20 (B)                            (B)
   Percent.registered..Citizen.18.. Margin.of.error1.1  Total.Voted
1  NA                               NA                  NA
2  71                               0.29999999999999999 131144
3  69.099999999999994               0.40000000000000002 60729
4  72.799999999999997               0.40000000000000002 70415
5  72                               0.29999999999999999 109100
6  73.5                             0.29999999999999999 100042
7  69.700000000000003               1                   16133
8  55.299999999999997               1.7                 3357
9  59.399999999999999               1.2                 9745
10 72                               0.29999999999999999 110500
11 69.700000000000003               0.90000000000000002 16674
12 55.899999999999999               1.7                 3627
13 NA                               NA                  NA
14 71.599999999999994               2.2000000000000002  2126
15 68.5                             3.3999999999999999  927
16 74.299999999999997               3                   1199
17 72.400000000000006               2.6000000000000001  1543
18 72.5                             2.6000000000000001  1543
19 69.900000000000006               5.5                 547
20 (B)                              (B)                 -
   Percent.voted..Total.18.. Margin.of.error1.2  Percent.voted..Citizen.18..
1  NA                        NA                  NA
2  58.200000000000003        0.29999999999999999 63.600000000000001
3  55.700000000000003        0.40000000000000002 61.5
4  60.399999999999999        0.40000000000000002 65.700000000000003
5  59.600000000000001        0.29999999999999999 64.400000000000006
6  64.799999999999997        0.29999999999999999 66.099999999999994
7  60.799999999999997        1                   64.700000000000003
8  32.100000000000001        1.6000000000000001  47.600000000000001
9  31.600000000000001        1.2                 49.899999999999999
10 59.5                      0.29999999999999999 64.299999999999997
11 60.700000000000003        1                   64.700000000000003
12 32.899999999999999        1.6000000000000001  48
13 NA                        NA                  NA
14 60.799999999999997        2.3999999999999999  62.399999999999999
15 56.100000000000001        3.6000000000000001  58.200000000000003
16 65                        3.2999999999999998  66.200000000000003
17 60.700000000000003        2.8999999999999999  62.399999999999999
18 62.399999999999999        2.8999999999999999  62.5
19 62.5                      5.7999999999999998  62.5
20 (B)                       (B)                 (B)
   Margin.of.error1.3
1  NA
2  0.29999999999999999
3  0.40000000000000002
4  0.40000000000000002
5  0.29999999999999999
6  0.29999999999999999
7  1
8  1.7
9  1.3
10 0.29999999999999999
11 1
12 1.7
13 NA
14 2.3999999999999999
15 3.6000000000000001
16 3.2000000000000002
17 2.7999999999999998
18 2.8999999999999999
19 5.7999999999999998
20 (B)

In [143]:
#Fixing the state column formatting because it is unlike other years 
excluded_strings <- c(".Total", ".Male", ".Female", ".White alone", "..White non-Hispanic alone",
                      ".Black alone", ".Asian alone", ".Hispanic (of any race)", 
                      ".White alone or in combination", ".Black alone or in combination", 
                      ".Asian alone or in combination")
#Deleting everyvalue from excluded strings from column 1
race_2008$STATE <- ifelse(!(race_2008[,1] %in% excluded_strings), race_2008[,1], NA)

#Putting state column first
race_2008 <- race_2008[, c("STATE", setdiff(names(race_2008), "STATE"))]

#Creating the state titles
race_2008$STATE <- na.locf(race_2008$STATE)

#Only keeping rows in the second column with values from the excluded strings
race_2008 <- race_2008[race_2008[,2] %in% excluded_strings, ]

# Remove periods from values in the second column
race_2008[,2] <- gsub("\\.", "", race_2008[,2])

In [144]:
head(race_2008, 20)

   STATE         NA.                           NA..1  NA..2  Total.Registered
2  UNITED STATES Total                         225499 206072 146311
3  UNITED STATES Male                          108974  98818 68242
4  UNITED STATES Female                        116525 107255 78069
5  UNITED STATES White alone                   183169 169438 122020
6  UNITED STATES White non-Hispanic alone      154472 151321 111215
7  UNITED STATES Black alone                    26528  24930 17375
8  UNITED STATES Asian alone                    10455   7059 3901
9  UNITED STATES Hispanic (of any race)         30852  19537 11608
10 UNITED STATES White alone or in combination 185773 171798 123628
11 UNITED STATES Black alone or in combination  27483  25768 17960
12 UNITED STATES Asian alone or in combination  11009   7562 4225
14 ALABAMA       Total                           3497   3404 2438
15 ALABAMA       Male                            1654   1593 1092
16 ALABAMA       Female                          1843   1811 1346
17 ALABAMA       White alone                     2541   2473 1791
18 ALABAMA       White non-Hispanic alone        2474   2470 1791
19 ALABAMA       Black alone                      875    875 611
20 ALABAMA       Asian alone                       32      8 -
21 ALABAMA       Hispanic (of any race)            71      7 4
22 ALABAMA       White alone or in combination   2579   2511 1824
   Percent.registered..Total.18.. Margin.of.error1
2  64.900000000000006             0.29999999999999999
3  62.600000000000001             0.40000000000000002
4  67                             0.40000000000000002
5  66.599999999999994             0.29999999999999999
6  72                             0.29999999999999999
7  65.5                           1
8  37.299999999999997             1.7
9  37.600000000000001             1.2
10 66.5                           0.29999999999999999
11 65.299999999999997             1
12 38.399999999999999             1.7
14 69.700000000000003             2.2999999999999998
15 66                             3.3999999999999999
16 73                             3
17 70.5                           2.7000000000000002
18 72.400000000000006             2.7000000000000002
19 69.900000000000006             5.5
20 (B)                            (B)
21 (B)                            (B)
22 70.700000000000003             2.6000000000000001
   Percent.registered..Citizen.18.. Margin.of.error1.1  Total.Voted
2  71                               0.29999999999999999 131144
3  69.099999999999994               0.40000000000000002 60729
4  72.799999999999997               0.40000000000000002 70415
5  72                               0.29999999999999999 109100
6  73.5                             0.29999999999999999 100042
7  69.700000000000003               1                   16133
8  55.299999999999997               1.7                 3357
9  59.399999999999999               1.2                 9745
10 72                               0.29999999999999999 110500
11 69.700000000000003               0.90000000000000002 16674
12 55.899999999999999               1.7                 3627
14 71.599999999999994               2.2000000000000002  2126
15 68.5                             3.3999999999999999  927
16 74.299999999999997               3                   1199
17 72.400000000000006               2.6000000000000001  1543
18 72.5                             2.6000000000000001  1543
19 69.900000000000006               5.5                 547
20 (B)                              (B)                 -
21 (B)                              (B)                 4
22 72.599999999999994               2.6000000000000001  1576
   Percent.voted..Total.18.. Margin.of.error1.2  Percent.voted..Citizen.18..
2  58.200000000000003        0.29999999999999999 63.600000000000001
3  55.700000000000003        0.40000000000000002 61.5
4  60.399999999999999        0.40000000000000002 65.700000000000003
5  59.600000000000001        0.29999999999999999 64.400000000000006
6  64.799999999999997        0.29999999999999999 66.099999999999994
7  60.799999999999997        1                   64.700000000000003
8  32.100000000000001        1.6000000000000001  47.600000000000001
9  31.600000000000001        1.2                 49.899999999999999
10 59.5                      0.29999999999999999 64.299999999999997
11 60.700000000000003        1                   64.700000000000003
12 32.899999999999999        1.6000000000000001  48
14 60.799999999999997        2.3999999999999999  62.399999999999999
15 56.100000000000001        3.6000000000000001  58.200000000000003
16 65                        3.2999999999999998  66.200000000000003
17 60.700000000000003        2.8999999999999999  62.399999999999999
18 62.399999999999999        2.8999999999999999  62.5
19 62.5                      5.7999999999999998  62.5
20 (B)                       (B)                 (B)
21 (B)                       (B)                 (B)
22 61.100000000000001        2.7999999999999998  62.799999999999997
   Margin.of.error1.3
2  0.29999999999999999
3  0.40000000000000002
4  0.40000000000000002
5  0.29999999999999999
6  0.29999999999999999
7  1
8  1.7
9  1.3
10 0.29999999999999999
11 1
12 1.7
14 2.3999999999999999
15 3.6000000000000001
16 3.2000000000000002
17 2.7999999999999998
18 2.8999999999999999
19 5.7999999999999998
20 (B)
21 (B)
22 2.7999999999999998

In [145]:
#Checking that I skipped correctly
tail(race_2008, 20)

    STATE     NA.                           NA..1 NA..2 Total.Registered
604 WISCONSIN Female                        2128  2060  1594
605 WISCONSIN White alone                   3881  3764  2881
606 WISCONSIN White non-Hispanic alone      3639  3620  2806
607 WISCONSIN Black alone                    199   199  145
608 WISCONSIN Asian alone                     76    37  31
609 WISCONSIN Hispanic (of any race)         247   150  77
610 WISCONSIN White alone or in combination 3903  3786  2892
611 WISCONSIN Black alone or in combination  213   213  150
612 WISCONSIN Asian alone or in combination   78    39  33
614 WYOMING   Total                          397   389  270
615 WYOMING   Male                           199   195  127
616 WYOMING   Female                         198   194  142
617 WYOMING   White alone                    377   373  261
618 WYOMING   White non-Hispanic alone       361   359  252
619 WYOMING   Black alone                      5     4  1
620 WYOMING   Asian alone                      4     1  -
621 WYOMING   Hispanic (of any race)          18    15  8
622 WYOMING   White alone or in combination  382   378  265
623 WYOMING   Black alone or in combination    6     4  2
624 WYOMING   Asian alone or in combination    5     2  -
    Percent.registered..Total.18.. Margin.of.error1
604 74.900000000000006             2.7999999999999998
605 74.200000000000003             2.1000000000000001
606 77.099999999999994             2.1000000000000001
607 73.099999999999994             11.4
608 41                             21.300000000000001
609 31.300000000000001             13.9
610 74.099999999999994             2.1000000000000001
611 70.5                           11.300000000000001
612 42.399999999999999             21.100000000000001
614 67.900000000000006             2.6000000000000001
615 64                             3.7000000000000002
616 71.799999999999997             3.5
617 69.200000000000003             2.6000000000000001
618 70                             2.6000000000000001
619 (B)                            (B)
620 (B)                            (B)
621 (B)                            (B)
622 69.400000000000006             2.6000000000000001
623 (B)                            (B)
624 (B)                            (B)
    Percent.registered..Citizen.18.. Margin.of.error1.1 Total.Voted
604 77.400000000000006               2.7000000000000002 1484
605 76.5                             2                  2682
606 77.5                             2.1000000000000001 2617
607 73.099999999999994               11.4               145
608 (B)                              (B)                31
609 51.600000000000001               15                 66
610 76.400000000000006               2                  2692
611 70.5                             11.300000000000001 150
612 (B)                              (B)                33
614 69.299999999999997               2.5                250
615 65.200000000000003               3.7000000000000002 118
616 73.5                             3.3999999999999999 132
617 70                               2.6000000000000001 242
618 70.299999999999997               2.6000000000000001 235
619 (B)                              (B)                1
620 (B)                              (B)                -
621 (B)                              (B)                7
622 70.200000000000003               2.6000000000000001 246
623 (B)                              (B)                1
624 (B)                              (B)                -
    Percent.voted..Total.18.. Margin.of.error1.2 Percent.voted..Citizen.18..
604 69.700000000000003        3                  72
605 69.099999999999994        2.2000000000000002 71.200000000000003
606 71.900000000000006        2.2000000000000002 72.299999999999997
607 73.099999999999994        11.4               73.099999999999994
608 41                        21.300000000000001 (B)
609 26.899999999999999        13.300000000000001 44.399999999999999
610 69                        2.2000000000000002 71.099999999999994
611 70.5                      11.300000000000001 70.5
612 42.399999999999999        21.100000000000001 (B)
614 62.899999999999999        2.6000000000000001 64.299999999999997
615 59.200000000000003        3.7999999999999998 60.399999999999999
616 66.700000000000003        3.6000000000000001 68.200000000000003
617 64.099999999999994        2.7000000000000002 64.900000000000006
618 65.099999999999994        2.7000000000000002 65.400000000000006
619 (B)                       (B)                (B)
620 (B)                       (B)                (B)
621 (B)                       (B)                (B)
622 64.299999999999997        2.7000000000000002 65
623 (B)                       (B)                (B)
624 (B)                       (B)                (B)
    Margin.of.error1.3
604 2.8999999999999999
605 2.2000000000000002
606 2.2000000000000002
607 11.4
608 (B)
609 14.9
610 2.2000000000000002
611 11.300000000000001
612 (B)
614 2.6000000000000001
615 3.7999999999999998
616 3.6000000000000001
617 2.7000000000000002
618 2.7000000000000002
619 (B)
620 (B)
621 (B)
622 2.7000000000000002
623 (B)
624 (B)

In [146]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2008) <- col_names

In [147]:
# #Creating the year variable
race_2008$Year <- 2008

In [148]:
head(race_2008, 30)

   STATE         Sex, Race, and Hispanic-Origin Total population
2  UNITED STATES Total                          225499
3  UNITED STATES Male                           108974
4  UNITED STATES Female                         116525
5  UNITED STATES White alone                    183169
6  UNITED STATES White non-Hispanic alone       154472
7  UNITED STATES Black alone                     26528
8  UNITED STATES Asian alone                     10455
9  UNITED STATES Hispanic (of any race)          30852
10 UNITED STATES White alone or in combination  185773
11 UNITED STATES Black alone or in combination   27483
12 UNITED STATES Asian alone or in combination   11009
14 ALABAMA       Total                            3497
15 ALABAMA       Male                             1654
16 ALABAMA       Female                           1843
17 ALABAMA       White alone                      2541
18 ALABAMA       White non-Hispanic alone         2474
19 ALABAMA       Black alone                       875
20 ALABAMA       Asian alone                        32
21 ALABAMA       Hispanic (of any race)             71
22 ALABAMA       White alone or in combination    2579
23 ALABAMA       Black alone or in combination     892
24 ALABAMA       Asian alone or in combination      32
26 ALASKA        Total                             488
27 ALASKA        Male                              246
28 ALASKA        Female                            242
29 ALASKA        White alone                       364
30 ALASKA        White non-Hispanic alone          351
31 ALASKA        Black alone                        17
32 ALASKA        Asian alone                        23
33 ALASKA        Hispanic (of any race)             15
   Total citizen population Total registered Percent registered (Total)
2  206072                   146311           64.900000000000006
3   98818                   68242            62.600000000000001
4  107255                   78069            67
5  169438                   122020           66.599999999999994
6  151321                   111215           72
7   24930                   17375            65.5
8    7059                   3901             37.299999999999997
9   19537                   11608            37.600000000000001
10 171798                   123628           66.5
11  25768                   17960            65.299999999999997
12   7562                   4225             38.399999999999999
14   3404                   2438             69.700000000000003
15   1593                   1092             66
16   1811                   1346             73
17   2473                   1791             70.5
18   2470                   1791             72.400000000000006
19    875                   611              69.900000000000006
20      8                   -                (B)
21      7                   4                (B)
22   2511                   1824             70.700000000000003
23    892                   626              70.099999999999994
24      8                   -                (B)
26    468                   345              70.799999999999997
27    241                   171              69.599999999999994
28    228                   174              72
29    355                   278              76.400000000000006
30    344                   271              77.099999999999994
31     15                   10               (B)
32     17                   9                (B)
33     13                   9                (B)
   Margin of error for percent registered total Percent registered (Citizen)
2  0.29999999999999999                          71
3  0.40000000000000002                          69.099999999999994
4  0.40000000000000002                          72.799999999999997
5  0.29999999999999999                          72
6  0.29999999999999999                          73.5
7  1                                            69.700000000000003
8  1.7                                          55.299999999999997
9  1.2                                          59.399999999999999
10 0.29999999999999999                          72
11 1                                            69.700000000000003
12 1.7                                          55.899999999999999
14 2.2999999999999998                           71.599999999999994
15 3.3999999999999999                           68.5
16 3                                            74.299999999999997
17 2.7000000000000002                           72.400000000000006
18 2.7000000000000002                           72.5
19 5.5                                          69.900000000000006
20 (B)                                          (B)
21 (B)                                          (B)
22 2.6000000000000001                           72.599999999999994
23 5.5                                          70.099999999999994
24 (B)                                          (B)
26 2.3999999999999999                           73.700000000000003
27 3.5                                          71.099999999999994
28 3.3999999999999999                           76.5
29 2.6000000000000001                           78.400000000000006
30 2.7000000000000002                           78.700000000000003
31 (B)                                          (B)
32 (B)                                          (B)
33 (B)                                          (B)
   Margin of error for percent registered citizen Total voted
2  0.29999999999999999                            131144
3  0.40000000000000002                            60729
4  0.40000000000000002                            70415
5  0.29999999999999999                            109100
6  0.29999999999999999                            100042
7  1                                              16133
8  1.7                                            3357
9  1.2                                            9745
10 0.29999999999999999                            110500
11 0.90000000000000002                            16674
12 1.7                                            3627
14 2.2000000000000002                             2126
15 3.3999999999999999                             927
16 3                                              1199
17 2.6000000000000001                             1543
18 2.6000000000000001                             1543
19 5.5                                            547
20 (B)                                            -
21 (B)                                            4
22 2.6000000000000001                             1576
23 5.5                                            561
24 (B)                                            -
26 2.3999999999999999                             304
27 3.3999999999999999                             152
28 3.2000000000000002                             152
29 2.6000000000000001                             251
30 2.6000000000000001                             245
31 (B)                                            7
32 (B)                                            7
33 (B)                                            8
   Percent voted (Total) Margin of error percent voted total
2  58.200000000000003    0.29999999999999999
3  55.700000000000003    0.40000000000000002
4  60.399999999999999    0.40000000000000002
5  59.600000000000001    0.29999999999999999
6  64.799999999999997    0.29999999999999999
7  60.799999999999997    1
8  32.100000000000001    1.6000000000000001
9  31.600000000000001    1.2
10 59.5                  0.29999999999999999
11 60.700000000000003    1
12 32.899999999999999    1.6000000000000001
14 60.799999999999997    2.3999999999999999
15 56.100000000000001    3.6000000000000001
16 65                    3.2999999999999998
17 60.700000000000003    2.8999999999999999
18 62.399999999999999    2.8999999999999999
19 62.5                  5.7999999999999998
20 (B)                   (B)
21 (B)                   (B)
22 61.100000000000001    2.7999999999999998
23 62.899999999999999    5.7999999999999998
24 (B)                   (B)
26 62.399999999999999    2.6000000000000001
27 61.799999999999997    3.7000000000000002
28 62.899999999999999    3.7000000000000002
29 69                    2.8999999999999999
30 69.799999999999997    2.8999999999999999
31 (B)                   (B)
32 (B)                   (B)
33 (B)                   (B)
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  63.600000000000001      0.29999999999999999                   2008
3  61.5                    0.40000000000000002                   2008
4  65.700000000000003      0.40000000000000002                   2008
5  64.400000000000006      0.29999999999999999                   2008
6  66.099999999999994      0.29999999999999999                   2008
7  64.700000000000003      1                                     2008
8  47.600000000000001      1.7                                   2008
9  49.899999999999999      1.3                                   2008
10 64.299999999999997      0.29999999999999999                   2008
11 64.700000000000003      1                                     2008
12 48                      1.7                                   2008
14 62.399999999999999      2.3999999999999999                    2008
15 58.200000000000003      3.6000000000000001                    2008
16 66.200000000000003      3.2000000000000002                    2008
17 62.399999999999999      2.7999999999999998                    2008
18 62.5                    2.8999999999999999                    2008
19 62.5                    5.7999999999999998                    2008
20 (B)                     (B)                                   2008
21 (B)                     (B)                                   2008
22 62.799999999999997      2.7999999999999998                    2008
23 62.899999999999999      5.7999999999999998                    2008
24 (B)                     (B)                                   2008
26 65                      2.6000000000000001                    2008
27 63.200000000000003      3.6000000000000001                    2008
28 66.799999999999997      3.6000000000000001                    2008
29 70.799999999999997      2.7999999999999998                    2008
30 71.200000000000003      2.8999999999999999                    2008
31 (B)                     (B)                                   2008
32 (B)                     (B)                                   2008
33 (B)                     (B)                                   2008

In [149]:
#Changing the '-' entries to 0, as they signify
race_2008[race_2008 == '-'] <- 0

In [150]:
#Converting columns to numerics
race_2008$`Total registered` <- as.numeric(race_2008$`Total registered`)
race_2008$`Total voted` <- as.numeric(race_2008$`Total voted`)

In [151]:
#Recalculating the percents to get rid of the "B's"
race_2008$`Percent registered (Total)` <- ifelse(race_2008$`Total population` != 0,
                                                 100*race_2008$`Total registered` / race_2008$`Total population`,
                                                 0)

race_2008$`Percent registered (Citizen)` <- ifelse(race_2008$`Total citizen population` != 0,
                                                 100*race_2008$`Total registered` / race_2008$`Total citizen population`,
                                                 0)

race_2008$`Percent voted (Total)` <- ifelse(race_2008$`Total population` != 0,
                                                 100*race_2008$`Total voted` / race_2008$`Total population`,
                                                 0)

race_2008$`Percent voted (Citizen)` <- ifelse(race_2008$`Total citizen population` != 0,
                                                 100*race_2008$`Total voted` / race_2008$`Total citizen population`,
                                                 0)

In [152]:
#Pivoting to the desired format
race_2008_final <- pivot_wider(race_2008, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [153]:
head(race_2008_final)

  STATE         Year Total population_Total Total population_Male
1 UNITED STATES 2008 225499                 108974
2 ALABAMA       2008   3497                   1654
3 ALASKA        2008    488                    246
4 ARIZONA       2008   4688                   2326
5 ARKANSAS      2008   2108                   1002
6 CALIFORNIA    2008  26993                  13259
  Total population_Female Total population_White alone
1 116525                  183169
2   1843                    2541
3    242                     364
4   2362                    4163
5   1106                    1733
6  13734                   20823
  Total population_White non-Hispanic alone Total population_Black alone
1 154472                                    26528
2   2474                                      875
3    351                                       17
4   2970                                      185
5   1658                                      308
6  12581                                     1682
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 10455                        30852                                   ⋯
2    32                           71                                   ⋯
3    23                           15                                   ⋯
4   105                         1227                                   ⋯
5    23                           74                                   ⋯
6  3473                         8859                                   ⋯
  Margin of error percent voted citizen_Male
1 0.40000000000000002
2 3.6000000000000001
3 3.6000000000000001
4 3.1000000000000001
5 3.7000000000000002
6 1.3
  Margin of error percent voted citizen_Female
1 0.40000000000000002
2 3.2000000000000002
3 3.6000000000000001
4 3
5 3.5
6 1.2
  Margin of error percent voted citizen_White alone
1 0.29999999999999999
2 2.7999999999999998
3 2.7999999999999998
4 2.2999999999999998
5 2.7999999999999998
6 1
  Margin of error percent voted citizen_White non-Hispanic alone
1 0.29999999999999999
2 2.8999999999999999
3 2.8999999999999999
4 2.6000000000000001
5 2.8999999999999999
6 1.2
  Margin of error percent voted citizen_Black alone
1 1
2 5.7999999999999998
3 (B)
4 13.300000000000001
5 8.0999999999999996
6 4.2000000000000002
  Margin of error percent voted citizen_Asian alone
1 1.7
2 (B)
3 (B)
4 18.199999999999999
5 (B)
6 3.2000000000000002
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.3
2 (B)
3 (B)
4 6.5
5 (B)
6 2.5
  Margin of error percent voted citizen_White alone or in combination
1 0.29999999999999999
2 2.7999999999999998
3 2.7000000000000002
4 2.2999999999999998
5 2.7999999999999998
6 1
  Margin of error percent voted citizen_Black alone or in combination
1 1
2 5.7999999999999998
3 (B)
4 12.6
5 8
6 4
  Margin of error percent voted citizen_Asian alone or in combination
1 1.7
2 (B)
3 (B)
4 17.5
5 (B)
6 3.2000000000000002

## 2008 Age Data

In [154]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table-04c_2008.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2008.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`

In [155]:
#Skipping comments in the original excel file
age_2008 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04c_2008.csv", skip=5)
head(age_2008, 30)

   NA.           NA..1  NA..2  Total.Registered Percent.registered..Total.18..
1  UNITED STATES     NA     NA     NA           NA
2  .Total        225499 206072 146311           64.900000000000006
3  .18 to 24      28263  25791  15082           53.399999999999999
4  .25 to 34      40240  34218  22736           56.5
5  .35 to 44      41460  36397  25449           61.399999999999999
6  .45 to 54      44181  41085  30210           68.400000000000006
7  .55 to 64      33896  32288  24734           73
8  .65 to 74      20227  19571  15290           75.599999999999994
9  .75+           17231  16724  12810           74.299999999999997
10 ALABAMA           NA     NA     NA           NA
11 .Total          3497   3404   2438           69.700000000000003
12 .18 to 24        458    441    301           65.700000000000003
13 .25 to 44       1208   1139    724           59.899999999999999
14 .45 to 64       1210   1204    895           74
15 .65 to 74        368    368    306           83.200000000000003
16 .75+             253    253    212           84
17 ALASKA 2          NA     NA     NA           NA
18 .Total           488    468    345           70.799999999999997
19 .18 to 44        253    239    164           65.099999999999994
20 .45 to 64        191    187    148           77.599999999999994
21 .65+              44     43     33           (B)
22 ARIZONA           NA     NA     NA           NA
23 .Total          4688   4169   2874           61.299999999999997
24 .18 to 24        574    516    303           52.700000000000003
25 .25 to 44       1754   1451    963           54.899999999999999
26 .45 to 64       1628   1502   1065           65.400000000000006
27 .65 to 74        428    414    337           78.599999999999994
28 .75+             303    286    206           68
29 ARKANSAS          NA     NA     NA           NA
30 .Total          2108   2030   1317           62.5
   Margin.of.error1    Percent.registered..Citizen.18.. Margin.of.error1.1
1  NA                  NA                               NA
2  0.29999999999999999 71                               0.29999999999999999
3  0.80000000000000004 58.5                             0.80000000000000004
4  0.69999999999999996 66.400000000000006               0.69999999999999996
5  0.69999999999999996 69.900000000000006               0.59999999999999998
6  0.59999999999999998 73.5                             0.59999999999999998
7  0.69999999999999996 76.599999999999994               0.59999999999999998
8  0.90000000000000002 78.099999999999994               0.80000000000000004
9  0.90000000000000002 76.599999999999994               0.90000000000000002
10 NA                  NA                               NA
11 2.2999999999999998  71.599999999999994               2.2000000000000002
12 6.5                 68.099999999999994               6.4000000000000004
13 4.2000000000000002  63.600000000000001               4.0999999999999996
14 3.7000000000000002  74.400000000000006               3.7000000000000002
15 5.7999999999999998  83.200000000000003               5.7999999999999998
16 6.7999999999999998  84                               6.7999999999999998
17 NA                  NA                               NA
18 2.3999999999999999  73.700000000000003               2.3999999999999999
19 3.5                 68.799999999999997               3.3999999999999999
20 3.6000000000000001  79.400000000000006               3.5
21 (B)                 (B)                              (B)
22 NA                  NA                               NA
23 2.1000000000000001  68.900000000000006               2
24 6.2999999999999998  58.700000000000003               6.2000000000000002
25 3.6000000000000001  66.400000000000006               3.3999999999999999
26 3.5                 70.900000000000006               3.3999999999999999
27 5.9000000000000004  81.299999999999997               5.7000000000000002
28 8                   72.200000000000003               7.7000000000000002
29 NA                  NA                               NA
30 2.5                 64.900000000000006               2.5
   Total.Voted Percent.voted..Total.18.. Margin.of.error1.2
1      NA      NA                        NA
2  131144      58.200000000000003        0.29999999999999999
3   12515      44.299999999999997        0.80000000000000004
4   19501      48.5                      0.69999999999999996
5   22865      55.100000000000001        0.69999999999999996
6   27673      62.600000000000001        0.59999999999999998
7   23071      68.099999999999994        0.69999999999999996
8   14176      70.099999999999994        0.90000000000000002
9   11344      65.799999999999997        1
10     NA      NA                        NA
11   2126      60.799999999999997        2.3999999999999999
12    238      51.899999999999999        6.9000000000000004
13    624      51.600000000000001        4.2000000000000002
14    809      66.900000000000006        4
15    277      75.200000000000003        6.5999999999999996
16    178      70.5                      8.5
17     NA      NA                        NA
18    304      62.399999999999999        2.6000000000000001
19    138      54.799999999999997        3.7000000000000002
20    135      70.700000000000003        3.8999999999999999
21     31      (B)                       (B)
22     NA      NA                        NA
23   2497      53.299999999999997        2.2000000000000002
24    223      38.700000000000003        6.0999999999999996
25    793      45.200000000000003        3.6000000000000001
26    996      61.200000000000003        3.6000000000000001
27    303      70.799999999999997        6.5999999999999996
28    181      59.700000000000003        8.5
29     NA      NA                        NA
30   1092      51.799999999999997        2.6000000000000001
   Percent.voted..Citizen.18.. Margin.of.error1.3
1  NA                          NA
2  63.600000000000001          0.29999999999999999
3  48.5                        0.80000000000000004
4  57                          0.69999999999999996
5  62.799999999999997          0.69999999999999996
6  67.400000000000006          0.59999999999999998
7  71.5                        0.69999999999999996
8  72.400000000000006          0.90000000000000002
9  67.799999999999997          1
10 NA                          NA
11 62.399999999999999          2.3999999999999999
12 53.799999999999997          6.9000000000000004
13 54.799999999999997          4.2000000000000002
14 67.200000000000003          4
15 75.200000000000003          6.5999999999999996
16 70.5                        8.5
17 NA                          NA
18 65                          2.6000000000000001
19 57.899999999999999          3.7000000000000002
20 72.299999999999997          3.7999999999999998
21 (B)                         (B)
22 NA                          NA
23 59.899999999999999          2.1000000000000001
24 43.200000000000003          6.2000000000000002
25 54.700000000000003          3.6000000000000001
26 66.299999999999997          3.5
27 73.200000000000003          6.4000000000000004
28 63.399999999999999          8.3000000000000007
29 NA                          NA
30 53.799999999999997          2.6000000000000001

In [156]:
#Fixing the state column formatting because unlike other years 
excluded_strings_1 <- c(".Total", ".18 to 24", ".25 to 34", ".35 to 44", ".45 to 54", ".55 to 64", ".65 to 74", ".75+", ".45 to 64", ".25 to 44", ".18 to 44", ".65+")

#Deleting any value in column 1 that is an excluded string
age_2008$STATE <- ifelse(!(age_2008[,1] %in% excluded_strings_1), age_2008[,1], NA)

#Moving the state column first
age_2008 <- age_2008[, c("STATE", setdiff(names(age_2008), "STATE"))]

#Creating the state titles
age_2008$STATE <- na.locf(age_2008$STATE)

#Delete rows where all values are none, meaning only keeping rows with excluded string values in column 2
age_2008 <- age_2008[age_2008[,2] %in% excluded_strings_1, ]

# Remove periods from values in the second column
age_2008[,2] <- gsub("\\.", "", age_2008[,2])

In [157]:
#Remove the number 2 from some states
age_2008$STATE <- gsub(" 2$", "", age_2008$STATE)

In [158]:
head(age_2008, 20)

   STATE         NA.      NA..1  NA..2  Total.Registered
2  UNITED STATES Total    225499 206072 146311
3  UNITED STATES 18 to 24  28263  25791  15082
4  UNITED STATES 25 to 34  40240  34218  22736
5  UNITED STATES 35 to 44  41460  36397  25449
6  UNITED STATES 45 to 54  44181  41085  30210
7  UNITED STATES 55 to 64  33896  32288  24734
8  UNITED STATES 65 to 74  20227  19571  15290
9  UNITED STATES 75+       17231  16724  12810
11 ALABAMA       Total      3497   3404   2438
12 ALABAMA       18 to 24    458    441    301
13 ALABAMA       25 to 44   1208   1139    724
14 ALABAMA       45 to 64   1210   1204    895
15 ALABAMA       65 to 74    368    368    306
16 ALABAMA       75+         253    253    212
18 ALASKA        Total       488    468    345
19 ALASKA        18 to 44    253    239    164
20 ALASKA        45 to 64    191    187    148
21 ALASKA        65+          44     43     33
23 ARIZONA       Total      4688   4169   2874
24 ARIZONA       18 to 24    574    516    303
   Percent.registered..Total.18.. Margin.of.error1
2  64.900000000000006             0.29999999999999999
3  53.399999999999999             0.80000000000000004
4  56.5                           0.69999999999999996
5  61.399999999999999             0.69999999999999996
6  68.400000000000006             0.59999999999999998
7  73                             0.69999999999999996
8  75.599999999999994             0.90000000000000002
9  74.299999999999997             0.90000000000000002
11 69.700000000000003             2.2999999999999998
12 65.700000000000003             6.5
13 59.899999999999999             4.2000000000000002
14 74                             3.7000000000000002
15 83.200000000000003             5.7999999999999998
16 84                             6.7999999999999998
18 70.799999999999997             2.3999999999999999
19 65.099999999999994             3.5
20 77.599999999999994             3.6000000000000001
21 (B)                            (B)
23 61.299999999999997             2.1000000000000001
24 52.700000000000003             6.2999999999999998
   Percent.registered..Citizen.18.. Margin.of.error1.1  Total.Voted
2  71                               0.29999999999999999 131144
3  58.5                             0.80000000000000004  12515
4  66.400000000000006               0.69999999999999996  19501
5  69.900000000000006               0.59999999999999998  22865
6  73.5                             0.59999999999999998  27673
7  76.599999999999994               0.59999999999999998  23071
8  78.099999999999994               0.80000000000000004  14176
9  76.599999999999994               0.90000000000000002  11344
11 71.599999999999994               2.2000000000000002    2126
12 68.099999999999994               6.4000000000000004     238
13 63.600000000000001               4.0999999999999996     624
14 74.400000000000006               3.7000000000000002     809
15 83.200000000000003               5.7999999999999998     277
16 84                               6.7999999999999998     178
18 73.700000000000003               2.3999999999999999     304
19 68.799999999999997               3.3999999999999999     138
20 79.400000000000006               3.5                    135
21 (B)                              (B)                     31
23 68.900000000000006               2                     2497
24 58.700000000000003               6.2000000000000002     223
   Percent.voted..Total.18.. Margin.of.error1.2  Percent.voted..Citizen.18..
2  58.200000000000003        0.29999999999999999 63.600000000000001
3  44.299999999999997        0.80000000000000004 48.5
4  48.5                      0.69999999999999996 57
5  55.100000000000001        0.69999999999999996 62.799999999999997
6  62.600000000000001        0.59999999999999998 67.400000000000006
7  68.099999999999994        0.69999999999999996 71.5
8  70.099999999999994        0.90000000000000002 72.400000000000006
9  65.799999999999997        1                   67.799999999999997
11 60.799999999999997        2.3999999999999999  62.399999999999999
12 51.899999999999999        6.9000000000000004  53.799999999999997
13 51.600000000000001        4.2000000000000002  54.799999999999997
14 66.900000000000006        4                   67.200000000000003
15 75.200000000000003        6.5999999999999996  75.200000000000003
16 70.5                      8.5                 70.5
18 62.399999999999999        2.6000000000000001  65
19 54.799999999999997        3.7000000000000002  57.899999999999999
20 70.700000000000003        3.8999999999999999  72.299999999999997
21 (B)                       (B)                 (B)
23 53.299999999999997        2.2000000000000002  59.899999999999999
24 38.700000000000003        6.0999999999999996  43.200000000000003
   Margin.of.error1.3
2  0.29999999999999999
3  0.80000000000000004
4  0.69999999999999996
5  0.69999999999999996
6  0.59999999999999998
7  0.69999999999999996
8  0.90000000000000002
9  1
11 2.3999999999999999
12 6.9000000000000004
13 4.2000000000000002
14 4
15 6.5999999999999996
16 8.5
18 2.6000000000000001
19 3.7000000000000002
20 3.7999999999999998
21 (B)
23 2.1000000000000001
24 6.2000000000000002

In [159]:
tail(age_2008, 20)

    STATE         NA.      NA..1 NA..2 Total.Registered
324 WASHINGTON    25 to 44 1849  1681  1147
325 WASHINGTON    45 to 64 1784  1704  1336
326 WASHINGTON    65 to 74  458   439   323
327 WASHINGTON    75+       303   297   235
329 WEST VIRGINIA Total    1395  1387   917
330 WEST VIRGINIA 18 to 24  150   149    88
331 WEST VIRGINIA 25 to 44  458   455   283
332 WEST VIRGINIA 45 to 64  528   525   366
333 WEST VIRGINIA 65 to 74  138   137    99
334 WEST VIRGINIA 75+       121   121    81
336 WISCONSIN     Total    4212  4053  3095
337 WISCONSIN     18 to 24  487   465   282
338 WISCONSIN     25 to 44 1476  1371  1005
339 WISCONSIN     45 to 64 1470  1456  1188
340 WISCONSIN     65 to 74  360   350   295
341 WISCONSIN     75+       418   410   325
343 WYOMING       Total     397   389   270
344 WYOMING       18 to 44  186   180   114
345 WYOMING       45 to 64  153   151   109
346 WYOMING       65+        59    58    47
    Percent.registered..Total.18.. Margin.of.error1
324 62                             3.3999999999999999
325 74.900000000000006             3.1000000000000001
326 70.599999999999994             6.5
327 77.5                           7.2999999999999998
329 65.700000000000003             2.2999999999999998
330 58.299999999999997             7.2000000000000002
331 61.899999999999999             4.0999999999999996
332 69.400000000000006             3.6000000000000001
333 72                             6.9000000000000004
334 66.299999999999997             7.7000000000000002
336 73.5                           2
337 57.799999999999997             6.7000000000000002
338 68.099999999999994             3.6000000000000001
339 80.799999999999997             3.1000000000000001
340 82                             6.0999999999999996
341 77.700000000000003             6.0999999999999996
343 67.900000000000006             2.6000000000000001
344 61.399999999999999             3.8999999999999999
345 70.900000000000006             4
346 (B)                            (B)
    Percent.registered..Citizen.18.. Margin.of.error1.1 Total.Voted
324 68.200000000000003               3.2999999999999998 1039
325 78.400000000000006               3                  1276
326 73.5                             6.2999999999999998  311
327 78.900000000000006               7.0999999999999996  224
329 66.099999999999994               2.2999999999999998  741
330 59                               7.2000000000000002   72
331 62.200000000000003               4.0999999999999996  220
332 69.700000000000003               3.6000000000000001  306
333 72.700000000000003               6.7999999999999998   82
334 66.299999999999997               7.7000000000000002   60
336 76.400000000000006               2                  2887
337 60.600000000000001               6.5999999999999996  267
338 73.299999999999997               3.3999999999999999  901
339 81.599999999999994               3                  1134
340 84.299999999999997               5.7000000000000002  275
341 79.200000000000003               5.9000000000000004  309
343 69.299999999999997               2.5                 250
344 63.299999999999997               3.8999999999999999  100
345 72.099999999999994               4                   104
346 (B)                              (B)                  46
    Percent.voted..Total.18.. Margin.of.error1.2 Percent.voted..Citizen.18..
324 56.200000000000003        3.5                61.799999999999997
325 71.5                      3.2000000000000002 74.900000000000006
326 68                        6.5999999999999996 70.799999999999997
327 73.900000000000006        7.7000000000000002 75.200000000000003
329 53.100000000000001        2.3999999999999999 53.399999999999999
330 48.100000000000001        7.2999999999999998 48.700000000000003
331 48.200000000000003        4.2000000000000002 48.399999999999999
332 58                        3.8999999999999999 58.299999999999997
333 59.399999999999999        7.5                60
334 49.399999999999999        8.1999999999999993 49.399999999999999
336 68.5                      2.1000000000000001 71.200000000000003
337 54.799999999999997        6.7999999999999998 57.5
338 61                        3.7999999999999998 65.700000000000003
339 77.099999999999994        3.2999999999999998 77.900000000000006
340 76.400000000000006        6.7000000000000002 78.700000000000003
341 74                        6.4000000000000004 75.400000000000006
343 62.899999999999999        2.6000000000000001 64.299999999999997
344 53.799999999999997        4                  55.5
345 68.200000000000003        4.0999999999999996 69.299999999999997
346 (B)                       (B)                (B)
    Margin.of.error1.3
324 3.3999999999999999
325 3.1000000000000001
326 6.4000000000000004
327 7.5
329 2.3999999999999999
330 7.2999999999999998
331 4.2000000000000002
332 3.8999999999999999
333 7.5
334 8.1999999999999993
336 2.1000000000000001
337 6.7000000000000002
338 3.7000000000000002
339 3.2000000000000002
340 6.5
341 6.2999999999999998
343 2.6000000000000001
344 4
345 4.0999999999999996
346 (B)

In [160]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(age_2008) <- col_names

In [161]:
head(age_2008)

  STATE         Age      Total population Total citizen population
2 UNITED STATES Total    225499           206072
3 UNITED STATES 18 to 24  28263            25791
4 UNITED STATES 25 to 34  40240            34218
5 UNITED STATES 35 to 44  41460            36397
6 UNITED STATES 45 to 54  44181            41085
7 UNITED STATES 55 to 64  33896            32288
  Total registered Percent registered (Total)
2 146311           64.900000000000006
3  15082           53.399999999999999
4  22736           56.5
5  25449           61.399999999999999
6  30210           68.400000000000006
7  24734           73
  Margin of error for percent registered total Percent registered (Citizen)
2 0.29999999999999999                          71
3 0.80000000000000004                          58.5
4 0.69999999999999996                          66.400000000000006
5 0.69999999999999996                          69.900000000000006
6 0.59999999999999998                          73.5
7 0.69999999999999996                          76.599999999999994
  Margin of error for percent registered citizen Total voted
2 0.29999999999999999                            131144
3 0.80000000000000004                             12515
4 0.69999999999999996                             19501
5 0.59999999999999998                             22865
6 0.59999999999999998                             27673
7 0.59999999999999998                             23071
  Percent voted (Total) Margin of error percent voted total
2 58.200000000000003    0.29999999999999999
3 44.299999999999997    0.80000000000000004
4 48.5                  0.69999999999999996
5 55.100000000000001    0.69999999999999996
6 62.600000000000001    0.59999999999999998
7 68.099999999999994    0.69999999999999996
  Percent voted (Citizen) Margin of error percent voted citizen
2 63.600000000000001      0.29999999999999999
3 48.5                    0.80000000000000004
4 57                      0.69999999999999996
5 62.799999999999997      0.69999999999999996
6 67.400000000000006      0.59999999999999998
7 71.5                    0.69999999999999996

In [162]:
#Creating the year variable
age_2008$Year <- 2008

#Getting rid of the total row since it is already in the race data and is identical
age_2008 <- age_2008[age_2008$Age != "Total", ]
head(age_2008,20)

   STATE         Age      Total population Total citizen population
3  UNITED STATES 18 to 24 28263            25791
4  UNITED STATES 25 to 34 40240            34218
5  UNITED STATES 35 to 44 41460            36397
6  UNITED STATES 45 to 54 44181            41085
7  UNITED STATES 55 to 64 33896            32288
8  UNITED STATES 65 to 74 20227            19571
9  UNITED STATES 75+      17231            16724
12 ALABAMA       18 to 24   458              441
13 ALABAMA       25 to 44  1208             1139
14 ALABAMA       45 to 64  1210             1204
15 ALABAMA       65 to 74   368              368
16 ALABAMA       75+        253              253
19 ALASKA        18 to 44   253              239
20 ALASKA        45 to 64   191              187
21 ALASKA        65+         44               43
24 ARIZONA       18 to 24   574              516
25 ARIZONA       25 to 44  1754             1451
26 ARIZONA       45 to 64  1628             1502
27 ARIZONA       65 to 74   428              414
28 ARIZONA       75+        303              286
   Total registered Percent registered (Total)
3  15082            53.399999999999999
4  22736            56.5
5  25449            61.399999999999999
6  30210            68.400000000000006
7  24734            73
8  15290            75.599999999999994
9  12810            74.299999999999997
12   301            65.700000000000003
13   724            59.899999999999999
14   895            74
15   306            83.200000000000003
16   212            84
19   164            65.099999999999994
20   148            77.599999999999994
21    33            (B)
24   303            52.700000000000003
25   963            54.899999999999999
26  1065            65.400000000000006
27   337            78.599999999999994
28   206            68
   Margin of error for percent registered total Percent registered (Citizen)
3  0.80000000000000004                          58.5
4  0.69999999999999996                          66.400000000000006
5  0.69999999999999996                          69.900000000000006
6  0.59999999999999998                          73.5
7  0.69999999999999996                          76.599999999999994
8  0.90000000000000002                          78.099999999999994
9  0.90000000000000002                          76.599999999999994
12 6.5                                          68.099999999999994
13 4.2000000000000002                           63.600000000000001
14 3.7000000000000002                           74.400000000000006
15 5.7999999999999998                           83.200000000000003
16 6.7999999999999998                           84
19 3.5                                          68.799999999999997
20 3.6000000000000001                           79.400000000000006
21 (B)                                          (B)
24 6.2999999999999998                           58.700000000000003
25 3.6000000000000001                           66.400000000000006
26 3.5                                          70.900000000000006
27 5.9000000000000004                           81.299999999999997
28 8                                            72.200000000000003
   Margin of error for percent registered citizen Total voted
3  0.80000000000000004                            12515
4  0.69999999999999996                            19501
5  0.59999999999999998                            22865
6  0.59999999999999998                            27673
7  0.59999999999999998                            23071
8  0.80000000000000004                            14176
9  0.90000000000000002                            11344
12 6.4000000000000004                               238
13 4.0999999999999996                               624
14 3.7000000000000002                               809
15 5.7999999999999998                               277
16 6.7999999999999998                               178
19 3.3999999999999999                               138
20 3.5                                              135
21 (B)                                               31
24 6.2000000000000002                               223
25 3.3999999999999999                               793
26 3.3999999999999999                               996
27 5.7000000000000002                               303
28 7.7000000000000002                               181
   Percent voted (Total) Margin of error percent voted total
3  44.299999999999997    0.80000000000000004
4  48.5                  0.69999999999999996
5  55.100000000000001    0.69999999999999996
6  62.600000000000001    0.59999999999999998
7  68.099999999999994    0.69999999999999996
8  70.099999999999994    0.90000000000000002
9  65.799999999999997    1
12 51.899999999999999    6.9000000000000004
13 51.600000000000001    4.2000000000000002
14 66.900000000000006    4
15 75.200000000000003    6.5999999999999996
16 70.5                  8.5
19 54.799999999999997    3.7000000000000002
20 70.700000000000003    3.8999999999999999
21 (B)                   (B)
24 38.700000000000003    6.0999999999999996
25 45.200000000000003    3.6000000000000001
26 61.200000000000003    3.6000000000000001
27 70.799999999999997    6.5999999999999996
28 59.700000000000003    8.5
   Percent voted (Citizen) Margin of error percent voted citizen Year
3  48.5                    0.80000000000000004                   2008
4  57                      0.69999999999999996                   2008
5  62.799999999999997      0.69999999999999996                   2008
6  67.400000000000006      0.59999999999999998                   2008
7  71.5                    0.69999999999999996                   2008
8  72.400000000000006      0.90000000000000002                   2008
9  67.799999999999997      1                                     2008
12 53.799999999999997      6.9000000000000004                    2008
13 54.799999999999997      4.2000000000000002                    2008
14 67.200000000000003      4                                     2008
15 75.200000000000003      6.5999999999999996                    2008
16 70.5                    8.5                                   2008
19 57.899999999999999      3.7000000000000002                    2008
20 72.299999999999997      3.7999999999999998                    2008
21 (B)                     (B)                                   2008
24 43.200000000000003      6.2000000000000002                    2008
25 54.700000000000003      3.6000000000000001                    2008
26 66.299999999999997      3.5                                   2008
27 73.200000000000003      6.4000000000000004                    2008
28 63.399999999999999      8.3000000000000007                    2008

In [163]:
#Changing the '-' entries to 0, as they signify
age_2008[age_2008 == '-'] <- 0

In [164]:
#Recalculating the percents to get rid of the "B's"
age_2008$`Percent registered (Total)` <- ifelse(age_2008$`Total population` != 0,
                                                 100*age_2008$`Total registered` / age_2008$`Total population`,
                                                 0)

age_2008$`Percent registered (Citizen)` <- ifelse(age_2008$`Total citizen population` != 0,
                                                 100*age_2008$`Total registered` / age_2008$`Total citizen population`,
                                                 0)

age_2008$`Percent voted (Total)` <- ifelse(age_2008$`Total population` != 0,
                                                 100*age_2008$`Total voted` / age_2008$`Total population`,
                                                 0)

age_2008$`Percent voted (Citizen)` <- ifelse(age_2008$`Total citizen population` != 0,
                                                 100*age_2008$`Total voted` / age_2008$`Total citizen population`,
                                                 0)

In [165]:
#Pivoting to the desired format
age_2008_final <- pivot_wider(age_2008, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [166]:
head(age_2008_final)

  STATE         Year Total population_18 to 24 Total population_25 to 34
1 UNITED STATES 2008 28263                     40240
2 ALABAMA       2008   458                        NA
3 ALASKA        2008    NA                        NA
4 ARIZONA       2008   574                        NA
5 ARKANSAS      2008   325                        NA
6 CALIFORNIA    2008  3622                        NA
  Total population_35 to 44 Total population_45 to 54 Total population_55 to 64
1 41460                     44181                     33896
2    NA                        NA                        NA
3    NA                        NA                        NA
4    NA                        NA                        NA
5    NA                        NA                        NA
6    NA                        NA                        NA
  Total population_65 to 74 Total population_75+ Total population_25 to 44 ⋯
1 20227                     17231                   NA                     ⋯
2   368                       253                 1208                     ⋯
3    NA                        NA                   NA                     ⋯
4   428                       303                 1754                     ⋯
5   254                       156                  667                     ⋯
6  2134                      1832                10518                     ⋯
  Margin of error percent voted citizen_25 to 34
1 0.69999999999999996
2 NA
3 NA
4 NA
5 NA
6 NA
  Margin of error percent voted citizen_35 to 44
1 0.69999999999999996
2 NA
3 NA
4 NA
5 NA
6 NA
  Margin of error percent voted citizen_45 to 54
1 0.59999999999999998
2 NA
3 NA
4 NA
5 NA
6 NA
  Margin of error percent voted citizen_55 to 64
1 0.69999999999999996
2 NA
3 NA
4 NA
5 NA
6 NA
  Margin of error percent voted citizen_65 to 74
1 0.90000000000000002
2 6.5999999999999996
3 NA
4 6.4000000000000004
5 6.5
6 3
  Margin of error percent voted citizen_75+
1 1
2 8.5
3 NA
4 8.3000000000000007
5 9.0999999999999996
6 3.2000000000000002
  Margin of error percent voted citizen_25 to 44
1 NA
2 4.2000000000000002
3 NA
4 3.6000000000000001
5 4.5
6 1.3999999999999999
  Margin of error percent voted citizen_45 to 64
1 NA
2 4
3 3.7999999999999998
4 3.5
5 4.2999999999999998
6 1.5
  Margin of error percent voted citizen_18 to 44
1 NA
2 NA
3 3.7000000000000002
4 NA
5 NA
6 NA
  Margin of error percent voted citizen_65+
1 NA
2 NA
3 (B)
4 NA
5 NA
6 NA

In [167]:
#Checking that I did this correctly 
write.csv(age_2008_final, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\age_2008_final.csv", row.names = FALSE)
write.csv(race_2008_final, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\race_2008_final.csv", row.names = FALSE)

# Merging 2008 Age and Race Data

In [168]:
final_2008 <- merge(age_2008_final, race_2008_final, by = c("STATE", "Year"))

In [169]:
write.csv(final_2008, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2008.csv", row.names = FALSE)

# 2006 Data

## 2006 Race and Sex Data

In [170]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2006.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2006.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`

In [171]:
#Skipping comments in the original excel file
race_2006 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\table04b_2006.csv", skip=5)
race_2006[1, 1] <- "UNITED STATES"
head(race_2006, 20)

   NA.                            NA..1  NA..2  Total.Registered
1  UNITED STATES                  NA     NA     NA
2  .Total                         220603 201073 135847
3  .Male                          106531 96144  63425
4  .Female                        114073 104928 72422
5  .White alone                   179873 165637 115135
6  ..White non-Hispanic alone     152998 149761 106620
7  .Black alone                   25722  24229  14765
8  .Asian alone                   9855   6614   3245
9  .Hispanic (of any race)        28945  17315  9304
10 .White alone or in combination 182564 168120 116702
11 .Black alone or in combination 26375  24814  15142
12 .Asian alone or in combination 10474  7182   3544
13 ALABAMA                        NA     NA     NA
14 .Total                         3447   3353   2480
15 .Male                          1638   1566   1187
16 .Female                        1809   1786   1293
17 .White alone                   2500   2430   1824
18 ..White non-Hispanic alone     2431   2414   1811
19 .Black alone                   839    839    602
20 .Asian alone                   29     6      3
   Percent.registered..Total.18.. Margin.of.error1
1  NA                             NA
2  61.600000000000001             0.29999999999999999
3  59.5                           0.40000000000000002
4  63.5                           0.40000000000000002
5  64                             0.29999999999999999
6  69.700000000000003             0.29999999999999999
7  57.399999999999999             1.1000000000000001
8  32.899999999999999             1.7
9  32.100000000000001             1.2
10 63.899999999999999             0.29999999999999999
11 57.399999999999999             1
12 33.799999999999997             1.6000000000000001
13 NA                             NA
14 72                             2.1000000000000001
15 72.5                           3
16 71.5                           2.8999999999999999
17 73                             2.3999999999999999
18 74.5                           2.3999999999999999
19 71.799999999999997             5.0999999999999996
20 (B)                            (B)
   Percent.registered..Citizen.18.. Margin.of.error1.1  Total.Voted
1  NA                               NA                  NA
2  67.599999999999994               0.29999999999999999 96119
3  66                               0.40000000000000002 45118
4  69                               0.40000000000000002 51001
5  69.5                             0.29999999999999999 82387
6  71.200000000000003               0.29999999999999999 77280
7  60.899999999999999               1                   9937
8  49.100000000000001               1.8                 2145
9  53.700000000000003               1.3                 5595
10 69.400000000000006               0.29999999999999999 83368
11 61                               1                   10169
12 49.299999999999997               1.7                 2350
13 NA                               NA                  NA
14 74                               2                   1667
15 75.799999999999997               2.8999999999999999  792
16 72.400000000000006               2.8999999999999999  875
17 75.099999999999994               2.3999999999999999  1241
18 75                               2.3999999999999999  1228
19 71.799999999999997               5.0999999999999996  401
20 (B)                              (B)                 -
   Percent.voted..Total.18.. Margin.of.error1.2  Percent.voted..Citizen.18..
1  NA                        NA                  NA
2  43.600000000000001        0.29999999999999999 47.799999999999997
3  42.399999999999999        0.40000000000000002 46.899999999999999
4  44.700000000000003        0.40000000000000002 48.600000000000001
5  45.799999999999997        0.29999999999999999 49.700000000000003
6  50.5                      0.40000000000000002 51.600000000000001
7  38.600000000000001        1                   41
8  21.800000000000001        1.5                 32.399999999999999
9  19.300000000000001        1                   32.299999999999997
10 45.700000000000003        0.29999999999999999 49.600000000000001
11 38.600000000000001        1                   41
12 22.399999999999999        1.5                 32.700000000000003
13 NA                        NA                  NA
14 48.399999999999999        2.2999999999999998  49.700000000000003
15 48.399999999999999        3.3999999999999999  50.600000000000001
16 48.399999999999999        3.2000000000000002  49
17 49.600000000000001        2.7000000000000002  51.100000000000001
18 50.5                      2.7999999999999998  50.899999999999999
19 47.799999999999997        5.7000000000000002  47.799999999999997
20 (B)                       (B)                 (B)
   Margin.of.error1.3
1  NA
2  0.29999999999999999
3  0.40000000000000002
4  0.40000000000000002
5  0.29999999999999999
6  0.40000000000000002
7  1
8  1.7
9  1.2
10 0.29999999999999999
11 1
12 1.6000000000000001
13 NA
14 2.2999999999999998
15 3.3999999999999999
16 3.2000000000000002
17 2.7000000000000002
18 2.7999999999999998
19 5.7000000000000002
20 (B)

In [172]:
#Fixing the state column formatting because unlike other years 
excluded_strings <- c(".Total", ".Male", ".Female", ".White alone", "..White non-Hispanic alone",
                      ".Black alone", ".Asian alone", ".Hispanic (of any race)", 
                      ".White alone or in combination", ".Black alone or in combination", 
                      ".Asian alone or in combination")

#Deleting all entries from excluded strings in the State column and moving the state column first
race_2006$STATE <- ifelse(!(race_2006[,1] %in% excluded_strings), race_2006[,1], NA)
race_2006 <- race_2006[, c("STATE", setdiff(names(race_2006), "STATE"))]

#Creating the state titles
race_2006$STATE <- na.locf(race_2006$STATE)

#Delete the empty rows
race_2006 <- race_2006[race_2006[,2] %in% excluded_strings, ]

# Remove periods from values in the second column
race_2006[,2] <- gsub("\\.", "", race_2006[,2])

In [173]:
head(race_2006, 20)

   STATE         NA.                           NA..1  NA..2  Total.Registered
2  UNITED STATES Total                         220603 201073 135847
3  UNITED STATES Male                          106531 96144  63425
4  UNITED STATES Female                        114073 104928 72422
5  UNITED STATES White alone                   179873 165637 115135
6  UNITED STATES White non-Hispanic alone      152998 149761 106620
7  UNITED STATES Black alone                   25722  24229  14765
8  UNITED STATES Asian alone                   9855   6614   3245
9  UNITED STATES Hispanic (of any race)        28945  17315  9304
10 UNITED STATES White alone or in combination 182564 168120 116702
11 UNITED STATES Black alone or in combination 26375  24814  15142
12 UNITED STATES Asian alone or in combination 10474  7182   3544
14 ALABAMA       Total                         3447   3353   2480
15 ALABAMA       Male                          1638   1566   1187
16 ALABAMA       Female                        1809   1786   1293
17 ALABAMA       White alone                   2500   2430   1824
18 ALABAMA       White non-Hispanic alone      2431   2414   1811
19 ALABAMA       Black alone                   839    839    602
20 ALABAMA       Asian alone                   29     6      3
21 ALABAMA       Hispanic (of any race)        69     16     13
22 ALABAMA       White alone or in combination 2561   2491   1861
   Percent.registered..Total.18.. Margin.of.error1
2  61.600000000000001             0.29999999999999999
3  59.5                           0.40000000000000002
4  63.5                           0.40000000000000002
5  64                             0.29999999999999999
6  69.700000000000003             0.29999999999999999
7  57.399999999999999             1.1000000000000001
8  32.899999999999999             1.7
9  32.100000000000001             1.2
10 63.899999999999999             0.29999999999999999
11 57.399999999999999             1
12 33.799999999999997             1.6000000000000001
14 72                             2.1000000000000001
15 72.5                           3
16 71.5                           2.8999999999999999
17 73                             2.3999999999999999
18 74.5                           2.3999999999999999
19 71.799999999999997             5.0999999999999996
20 (B)                            (B)
21 (B)                            (B)
22 72.700000000000003             2.3999999999999999
   Percent.registered..Citizen.18.. Margin.of.error1.1  Total.Voted
2  67.599999999999994               0.29999999999999999 96119
3  66                               0.40000000000000002 45118
4  69                               0.40000000000000002 51001
5  69.5                             0.29999999999999999 82387
6  71.200000000000003               0.29999999999999999 77280
7  60.899999999999999               1                   9937
8  49.100000000000001               1.8                 2145
9  53.700000000000003               1.3                 5595
10 69.400000000000006               0.29999999999999999 83368
11 61                               1                   10169
12 49.299999999999997               1.7                 2350
14 74                               2                   1667
15 75.799999999999997               2.8999999999999999  792
16 72.400000000000006               2.8999999999999999  875
17 75.099999999999994               2.3999999999999999  1241
18 75                               2.3999999999999999  1228
19 71.799999999999997               5.0999999999999996  401
20 (B)                              (B)                 -
21 (B)                              (B)                 13
22 74.700000000000003               2.3999999999999999  1255
   Percent.voted..Total.18.. Margin.of.error1.2  Percent.voted..Citizen.18..
2  43.600000000000001        0.29999999999999999 47.799999999999997
3  42.399999999999999        0.40000000000000002 46.899999999999999
4  44.700000000000003        0.40000000000000002 48.600000000000001
5  45.799999999999997        0.29999999999999999 49.700000000000003
6  50.5                      0.40000000000000002 51.600000000000001
7  38.600000000000001        1                   41
8  21.800000000000001        1.5                 32.399999999999999
9  19.300000000000001        1                   32.299999999999997
10 45.700000000000003        0.29999999999999999 49.600000000000001
11 38.600000000000001        1                   41
12 22.399999999999999        1.5                 32.700000000000003
14 48.399999999999999        2.2999999999999998  49.700000000000003
15 48.399999999999999        3.3999999999999999  50.600000000000001
16 48.399999999999999        3.2000000000000002  49
17 49.600000000000001        2.7000000000000002  51.100000000000001
18 50.5                      2.7999999999999998  50.899999999999999
19 47.799999999999997        5.7000000000000002  47.799999999999997
20 (B)                       (B)                 (B)
21 (B)                       (B)                 (B)
22 49                        2.7000000000000002  50.399999999999999
   Margin.of.error1.3
2  0.29999999999999999
3  0.40000000000000002
4  0.40000000000000002
5  0.29999999999999999
6  0.40000000000000002
7  1
8  1.7
9  1.2
10 0.29999999999999999
11 1
12 1.6000000000000001
14 2.2999999999999998
15 3.3999999999999999
16 3.2000000000000002
17 2.7000000000000002
18 2.7999999999999998
19 5.7000000000000002
20 (B)
21 (B)
22 2.7000000000000002

In [174]:
#Checking that I skipped correctly
tail(race_2006, 20)

    STATE     NA.                           NA..1 NA..2 Total.Registered
604 WISCONSIN Female                        2161  2098  1571
605 WISCONSIN White alone                   3845  3754  2748
606 WISCONSIN White non-Hispanic alone      3692  3650  2708
607 WISCONSIN Black alone                   203   203   120
608 WISCONSIN Asian alone                   63    24    14
609 WISCONSIN Hispanic (of any race)        173   120   58
610 WISCONSIN White alone or in combination 3886  3795  2786
611 WISCONSIN Black alone or in combination 227   227   142
612 WISCONSIN Asian alone or in combination 65    26    16
614 WYOMING   Total                         388   383   253
615 WYOMING   Male                          192   189   123
616 WYOMING   Female                        196   193   131
617 WYOMING   White alone                   372   367   247
618 WYOMING   White non-Hispanic alone      344   342   234
619 WYOMING   Black alone                   3     3     2
620 WYOMING   Asian alone                   2     1     -
621 WYOMING   Hispanic (of any race)        30    27    13
622 WYOMING   White alone or in combination 380   376   250
623 WYOMING   Black alone or in combination 3     3     2
624 WYOMING   Asian alone or in combination 2     1     -
    Percent.registered..Total.18.. Margin.of.error1
604 72.700000000000003             2.5
605 71.5                           1.8999999999999999
606 73.299999999999997             1.8999999999999999
607 59.399999999999999             10.699999999999999
608 (B)                            (B)
609 33.299999999999997             14.4
610 71.700000000000003             1.8
611 62.799999999999997             9.9000000000000004
612 (B)                            (B)
614 65.299999999999997             2.2000000000000002
615 63.799999999999997             3.1000000000000001
616 66.700000000000003             3
617 66.299999999999997             2.2000000000000002
618 68.099999999999994             2.2000000000000002
619 (B)                            (B)
620 (B)                            (B)
621 (B)                            (B)
622 65.700000000000003             2.2000000000000002
623 (B)                            (B)
624 (B)                            (B)
    Percent.registered..Citizen.18.. Margin.of.error1.1 Total.Voted
604 74.900000000000006               2.3999999999999999 1250
605 73.200000000000003               1.8                2201
606 74.200000000000003               1.8                2180
607 59.399999999999999               10.699999999999999 89
608 (B)                              (B)                9
609 47.899999999999999               15.300000000000001 36
610 73.400000000000006               1.8                2234
611 62.799999999999997               9.9000000000000004 109
612 (B)                              (B)                11
614 66.200000000000003               2.1000000000000001 199
615 64.799999999999997               3.1000000000000001 94
616 67.5                             3                  105
617 67.200000000000003               2.2000000000000002 195
618 68.400000000000006               2.2000000000000002 186
619 (B)                              (B)                -
620 (B)                              (B)                -
621 (B)                              (B)                9
622 66.599999999999994               2.2000000000000002 198
623 (B)                              (B)                -
624 (B)                              (B)                -
    Percent.voted..Total.18.. Margin.of.error1.2 Percent.voted..Citizen.18..
604 57.899999999999999        2.7000000000000002 59.600000000000001
605 57.200000000000003        2                  58.600000000000001
606 59                        2.1000000000000001 59.700000000000003
607 44.100000000000001        10.800000000000001 44.100000000000001
608 (B)                       (B)                (B)
609 20.800000000000001        12.4               29.899999999999999
610 57.5                      2                  58.899999999999999
611 48.100000000000001        10.300000000000001 48.100000000000001
612 (B)                       (B)                (B)
614 51.399999999999999        2.2999999999999998 52.100000000000001
615 48.899999999999999        3.2000000000000002 49.700000000000003
616 53.899999999999999        3.2000000000000002 54.5
617 52.5                      2.2999999999999998 53.200000000000003
618 54.200000000000003        2.3999999999999999 54.399999999999999
619 (B)                       (B)                (B)
620 (B)                       (B)                (B)
621 (B)                       (B)                (B)
622 52                        2.2999999999999998 52.700000000000003
623 (B)                       (B)                (B)
624 (B)                       (B)                (B)
    Margin.of.error1.3
604 2.7000000000000002
605 2
606 2.1000000000000001
607 10.800000000000001
608 (B)
609 14
610 2
611 10.300000000000001
612 (B)
614 2.2999999999999998
615 3.2000000000000002
616 3.2000000000000002
617 2.2999999999999998
618 2.3999999999999999
619 (B)
620 (B)
621 (B)
622 2.2999999999999998
623 (B)
624 (B)

In [175]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Total registered", 
               "Percent registered (Total)", "Margin of error for percent registered total", "Percent registered (Citizen)",
               "Margin of error for percent registered citizen", "Total voted", "Percent voted (Total)", "Margin of error percent voted total", 
               "Percent voted (Citizen)", "Margin of error percent voted citizen")
colnames(race_2006) <- col_names

In [176]:
# #Creating the year variable
race_2006$Year <- 2006

In [177]:
head(race_2006, 30)

   STATE         Sex, Race, and Hispanic-Origin Total population
2  UNITED STATES Total                          220603
3  UNITED STATES Male                           106531
4  UNITED STATES Female                         114073
5  UNITED STATES White alone                    179873
6  UNITED STATES White non-Hispanic alone       152998
7  UNITED STATES Black alone                    25722
8  UNITED STATES Asian alone                    9855
9  UNITED STATES Hispanic (of any race)         28945
10 UNITED STATES White alone or in combination  182564
11 UNITED STATES Black alone or in combination  26375
12 UNITED STATES Asian alone or in combination  10474
14 ALABAMA       Total                          3447
15 ALABAMA       Male                           1638
16 ALABAMA       Female                         1809
17 ALABAMA       White alone                    2500
18 ALABAMA       White non-Hispanic alone       2431
19 ALABAMA       Black alone                    839
20 ALABAMA       Asian alone                    29
21 ALABAMA       Hispanic (of any race)         69
22 ALABAMA       White alone or in combination  2561
23 ALABAMA       Black alone or in combination  854
24 ALABAMA       Asian alone or in combination  36
26 ALASKA        Total                          469
27 ALASKA        Male                           237
28 ALASKA        Female                         232
29 ALASKA        White alone                    356
30 ALASKA        White non-Hispanic alone       346
31 ALASKA        Black alone                    14
32 ALASKA        Asian alone                    24
33 ALASKA        Hispanic (of any race)         14
   Total citizen population Total registered Percent registered (Total)
2  201073                   135847           61.600000000000001
3  96144                    63425            59.5
4  104928                   72422            63.5
5  165637                   115135           64
6  149761                   106620           69.700000000000003
7  24229                    14765            57.399999999999999
8  6614                     3245             32.899999999999999
9  17315                    9304             32.100000000000001
10 168120                   116702           63.899999999999999
11 24814                    15142            57.399999999999999
12 7182                     3544             33.799999999999997
14 3353                     2480             72
15 1566                     1187             72.5
16 1786                     1293             71.5
17 2430                     1824             73
18 2414                     1811             74.5
19 839                      602              71.799999999999997
20 6                        3                (B)
21 16                       13               (B)
22 2491                     1861             72.700000000000003
23 854                      609              71.400000000000006
24 12                       7                (B)
26 452                      333              70.900000000000006
27 228                      162              68.599999999999994
28 224                      170              73.299999999999997
29 350                      264              74.099999999999994
30 342                      260              75
31 14                       7                (B)
32 14                       7                (B)
33 10                       7                (B)
   Margin of error for percent registered total Percent registered (Citizen)
2  0.29999999999999999                          67.599999999999994
3  0.40000000000000002                          66
4  0.40000000000000002                          69
5  0.29999999999999999                          69.5
6  0.29999999999999999                          71.200000000000003
7  1.1000000000000001                           60.899999999999999
8  1.7                                          49.100000000000001
9  1.2                                          53.700000000000003
10 0.29999999999999999                          69.400000000000006
11 1                                            61
12 1.6000000000000001                           49.299999999999997
14 2.1000000000000001                           74
15 3                                            75.799999999999997
16 2.8999999999999999                           72.400000000000006
17 2.3999999999999999                           75.099999999999994
18 2.3999999999999999                           75
19 5.0999999999999996                           71.799999999999997
20 (B)                                          (B)
21 (B)                                          (B)
22 2.3999999999999999                           74.700000000000003
23 5.0999999999999996                           71.400000000000006
24 (B)                                          (B)
26 2                                            73.599999999999994
27 2.8999999999999999                           71.200000000000003
28 2.7999999999999998                           76.200000000000003
29 2.2999999999999998                           75.5
30 2.2999999999999998                           75.900000000000006
31 (B)                                          (B)
32 (B)                                          (B)
33 (B)                                          (B)
   Margin of error for percent registered citizen Total voted
2  0.29999999999999999                            96119
3  0.40000000000000002                            45118
4  0.40000000000000002                            51001
5  0.29999999999999999                            82387
6  0.29999999999999999                            77280
7  1                                              9937
8  1.8                                            2145
9  1.3                                            5595
10 0.29999999999999999                            83368
11 1                                              10169
12 1.7                                            2350
14 2                                              1667
15 2.8999999999999999                             792
16 2.8999999999999999                             875
17 2.3999999999999999                             1241
18 2.3999999999999999                             1228
19 5.0999999999999996                             401
20 (B)                                            -
21 (B)                                            13
22 2.3999999999999999                             1255
23 5.0999999999999996                             405
24 (B)                                            -
26 2                                              248
27 2.8999999999999999                             119
28 2.7000000000000002                             129
29 2.2000000000000002                             202
30 2.2000000000000002                             199
31 (B)                                            6
32 (B)                                            4
33 (B)                                            5
   Percent voted (Total) Margin of error percent voted total
2  43.600000000000001    0.29999999999999999
3  42.399999999999999    0.40000000000000002
4  44.700000000000003    0.40000000000000002
5  45.799999999999997    0.29999999999999999
6  50.5                  0.40000000000000002
7  38.600000000000001    1
8  21.800000000000001    1.5
9  19.300000000000001    1
10 45.700000000000003    0.29999999999999999
11 38.600000000000001    1
12 22.399999999999999    1.5
14 48.399999999999999    2.2999999999999998
15 48.399999999999999    3.3999999999999999
16 48.399999999999999    3.2000000000000002
17 49.600000000000001    2.7000000000000002
18 50.5                  2.7999999999999998
19 47.799999999999997    5.7000000000000002
20 (B)                   (B)
21 (B)                   (B)
22 49                    2.7000000000000002
23 47.5                  5.7000000000000002
24 (B)                   (B)
26 52.899999999999999    2.2999999999999998
27 50.100000000000001    3.2000000000000002
28 55.700000000000003    3.2000000000000002
29 56.799999999999997    2.6000000000000001
30 57.399999999999999    2.6000000000000001
31 (B)                   (B)
32 (B)                   (B)
33 (B)                   (B)
   Percent voted (Citizen) Margin of error percent voted citizen Year
2  47.799999999999997      0.29999999999999999                   2006
3  46.899999999999999      0.40000000000000002                   2006
4  48.600000000000001      0.40000000000000002                   2006
5  49.700000000000003      0.29999999999999999                   2006
6  51.600000000000001      0.40000000000000002                   2006
7  41                      1                                     2006
8  32.399999999999999      1.7                                   2006
9  32.299999999999997      1.2                                   2006
10 49.600000000000001      0.29999999999999999                   2006
11 41                      1                                     2006
12 32.700000000000003      1.6000000000000001                    2006
14 49.700000000000003      2.2999999999999998                    2006
15 50.600000000000001      3.3999999999999999                    2006
16 49                      3.2000000000000002                    2006
17 51.100000000000001      2.7000000000000002                    2006
18 50.899999999999999      2.7999999999999998                    2006
19 47.799999999999997      5.7000000000000002                    2006
20 (B)                     (B)                                   2006
21 (B)                     (B)                                   2006
22 50.399999999999999      2.7000000000000002                    2006
23 47.5                    5.7000000000000002                    2006
24 (B)                     (B)                                   2006
26 54.899999999999999      2.2000000000000002                    2006
27 52                      3.2000000000000002                    2006
28 57.899999999999999      3.2000000000000002                    2006
29 57.799999999999997      2.6000000000000001                    2006
30 58.100000000000001      2.6000000000000001                    2006
31 (B)                     (B)                                   2006
32 (B)                     (B)                                   2006
33 (B)                     (B)                                   2006

In [178]:
#Changing the '-' entries to 0, as they signify
race_2006[race_2006 == '-'] <- 0

In [179]:
#Converting columns to numerics
race_2006$`Total registered` <- as.numeric(race_2006$`Total registered`)
race_2006$`Total voted` <- as.numeric(race_2006$`Total voted`)
race_2006$`Total population` <- as.numeric(race_2006$`Total population`)
race_2006$`Total citizen population` <- as.numeric(race_2006$`Total citizen population`)

In [180]:
#Recalculating the percents to get rid of the "B's"
race_2006$`Percent registered (Total)` <- ifelse(race_2006$`Total population` != 0,
                                                 100*race_2006$`Total registered` / race_2006$`Total population`,
                                                 0)

race_2006$`Percent registered (Citizen)` <- ifelse(race_2006$`Total citizen population` != 0,
                                                 100*race_2006$`Total registered` / race_2006$`Total citizen population`,
                                                 0)

race_2006$`Percent voted (Total)` <- ifelse(race_2006$`Total population` != 0,
                                                 100*race_2006$`Total voted` / race_2006$`Total population`,
                                                 0)

race_2006$`Percent voted (Citizen)` <- ifelse(race_2006$`Total citizen population` != 0,
                                                 100*race_2006$`Total voted` / race_2006$`Total citizen population`,
                                                 0)

In [181]:
#Pivoting to the desired format
race_2006_final <- pivot_wider(race_2006, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", 
                                          "Total registered", "Percent registered (Total)", 
                                          "Margin of error for percent registered total", 
                                          "Percent registered (Citizen)", 
                                          "Margin of error for percent registered citizen", 
                                          "Total voted", "Percent voted (Total)", 
                                          "Margin of error percent voted total", 
                                          "Percent voted (Citizen)", 
                                          "Margin of error percent voted citizen"))

In [182]:
head(race_2006_final)

  STATE         Year Total population_Total Total population_Male
1 UNITED STATES 2006 220603                 106531
2 ALABAMA       2006   3447                   1638
3 ALASKA        2006    469                    237
4 ARIZONA       2006   4418                   2161
5 ARKANSAS      2006   2076                    997
6 CALIFORNIA    2006  26318                  12925
  Total population_Female Total population_White alone
1 114073                  179873
2   1809                    2500
3    232                     356
4   2257                    3987
5   1079                    1714
6  13393                   20284
  Total population_White non-Hispanic alone Total population_Black alone
1 152998                                    25722
2   2431                                      839
3    346                                       14
4   2797                                      155
5   1608                                      297
6  12540                                     1665
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 9855                         28945                                   ⋯
2   29                            69                                   ⋯
3   24                            14                                   ⋯
4   86                          1243                                   ⋯
5   26                           106                                   ⋯
6 3470                          8180                                   ⋯
  Margin of error percent voted citizen_Male
1 0.40000000000000002
2 3.3999999999999999
3 3.2000000000000002
4 3.2000000000000002
5 3.6000000000000001
6 1.5
  Margin of error percent voted citizen_Female
1 0.40000000000000002
2 3.2000000000000002
3 3.2000000000000002
4 3.2000000000000002
5 3.3999999999999999
6 1.5
  Margin of error percent voted citizen_White alone
1 0.29999999999999999
2 2.7000000000000002
3 2.6000000000000001
4 2.3999999999999999
5 2.7000000000000002
6 1.2
  Margin of error percent voted citizen_White non-Hispanic alone
1 0.40000000000000002
2 2.7999999999999998
3 2.6000000000000001
4 2.8999999999999999
5 2.7999999999999998
6 1.5
  Margin of error percent voted citizen_Black alone
1 1
2 5.7000000000000002
3 (B)
4 12.6
5 7.5
6 5
  Margin of error percent voted citizen_Asian alone
1 1.7
2 (B)
3 (B)
4 (B)
5 (B)
6 3.5
  Margin of error percent voted citizen_Hispanic (of any race)
1 1.2
2 (B)
3 (B)
4 6.5
5 (B)
6 2.8999999999999999
  Margin of error percent voted citizen_White alone or in combination
1 0.29999999999999999
2 2.7000000000000002
3 2.5
4 2.3999999999999999
5 2.7000000000000002
6 1.2
  Margin of error percent voted citizen_Black alone or in combination
1 1
2 5.7000000000000002
3 (B)
4 12.5
5 7.5
6 4.9000000000000004
  Margin of error percent voted citizen_Asian alone or in combination
1 1.6000000000000001
2 (B)
3 (B)
4 (B)
5 (B)
6 3.3999999999999999

In [183]:
write.csv(race_2006_final, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2006.csv", row.names = FALSE)

# 2004 Data

## 2004 Race and Sex Data

In [184]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2004.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2004.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`

In [185]:
#Skipping comments in the original excel file
race_2004 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2004.csv", skip=5)

head(race_2004)

  NA.                        NA..1  Total  Percent.citizen..18..
1 UNITED STATES              NA     NA     NA
2 .Total                     215694 197005 91.299999999999997
3 .Male                      103812 94147  90.700000000000003
4 .Female                    111882 102858 91.900000000000006
5 .White alone               176618 162958 92.299999999999997
6 ..White non-Hispanic alone 151410 148159 97.900000000000006
  Margin.of.error1    Total.1 Percent.registered..18.. Margin.of.error1.1
1 NA                  NA      NA                       NA
2 0.20000000000000001 142070  65.900000000000006       0.29999999999999999
3 0.29999999999999999 66406   64                       0.40000000000000002
4 0.20000000000000001 75663   67.599999999999994       0.40000000000000002
5 0.20000000000000001 119929  67.900000000000006       0.29999999999999999
6 0.10000000000000001 111318  73.5                     0.29999999999999999
  Total.2 Percent.voted..18.. Margin.of.error1.2
1 NA      NA                  NA
2 125736  58.299999999999997  0.29999999999999999
3 58455   56.299999999999997  0.40000000000000002
4 67281   60.100000000000001  0.40000000000000002
5 106588  60.299999999999997  0.29999999999999999
6 99567   65.799999999999997  0.29999999999999999

In [186]:
unique(race_2004[,1])

 [1] "UNITED STATES"
 [2] ".Total"
 [3] ".Male"
 [4] ".Female"
 [5] ".White alone"
 [6] "..White non-Hispanic alone"
 [7] ".Black alone"
 [8] ".Asian alone"
 [9] ".Hispanic (of any race)"
[10] ".White alone or in combination"
[11] "..White non-Hispanic alone or in combination"
[12] ".Black alone or in combination"
[13] ".Asian alone or in combination"
[14] "ALABAMA"
[15] "ALASKA"
[16] "ARIZONA"
[17] ".Non-Hispanic White"
[18] "ARKANSAS"
[19] "CALIFORNIA"
[20] "COLORADO"
[21] "CONNECTICUT"
[22] "DELAWARE"
[23] "DISTRICT OF COLUMBIA"
[24] "FLORIDA"
[25] "GEORGIA"
[26] "HAWAII"
[27] "IDAHO"
[28] "ILLINOIS"
[29] "INDIANA"
[30] "IOWA"
[31] "KANSAS"
[32] "KENTUCKY"
[33] "LOUISIANA"
[34] "MAINE"
[35] "MARYLAND"
[36] "MASSACHUSETTS"
[37] "MICHIGAN"
[38] "MINNESOTA"
[39] "MISSISSIPPI"
[40] "MISSOURI"
[41] "MONTANA"
[42] "NEBRASKA"
[43] "NEVADA"
[44] "NEW HAMPSHIRE"
[45] "NEW JERSEY"
[46] "NEW MEXICO"
[47] "NEW YORK"
[48] "NORTH CAROLINA"
[49] "NORTH DAKOTA"
[50] "OHIO"
[51] "OKLAHOMA"
[52] "OREGON"
[53] "PENNSYLVANIA"
[54] "RHODE ISLAND"
[55] "SOUTH CAROLINA"
[56] "SOUTH DAKOTA"
[57] "TENNESSEE"
[58] "TEXAS"
[59] "UTAH"
[60] "VERMONT"
[61] "VIRGINIA"
[62] "WASHINGTON"
[63] "WEST VIRGINIA"
[64] "WISCONSIN"
[65] "WYOMING"
[66] NA
[67] "Footnotes:"
[68] "1This figure added to or subtracted from the estimate provides the 90-percent confidence interval."
[69] "Note: The symbol (B) means that the base is too small to show the derived measure."
[70] "Note: \" - \" Represents zero or rounds to zero."
[71] "Source: U.S. Census Bureau, Current Population Survey, November 2004."
[72] "Internet Release date: May 25, 2005"

In [187]:
#Fixing the state column formatting because unlike other years 
excluded_strings <- c(".Total", ".Male", ".Female", ".White alone", "..White non-Hispanic alone",
                      ".Black alone", ".Asian alone", ".Hispanic (of any race)", 
                      ".White alone or in combination", ".Black alone or in combination", 
                      ".Asian alone or in combination", "..White non-Hispanic alone or in combination", ".Non-Hispanic White")

#Keeping only States in the state column and moving that column first
race_2004$STATE <- ifelse(!(race_2004[,1] %in% excluded_strings), race_2004[,1], NA)
race_2004 <- race_2004[, c("STATE", setdiff(names(race_2004), "STATE"))]

#Creating the state titles
race_2004$STATE <- na.locf(race_2004$STATE)

#Deleting empty rows from column 2
race_2004 <- race_2004[race_2004[,2] %in% excluded_strings, ]

# Remove periods from values in the second column
race_2004[,2] <- gsub("\\.", "", race_2004[,2])

In [188]:
#Checking that I have captured all the states, nothing else to included in excluded_strings
unique(race_2004[,1])

 [1] "UNITED STATES"        "ALABAMA"              "ALASKA"
 [4] "ARIZONA"              "ARKANSAS"             "CALIFORNIA"
 [7] "COLORADO"             "CONNECTICUT"          "DELAWARE"
[10] "DISTRICT OF COLUMBIA" "FLORIDA"              "GEORGIA"
[13] "HAWAII"               "IDAHO"                "ILLINOIS"
[16] "INDIANA"              "IOWA"                 "KANSAS"
[19] "KENTUCKY"             "LOUISIANA"            "MAINE"
[22] "MARYLAND"             "MASSACHUSETTS"        "MICHIGAN"
[25] "MINNESOTA"            "MISSISSIPPI"          "MISSOURI"
[28] "MONTANA"              "NEBRASKA"             "NEVADA"
[31] "NEW HAMPSHIRE"        "NEW JERSEY"           "NEW MEXICO"
[34] "NEW YORK"             "NORTH CAROLINA"       "NORTH DAKOTA"
[37] "OHIO"                 "OKLAHOMA"             "OREGON"
[40] "PENNSYLVANIA"         "RHODE ISLAND"         "SOUTH CAROLINA"
[43] "SOUTH DAKOTA"         "TENNESSEE"            "TEXAS"
[46] "UTAH"                 "VERMONT"              "VIRGINIA"
[49] "WASHINGTON"           "WEST VIRGINIA"        "WISCONSIN"
[52] "WYOMING"

In [189]:
head(race_2004, 20)

   STATE         NA.                                        NA..1  Total
2  UNITED STATES Total                                      215694 197005
3  UNITED STATES Male                                       103812 94147
4  UNITED STATES Female                                     111882 102858
5  UNITED STATES White alone                                176618 162958
6  UNITED STATES White non-Hispanic alone                   151410 148159
7  UNITED STATES Black alone                                24910  23346
8  UNITED STATES Asian alone                                9291   6270
9  UNITED STATES Hispanic (of any race)                     27129  16088
10 UNITED STATES White alone or in combination              179050 165244
11 UNITED STATES White non-Hispanic alone or in combination 153399 150128
12 UNITED STATES Black alone or in combination              25510  23908
13 UNITED STATES Asian alone or in combination              9721   6686
15 ALABAMA       Total                                      3332   3257
16 ALABAMA       Male                                       1568   1521
17 ALABAMA       Female                                     1764   1736
18 ALABAMA       White alone                                2450   2400
19 ALABAMA       White non-Hispanic alone                   2412   2392
20 ALABAMA       Black alone                                799    799
21 ALABAMA       Asian alone                                40     15
22 ALABAMA       Hispanic (of any race)                     39     8
   Percent.citizen..18.. Margin.of.error1    Total.1 Percent.registered..18..
2  91.299999999999997    0.20000000000000001 142070  65.900000000000006
3  90.700000000000003    0.29999999999999999 66406   64
4  91.900000000000006    0.20000000000000001 75663   67.599999999999994
5  92.299999999999997    0.20000000000000001 119929  67.900000000000006
6  97.900000000000006    0.10000000000000001 111318  73.5
7  93.700000000000003    0.5                 16035   64.400000000000006
8  67.5                  1.7                 3247    35
9  59.299999999999997    1.3                 9308    34.299999999999997
10 92.299999999999997    0.20000000000000001 121527  67.900000000000006
11 97.900000000000006    0.10000000000000001 112703  73.5
12 93.700000000000003    0.5                 16408   64.299999999999997
13 68.799999999999997    1.7                 3508    36.100000000000001
15 97.799999999999997    0.69999999999999996 2418    72.599999999999994
16 97                    1.2                 1109    70.700000000000003
17 98.400000000000006    0.80000000000000004 1309    74.200000000000003
18 97.900000000000006    0.80000000000000004 1808    73.799999999999997
19 99.200000000000003    0.5                 1806    74.900000000000006
20 100                   -                   583     72.900000000000006
21 (B)                   (B)                 4       (B)
22 (B)                   (B)                 2       (B)
   Margin.of.error1.1  Total.2 Percent.voted..18.. Margin.of.error1.2
2  0.29999999999999999 125736  58.299999999999997  0.29999999999999999
3  0.40000000000000002 58455   56.299999999999997  0.40000000000000002
4  0.40000000000000002 67281   60.100000000000001  0.40000000000000002
5  0.29999999999999999 106588  60.299999999999997  0.29999999999999999
6  0.29999999999999999 99567   65.799999999999997  0.29999999999999999
7  1                   14016   56.299999999999997  1.1000000000000001
8  1.8                 2768    29.800000000000001  1.7
9  1.3                 7587    28                  1.2
10 0.29999999999999999 107930  60.299999999999997  0.29999999999999999
11 0.29999999999999999 100726  65.700000000000003  0.29999999999999999
12 1                   14324   56.100000000000001  1.1000000000000001
13 1.7                 2980    30.699999999999999  1.7
15 2.1000000000000001  2060    61.799999999999997  2.2999999999999998
16 3.1000000000000001  935     59.600000000000001  3.3999999999999999
17 2.8999999999999999  1125    63.799999999999997  3.1000000000000001
18 2.3999999999999999  1523    62.200000000000003  2.7000000000000002
19 2.3999999999999999  1522    63.100000000000001  2.7000000000000002
20 5.2000000000000002  511     63.899999999999999  5.5999999999999996
21 (B)                 4       (B)                 (B)
22 (B)                 2       (B)                 (B)

In [190]:
#Checking that I skipped correctly
tail(race_2004, 20)

    STATE     NA.                                        NA..1 Total
657 WISCONSIN White non-Hispanic alone                   3601  3546
658 WISCONSIN Black alone                                195   191
659 WISCONSIN Asian alone                                85    46
660 WISCONSIN Hispanic (of any race)                     203   99
661 WISCONSIN White alone or in combination              3825  3669
662 WISCONSIN White non-Hispanic alone or in combination 3628  3574
663 WISCONSIN Black alone or in combination              204   201
664 WISCONSIN Asian alone or in combination              86    48
666 WYOMING   Total                                      373   370
667 WYOMING   Male                                       187   185
668 WYOMING   Female                                     186   185
669 WYOMING   White alone                                358   356
670 WYOMING   White non-Hispanic alone                   339   339
671 WYOMING   Black alone                                3     2
672 WYOMING   Asian alone                                2     2
673 WYOMING   Hispanic (of any race)                     20    17
674 WYOMING   White alone or in combination              364   362
675 WYOMING   White non-Hispanic alone or in combination 345   345
676 WYOMING   Black alone or in combination              3     2
677 WYOMING   Asian alone or in combination              3     3
    Percent.citizen..18.. Margin.of.error1    Total.1 Percent.registered..18..
657 98.5                  0.5                 2952    82
658 98.299999999999997    2.8999999999999999  141     72.599999999999994
659 (B)                   (B)                 24      (B)
660 48.700000000000003    14.1                72      35.5
661 95.900000000000006    0.80000000000000004 3042    79.5
662 98.5                  0.5                 2973    81.900000000000006
663 98.400000000000006    2.7000000000000002  149     73
664 (B)                   (B)                 26      (B)
666 99.099999999999994    0.40000000000000002 265     71
667 98.799999999999997    0.69999999999999996 129     69.200000000000003
668 99.400000000000006    0.5                 135     72.799999999999997
669 99.400000000000006    0.40000000000000002 258     72
670 99.900000000000006    0.10000000000000001 247     72.900000000000006
671 (B)                   (B)                 1       (B)
672 (B)                   (B)                 -       (B)
673 (B)                   (B)                 11      (B)
674 99.400000000000006    0.40000000000000002 261     71.700000000000003
675 99.900000000000006    0.10000000000000001 250     72.400000000000006
676 (B)                   (B)                 1       (B)
677 (B)                   (B)                 1       (B)
    Margin.of.error1.1 Total.2 Percent.voted..18.. Margin.of.error1.2
657 1.6000000000000001 2754    76.5                1.8
658 9.9000000000000004 133     68.099999999999994  10.300000000000001
659 (B)                24      (B)                 (B)
660 13.5               67      33                  13.199999999999999
661 1.7                2838    74.200000000000003  1.8
662 1.6000000000000001 2774    76.5                1.8
663 9.5999999999999996 140     68.700000000000003  10
664 (B)                26      (B)                 (B)
666 2.1000000000000001 247     66.299999999999997  2.2000000000000002
667 3                  122     65                  3.1000000000000001
668 2.8999999999999999 126     67.599999999999994  3.1000000000000001
669 2.1000000000000001 241     67.400000000000006  2.2000000000000002
670 2.2000000000000002 231     68.200000000000003  2.2999999999999998
671 (B)                1       (B)                 (B)
672 (B)                -       (B)                 (B)
673 (B)                10      (B)                 (B)
674 2.1000000000000001 244     67                  2.2000000000000002
675 2.1000000000000001 234     67.700000000000003  2.2000000000000002
676 (B)                1       (B)                 (B)
677 (B)                1       (B)                 (B)

In [191]:
ncol(race_2004)

[1] 12

In [192]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Percent Citizen Population",
               "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                "Margin of error for percent registered total", "Total voted", "Percent voted (Total)", 
               "Margin of error percent voted total")
colnames(race_2004) <- col_names

In [193]:
# #Creating the year variable
race_2004$Year <- 2004

In [194]:
head(race_2004, 30)

   STATE         Sex, Race, and Hispanic-Origin             Total population
2  UNITED STATES Total                                      215694
3  UNITED STATES Male                                       103812
4  UNITED STATES Female                                     111882
5  UNITED STATES White alone                                176618
6  UNITED STATES White non-Hispanic alone                   151410
7  UNITED STATES Black alone                                24910
8  UNITED STATES Asian alone                                9291
9  UNITED STATES Hispanic (of any race)                     27129
10 UNITED STATES White alone or in combination              179050
11 UNITED STATES White non-Hispanic alone or in combination 153399
12 UNITED STATES Black alone or in combination              25510
13 UNITED STATES Asian alone or in combination              9721
15 ALABAMA       Total                                      3332
16 ALABAMA       Male                                       1568
17 ALABAMA       Female                                     1764
18 ALABAMA       White alone                                2450
19 ALABAMA       White non-Hispanic alone                   2412
20 ALABAMA       Black alone                                799
21 ALABAMA       Asian alone                                40
22 ALABAMA       Hispanic (of any race)                     39
23 ALABAMA       White alone or in combination              2474
24 ALABAMA       White non-Hispanic alone or in combination 2435
25 ALABAMA       Black alone or in combination              806
26 ALABAMA       Asian alone or in combination              40
28 ALASKA        Total                                      451
29 ALASKA        Male                                       224
30 ALASKA        Female                                     227
31 ALASKA        White alone                                359
32 ALASKA        White non-Hispanic alone                   343
33 ALASKA        Black alone                                13
   Total citizen population Percent Citizen Population
2  197005                   91.299999999999997
3  94147                    90.700000000000003
4  102858                   91.900000000000006
5  162958                   92.299999999999997
6  148159                   97.900000000000006
7  23346                    93.700000000000003
8  6270                     67.5
9  16088                    59.299999999999997
10 165244                   92.299999999999997
11 150128                   97.900000000000006
12 23908                    93.700000000000003
13 6686                     68.799999999999997
15 3257                     97.799999999999997
16 1521                     97
17 1736                     98.400000000000006
18 2400                     97.900000000000006
19 2392                     99.200000000000003
20 799                      100
21 15                       (B)
22 8                        (B)
23 2424                     98
24 2415                     99.200000000000003
25 806                      100
26 15                       (B)
28 434                      96.200000000000003
29 219                      97.799999999999997
30 215                      94.5
31 350                      97.299999999999997
32 336                      98.099999999999994
33 13                       (B)
   Margin of error percent citizen Total registered Percent registered (Total)
2  0.20000000000000001             142070           65.900000000000006
3  0.29999999999999999             66406            64
4  0.20000000000000001             75663            67.599999999999994
5  0.20000000000000001             119929           67.900000000000006
6  0.10000000000000001             111318           73.5
7  0.5                             16035            64.400000000000006
8  1.7                             3247             35
9  1.3                             9308             34.299999999999997
10 0.20000000000000001             121527           67.900000000000006
11 0.10000000000000001             112703           73.5
12 0.5                             16408            64.299999999999997
13 1.7                             3508             36.100000000000001
15 0.69999999999999996             2418             72.599999999999994
16 1.2                             1109             70.700000000000003
17 0.80000000000000004             1309             74.200000000000003
18 0.80000000000000004             1808             73.799999999999997
19 0.5                             1806             74.900000000000006
20 -                               583              72.900000000000006
21 (B)                             4                (B)
22 (B)                             2                (B)
23 0.80000000000000004             1823             73.700000000000003
24 0.5                             1822             74.799999999999997
25 -                               590              73.200000000000003
26 (B)                             4                (B)
28 0.90000000000000002             334              74
29 1                               168              74.799999999999997
30 1.5                             167              73.299999999999997
31 0.80000000000000004             278              77.299999999999997
32 0.69999999999999996             269              78.400000000000006
33 (B)                             9                (B)
   Margin of error for percent registered total Total voted
2  0.29999999999999999                          125736
3  0.40000000000000002                          58455
4  0.40000000000000002                          67281
5  0.29999999999999999                          106588
6  0.29999999999999999                          99567
7  1                                            14016
8  1.8                                          2768
9  1.3                                          7587
10 0.29999999999999999                          107930
11 0.29999999999999999                          100726
12 1                                            14324
13 1.7                                          2980
15 2.1000000000000001                           2060
16 3.1000000000000001                           935
17 2.8999999999999999                           1125
18 2.3999999999999999                           1523
19 2.3999999999999999                           1522
20 5.2000000000000002                           511
21 (B)                                          4
22 (B)                                          2
23 2.3999999999999999                           1539
24 2.3999999999999999                           1537
25 5.2000000000000002                           517
26 (B)                                          4
28 2                                            293
29 2.7999999999999998                           146
30 2.8999999999999999                           148
31 2.2000000000000002                           249
32 2.2000000000000002                           241
33 (B)                                          8
   Percent voted (Total) Margin of error percent voted total Year
2  58.299999999999997    0.29999999999999999                 2004
3  56.299999999999997    0.40000000000000002                 2004
4  60.100000000000001    0.40000000000000002                 2004
5  60.299999999999997    0.29999999999999999                 2004
6  65.799999999999997    0.29999999999999999                 2004
7  56.299999999999997    1.1000000000000001                  2004
8  29.800000000000001    1.7                                 2004
9  28                    1.2                                 2004
10 60.299999999999997    0.29999999999999999                 2004
11 65.700000000000003    0.29999999999999999                 2004
12 56.100000000000001    1.1000000000000001                  2004
13 30.699999999999999    1.7                                 2004
15 61.799999999999997    2.2999999999999998                  2004
16 59.600000000000001    3.3999999999999999                  2004
17 63.799999999999997    3.1000000000000001                  2004
18 62.200000000000003    2.7000000000000002                  2004
19 63.100000000000001    2.7000000000000002                  2004
20 63.899999999999999    5.5999999999999996                  2004
21 (B)                   (B)                                 2004
22 (B)                   (B)                                 2004
23 62.200000000000003    2.7000000000000002                  2004
24 63.100000000000001    2.7000000000000002                  2004
25 64.200000000000003    5.5999999999999996                  2004
26 (B)                   (B)                                 2004
28 65                    2.2000000000000002                  2004
29 65.099999999999994    3.1000000000000001                  2004
30 64.900000000000006    3.1000000000000001                  2004
31 69.299999999999997    2.3999999999999999                  2004
32 70.400000000000006    2.3999999999999999                  2004
33 (B)                   (B)                                 2004

In [195]:
#Changing the '-' entries to 0, as they signify
race_2004[race_2004 == '-'] <- 0

In [196]:
#Converting columns to numerics
race_2004$`Total registered` <- as.numeric(race_2004$`Total registered`)
race_2004$`Total voted` <- as.numeric(race_2004$`Total voted`)
race_2004$`Total population` <- as.numeric(race_2004$`Total population`)
race_2004$`Total citizen population` <- as.numeric(race_2004$`Total citizen population`)

In [197]:
#Recalculating the percents to get rid of the "B's"
race_2004$`Percent registered (Total)` <- ifelse(race_2004$`Total population` != 0,
                                                 100*race_2004$`Total registered` / race_2004$`Total population`,
                                                 0)

race_2004$`Percent registered (Citizen)` <- ifelse(race_2004$`Total citizen population` != 0,
                                                 100*race_2004$`Total registered` / race_2004$`Total citizen population`,
                                                 0)

race_2004$`Percent voted (Total)` <- ifelse(race_2004$`Total population` != 0,
                                                 100*race_2004$`Total voted` / race_2004$`Total population`,
                                                 0)

race_2004$`Percent voted (Citizen)` <- ifelse(race_2004$`Total citizen population` != 0,
                                                 100*race_2004$`Total voted` / race_2004$`Total citizen population`,
                                                 0)

In [198]:
head(race_2004)

  STATE         Sex, Race, and Hispanic-Origin Total population
2 UNITED STATES Total                          215694
3 UNITED STATES Male                           103812
4 UNITED STATES Female                         111882
5 UNITED STATES White alone                    176618
6 UNITED STATES White non-Hispanic alone       151410
7 UNITED STATES Black alone                     24910
  Total citizen population Percent Citizen Population
2 197005                   91.299999999999997
3  94147                   90.700000000000003
4 102858                   91.900000000000006
5 162958                   92.299999999999997
6 148159                   97.900000000000006
7  23346                   93.700000000000003
  Margin of error percent citizen Total registered Percent registered (Total)
2 0.20000000000000001             142070           65.86646
3 0.29999999999999999              66406           63.96756
4 0.20000000000000001              75663           67.62750
5 0.20000000000000001             119929           67.90304
6 0.10000000000000001             111318           73.52090
7 0.5                              16035           64.37174
  Margin of error for percent registered total Total voted
2 0.29999999999999999                          125736
3 0.40000000000000002                           58455
4 0.40000000000000002                           67281
5 0.29999999999999999                          106588
6 0.29999999999999999                           99567
7 1                                             14016
  Percent voted (Total) Margin of error percent voted total Year
2 58.29369              0.29999999999999999                 2004
3 56.30852              0.40000000000000002                 2004
4 60.13568              0.40000000000000002                 2004
5 60.34945              0.29999999999999999                 2004
6 65.75986              0.29999999999999999                 2004
7 56.26656              1.1000000000000001                  2004
  Percent registered (Citizen) Percent voted (Citizen)
2 72.11492                     63.82376
3 70.53438                     62.08907
4 73.56064                     65.41154
5 73.59504                     65.40826
6 75.13415                     67.20280
7 68.68414                     60.03598

In [199]:
#Pivoting to the desired format
race_2004_final <- pivot_wider(race_2004, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", "Percent Citizen Population",
                                           "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                                            "Margin of error for percent registered total", "Percent registered (Citizen)",
                                          "Total voted", "Percent voted (Total)", 
                                           "Margin of error percent voted total", "Percent voted (Citizen)"))

In [200]:
head(race_2004_final)

  STATE         Year Total population_Total Total population_Male
1 UNITED STATES 2004 215694                 103812
2 ALABAMA       2004   3332                   1568
3 ALASKA        2004    451                    224
4 ARIZONA       2004   4122                   2008
5 ARKANSAS      2004   2010                    962
6 CALIFORNIA    2004  26085                  12783
  Total population_Female Total population_White alone
1 111882                  176618
2   1764                    2450
3    227                     359
4   2114                    3747
5   1048                    1649
6  13302                   20083
  Total population_White non-Hispanic alone Total population_Black alone
1 151410                                    24910
2   2412                                      799
3    343                                       13
4   2622                                      142
5   1578                                      295
6  12350                                     1678
  Total population_Asian alone Total population_Hispanic (of any race) ⋯
1 9291                         27129                                   ⋯
2   40                            39                                   ⋯
3   24                            22                                   ⋯
4   57                          1160                                   ⋯
5   24                            73                                   ⋯
6 3524                          8127                                   ⋯
  Percent voted (Citizen)_White alone
1 65.40826
2 63.45833
3 71.14286
4 66.09848
5 60.64030
6 64.55728
  Percent voted (Citizen)_White non-Hispanic alone
1 67.20280
2 63.62876
3 71.72619
4 70.31981
5 61.08280
6 70.56975
  Percent voted (Citizen)_Black alone Percent voted (Citizen)_Asian alone
1 60.03598                            44.14673
2 63.95494                            26.66667
3 61.53846                            41.17647
4 48.52941                            44.73684
5 49.15254                             0.00000
6 66.17647                            44.32497
  Percent voted (Citizen)_Hispanic (of any race)
1 47.15937
2 25.00000
3 55.55556
4 47.05882
5 28.00000
6 46.94338
  Percent voted (Citizen)_White alone or in combination
1 65.31553
2 63.49010
3 70.57221
4 65.98874
5 60.81081
6 64.48195
  Percent voted (Citizen)_White non-Hispanic alone or in combination
1 67.09341
2 63.64389
3 71.30682
4 70.13889
5 61.24611
6 70.35372
  Percent voted (Citizen)_Black alone or in combination
1 59.91300
2 64.14392
3 64.28571
4 47.94521
5 49.49495
6 65.59074
  Percent voted (Citizen)_Asian alone or in combination
1 44.57074
2 26.66667
3 44.44444
4 45.45455
5  0.00000
6 44.35115
  Percent voted (Citizen)_Non-Hispanic White
1       NA
2       NA
3       NA
4 66.09848
5       NA
6       NA

In [201]:
nrow(race_2004_final)

[1] 52

## 2004 Age Data

In [202]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2004.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2004.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`

In [203]:
#Skipping comments in the original excel file
age_2004 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2004.csv", skip=5)
head(age_2004, 30)

   NA.           NA..1  Total  Percent.citizen..18.. Margin.of.error1
1  UNITED STATES     NA     NA NA                    NA
2  .Total        215694 197005 91.299999999999997    0.20000000000000001
3  .18 to 24      27808  24899 89.5                  0.5
4  .25 to 44      82133  71231 86.700000000000003    0.29999999999999999
5  .45 to 64      71014  67184 94.599999999999994    0.20000000000000001
6  .65 to 74      18363  17759 96.700000000000003    0.40000000000000002
7  .75+           16375  15933 97.299999999999997    0.40000000000000002
8  ALABAMA           NA     NA NA                    NA
9  .Total          3332   3257 97.799999999999997    0.69999999999999996
10 .18 to 24        413    387 93.700000000000003    3.2999999999999998
11 .25 to 44       1223   1185 96.900000000000006    1.3999999999999999
12 .45 to 64       1131   1121 99.099999999999994    0.80000000000000004
13 .65 to 74        311    311 100                   -
14 .75+             254    254 100                   -
15 ALASKA            NA     NA NA                    NA
16 .Total           451    434 96.200000000000003    0.90000000000000002
17 .18 to 24         60     58 (B)                   (B)
18 .25 to 44        178    167 93.5                  1.8
19 .45 to 64        166    163 98.200000000000003    1
20 .65 to 74         30     30 (B)                   (B)
21 .75+              18     17 (B)                   (B)
22 ARIZONA           NA     NA NA                    NA
23 .Total          4122   3508 85.099999999999994    1.7
24 .18 to 24        522    436 83.400000000000006    4.9000000000000004
25 .25 to 44       1616   1256 77.799999999999997    3.1000000000000001
26 .45 to 64       1339   1189 88.799999999999997    2.6000000000000001
27 .65 to 74        363    344 94.900000000000006    3.5
28 .75+             283    283 100                   -
29 ARKANSAS          NA     NA NA                    NA
30 .Total          2010   1942 96.599999999999994    0.90000000000000002
   Total.1 Percent.registered..18.. Margin.of.error1.1  Total.2
1      NA  NA                       NA                      NA
2  142070  65.900000000000006       0.29999999999999999 125736
3   14334  51.5                     0.80000000000000004  11639
4   49371  60.100000000000001       0.5                  42845
5   51659  72.700000000000003       0.5                  47327
6   14125  76.900000000000006       0.90000000000000002  13010
7   12581  76.799999999999997       0.90000000000000002  10915
8      NA  NA                       NA                      NA
9    2418  72.599999999999994       2.1000000000000001    2060
10    211  51.100000000000001       6.7000000000000002     173
11    832  68.099999999999994       3.6000000000000001     685
12    888  78.5                     3.2999999999999998     797
13    284  91.299999999999997       4.4000000000000004     247
14    203  79.900000000000006       6.9000000000000004     158
15     NA  NA                       NA                      NA
16    334  74                       2                      293
17     37  (B)                      (B)                     31
18    125  70.5                     3.2999999999999998     107
19    135  81.400000000000006       3                      122
20     23  (B)                      (B)                     22
21     13  (B)                      (B)                     11
22     NA  NA                       NA                      NA
23   2485  60.299999999999997       2.2999999999999998    2239
24    249  47.799999999999997       6.5999999999999996     184
25    819  50.700000000000003       3.7999999999999998     708
26    960  71.700000000000003       3.7000000000000002     914
27    248  68.200000000000003       7.4000000000000004     239
28    209  74                       7.9000000000000004     194
29     NA  NA                       NA                      NA
30   1328  66.099999999999994       2.3999999999999999    1140
   Percent.voted..18.. Margin.of.error1.2
1  NA                  NA
2  58.299999999999997  0.29999999999999999
3  41.899999999999999  0.80000000000000004
4  52.200000000000003  0.5
5  66.599999999999994  0.5
6  70.799999999999997  0.90000000000000002
7  66.700000000000003  1
8  NA                  NA
9  61.799999999999997  2.2999999999999998
10 42                  6.5999999999999996
11 56                  3.8999999999999999
12 70.5                3.7000000000000002
13 79.200000000000003  6.2999999999999998
14 62.200000000000003  8.3000000000000007
15 NA                  NA
16 65                  2.2000000000000002
17 (B)                 (B)
18 60.200000000000003  3.6000000000000001
19 73.799999999999997  3.2999999999999998
20 (B)                 (B)
21 (B)                 (B)
22 NA                  NA
23 54.299999999999997  2.2999999999999998
24 35.200000000000003  6.2999999999999998
25 43.799999999999997  3.7000000000000002
26 68.299999999999997  3.8999999999999999
27 65.799999999999997  7.5
28 68.700000000000003  8.4000000000000004
29 NA                  NA
30 56.700000000000003  2.5

In [204]:
#Fixing the state column formatting because unlike other years 
excluded_strings_1 <- c(".Total", ".18 to 24", ".25 to 34", ".35 to 44", ".45 to 54", ".55 to 64", ".65 to 74", ".75+", ".45 to 64", ".25 to 44", ".18 to 44", ".65+")

#Keeping only states in the state column and moving that column first
age_2004$STATE <- ifelse(!(age_2004[,1] %in% excluded_strings_1), age_2004[,1], NA)
age_2004 <- age_2004[, c("STATE", setdiff(names(age_2004), "STATE"))]

#Creating the state titles
age_2004$STATE <- na.locf(age_2004$STATE)

#Delete rows where all values are none
age_2004 <- age_2004[age_2004[,2] %in% excluded_strings_1, ]

# Remove periods from values in the second column
age_2004[,2] <- gsub("\\.", "", age_2004[,2])

In [205]:
head(age_2004, 20)

   STATE         NA.      NA..1  Total  Percent.citizen..18..
2  UNITED STATES Total    215694 197005 91.299999999999997
3  UNITED STATES 18 to 24  27808  24899 89.5
4  UNITED STATES 25 to 44  82133  71231 86.700000000000003
5  UNITED STATES 45 to 64  71014  67184 94.599999999999994
6  UNITED STATES 65 to 74  18363  17759 96.700000000000003
7  UNITED STATES 75+       16375  15933 97.299999999999997
9  ALABAMA       Total      3332   3257 97.799999999999997
10 ALABAMA       18 to 24    413    387 93.700000000000003
11 ALABAMA       25 to 44   1223   1185 96.900000000000006
12 ALABAMA       45 to 64   1131   1121 99.099999999999994
13 ALABAMA       65 to 74    311    311 100
14 ALABAMA       75+         254    254 100
16 ALASKA        Total       451    434 96.200000000000003
17 ALASKA        18 to 24     60     58 (B)
18 ALASKA        25 to 44    178    167 93.5
19 ALASKA        45 to 64    166    163 98.200000000000003
20 ALASKA        65 to 74     30     30 (B)
21 ALASKA        75+          18     17 (B)
23 ARIZONA       Total      4122   3508 85.099999999999994
24 ARIZONA       18 to 24    522    436 83.400000000000006
   Margin.of.error1    Total.1 Percent.registered..18.. Margin.of.error1.1
2  0.20000000000000001 142070  65.900000000000006       0.29999999999999999
3  0.5                  14334  51.5                     0.80000000000000004
4  0.29999999999999999  49371  60.100000000000001       0.5
5  0.20000000000000001  51659  72.700000000000003       0.5
6  0.40000000000000002  14125  76.900000000000006       0.90000000000000002
7  0.40000000000000002  12581  76.799999999999997       0.90000000000000002
9  0.69999999999999996   2418  72.599999999999994       2.1000000000000001
10 3.2999999999999998     211  51.100000000000001       6.7000000000000002
11 1.3999999999999999     832  68.099999999999994       3.6000000000000001
12 0.80000000000000004    888  78.5                     3.2999999999999998
13 -                      284  91.299999999999997       4.4000000000000004
14 -                      203  79.900000000000006       6.9000000000000004
16 0.90000000000000002    334  74                       2
17 (B)                     37  (B)                      (B)
18 1.8                    125  70.5                     3.2999999999999998
19 1                      135  81.400000000000006       3
20 (B)                     23  (B)                      (B)
21 (B)                     13  (B)                      (B)
23 1.7                   2485  60.299999999999997       2.2999999999999998
24 4.9000000000000004     249  47.799999999999997       6.5999999999999996
   Total.2 Percent.voted..18.. Margin.of.error1.2
2  125736  58.299999999999997  0.29999999999999999
3   11639  41.899999999999999  0.80000000000000004
4   42845  52.200000000000003  0.5
5   47327  66.599999999999994  0.5
6   13010  70.799999999999997  0.90000000000000002
7   10915  66.700000000000003  1
9    2060  61.799999999999997  2.2999999999999998
10    173  42                  6.5999999999999996
11    685  56                  3.8999999999999999
12    797  70.5                3.7000000000000002
13    247  79.200000000000003  6.2999999999999998
14    158  62.200000000000003  8.3000000000000007
16    293  65                  2.2000000000000002
17     31  (B)                 (B)
18    107  60.200000000000003  3.6000000000000001
19    122  73.799999999999997  3.2999999999999998
20     22  (B)                 (B)
21     11  (B)                 (B)
23   2239  54.299999999999997  2.2999999999999998
24    184  35.200000000000003  6.2999999999999998

In [206]:
tail(age_2004, 20)

    STATE         NA.      NA..1 Total Percent.citizen..18..
342 WASHINGTON    65 to 74  309   298  96.299999999999997
343 WASHINGTON    75+       277   269  97.299999999999997
345 WEST VIRGINIA Total    1395  1394  99.900000000000006
346 WEST VIRGINIA 18 to 24  157   157  100
347 WEST VIRGINIA 25 to 44  468   468  100
348 WEST VIRGINIA 45 to 64  502   501  99.799999999999997
349 WEST VIRGINIA 65 to 74  134   134  100
350 WEST VIRGINIA 75+       133   133  100
352 WISCONSIN     Total    4126  3928  95.200000000000003
353 WISCONSIN     18 to 24  524   478  91.299999999999997
354 WISCONSIN     25 to 44 1548  1427  92.200000000000003
355 WISCONSIN     45 to 64 1359  1341  98.700000000000003
356 WISCONSIN     65 to 74  363   353  97.200000000000003
357 WISCONSIN     75+       332   329  99
359 WYOMING       Total     373   370  99.099999999999994
360 WYOMING       18 to 24   50    50  (B)
361 WYOMING       25 to 44  125   123  98.5
362 WYOMING       45 to 64  139   138  99.099999999999994
363 WYOMING       65 to 74   32    32  (B)
364 WYOMING       75+        26    26  (B)
    Margin.of.error1    Total.1 Percent.registered..18.. Margin.of.error1.1
342 3.2000000000000002   242    78.299999999999997       7
343 2.8999999999999999   215    77.599999999999994       7.5
345 0.10000000000000001  935    67                       2.1000000000000001
346 -                     89    56.399999999999999       6.5
347 -                    294    62.700000000000003       3.7000000000000002
348 0.29999999999999999  347    69.200000000000003       3.3999999999999999
349 -                     99    73.900000000000006       6.2000000000000002
350 -                    107    80                       5.7000000000000002
352 0.80000000000000004 3225    78.200000000000003       1.6000000000000001
353 3.2000000000000002   330    63                       5.4000000000000004
354 1.7                 1133    73.200000000000003       2.8999999999999999
355 0.80000000000000004 1165    85.700000000000003       2.3999999999999999
356 2.2000000000000002   314    86.299999999999997       4.5999999999999996
357 1.3999999999999999   284    85.5                     4.9000000000000004
359 0.40000000000000002  265    71                       2.1000000000000001
360 (B)                   28    (B)                      (B)
361 1                     83    66.200000000000003       3.7999999999999998
362 0.69999999999999996  108    77.200000000000003       3.2000000000000002
363 (B)                   25    (B)                      (B)
364 (B)                   21    (B)                      (B)
    Total.2 Percent.voted..18.. Margin.of.error1.2
342  239    77.5                7.0999999999999996
343  202    73.099999999999994  7.9000000000000004
345  798    57.200000000000003  2.2000000000000002
346   72    45.899999999999999  6.5
347  244    52.100000000000001  3.7999999999999998
348  311    61.899999999999999  3.6000000000000001
349   92    68.599999999999994  6.5999999999999996
350   78    58.799999999999997  7
352 3010    73                  1.8
353  301    57.5                5.5
354 1059    68.400000000000006  3
355 1103    81.200000000000003  2.7000000000000002
356  295    81.200000000000003  5.2000000000000002
357  252    75.799999999999997  6
359  247    66.299999999999997  2.2000000000000002
360   24    (B)                 (B)
361   76    61.100000000000001  3.8999999999999999
362  104    74.5                3.2999999999999998
363   24    (B)                 (B)
364   19    (B)                 (B)

In [207]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Percent Citizen Population",
               "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                "Margin of error for percent registered total", "Total voted", "Percent voted (Total)", 
               "Margin of error percent voted total")
colnames(age_2004) <- col_names

In [208]:
head(age_2004)

  STATE         Age      Total population Total citizen population
2 UNITED STATES Total    215694           197005
3 UNITED STATES 18 to 24  27808            24899
4 UNITED STATES 25 to 44  82133            71231
5 UNITED STATES 45 to 64  71014            67184
6 UNITED STATES 65 to 74  18363            17759
7 UNITED STATES 75+       16375            15933
  Percent Citizen Population Margin of error percent citizen Total registered
2 91.299999999999997         0.20000000000000001             142070
3 89.5                       0.5                              14334
4 86.700000000000003         0.29999999999999999              49371
5 94.599999999999994         0.20000000000000001              51659
6 96.700000000000003         0.40000000000000002              14125
7 97.299999999999997         0.40000000000000002              12581
  Percent registered (Total) Margin of error for percent registered total
2 65.900000000000006         0.29999999999999999
3 51.5                       0.80000000000000004
4 60.100000000000001         0.5
5 72.700000000000003         0.5
6 76.900000000000006         0.90000000000000002
7 76.799999999999997         0.90000000000000002
  Total voted Percent voted (Total) Margin of error percent voted total
2 125736      58.299999999999997    0.29999999999999999
3  11639      41.899999999999999    0.80000000000000004
4  42845      52.200000000000003    0.5
5  47327      66.599999999999994    0.5
6  13010      70.799999999999997    0.90000000000000002
7  10915      66.700000000000003    1

In [209]:
#Creating the year variable
age_2004$Year <- 2004

#Getting rid of the total row since it is already in the race data and is identical
age_2004 <- age_2004[age_2004$Age != "Total", ]
head(age_2004,20)

   STATE         Age      Total population Total citizen population
3  UNITED STATES 18 to 24 27808            24899
4  UNITED STATES 25 to 44 82133            71231
5  UNITED STATES 45 to 64 71014            67184
6  UNITED STATES 65 to 74 18363            17759
7  UNITED STATES 75+      16375            15933
10 ALABAMA       18 to 24   413              387
11 ALABAMA       25 to 44  1223             1185
12 ALABAMA       45 to 64  1131             1121
13 ALABAMA       65 to 74   311              311
14 ALABAMA       75+        254              254
17 ALASKA        18 to 24    60               58
18 ALASKA        25 to 44   178              167
19 ALASKA        45 to 64   166              163
20 ALASKA        65 to 74    30               30
21 ALASKA        75+         18               17
24 ARIZONA       18 to 24   522              436
25 ARIZONA       25 to 44  1616             1256
26 ARIZONA       45 to 64  1339             1189
27 ARIZONA       65 to 74   363              344
28 ARIZONA       75+        283              283
   Percent Citizen Population Margin of error percent citizen Total registered
3  89.5                       0.5                             14334
4  86.700000000000003         0.29999999999999999             49371
5  94.599999999999994         0.20000000000000001             51659
6  96.700000000000003         0.40000000000000002             14125
7  97.299999999999997         0.40000000000000002             12581
10 93.700000000000003         3.2999999999999998                211
11 96.900000000000006         1.3999999999999999                832
12 99.099999999999994         0.80000000000000004               888
13 100                        -                                 284
14 100                        -                                 203
17 (B)                        (B)                                37
18 93.5                       1.8                               125
19 98.200000000000003         1                                 135
20 (B)                        (B)                                23
21 (B)                        (B)                                13
24 83.400000000000006         4.9000000000000004                249
25 77.799999999999997         3.1000000000000001                819
26 88.799999999999997         2.6000000000000001                960
27 94.900000000000006         3.5                               248
28 100                        -                                 209
   Percent registered (Total) Margin of error for percent registered total
3  51.5                       0.80000000000000004
4  60.100000000000001         0.5
5  72.700000000000003         0.5
6  76.900000000000006         0.90000000000000002
7  76.799999999999997         0.90000000000000002
10 51.100000000000001         6.7000000000000002
11 68.099999999999994         3.6000000000000001
12 78.5                       3.2999999999999998
13 91.299999999999997         4.4000000000000004
14 79.900000000000006         6.9000000000000004
17 (B)                        (B)
18 70.5                       3.2999999999999998
19 81.400000000000006         3
20 (B)                        (B)
21 (B)                        (B)
24 47.799999999999997         6.5999999999999996
25 50.700000000000003         3.7999999999999998
26 71.700000000000003         3.7000000000000002
27 68.200000000000003         7.4000000000000004
28 74                         7.9000000000000004
   Total voted Percent voted (Total) Margin of error percent voted total Year
3  11639       41.899999999999999    0.80000000000000004                 2004
4  42845       52.200000000000003    0.5                                 2004
5  47327       66.599999999999994    0.5                                 2004
6  13010       70.799999999999997    0.90000000000000002                 2004
7  10915       66.700000000000003    1                                   2004
10   173       42                    6.5999999999999996                  2004
11   685       56                    3.8999999999999999                  2004
12   797       70.5                  3.7000000000000002                  2004
13   247       79.200000000000003    6.2999999999999998                  2004
14   158       62.200000000000003    8.3000000000000007                  2004
17    31       (B)                   (B)                                 2004
18   107       60.200000000000003    3.6000000000000001                  2004
19   122       73.799999999999997    3.2999999999999998                  2004
20    22       (B)                   (B)                                 2004
21    11       (B)                   (B)                                 2004
24   184       35.200000000000003    6.2999999999999998                  2004
25   708       43.799999999999997    3.7000000000000002                  2004
26   914       68.299999999999997    3.8999999999999999                  2004
27   239       65.799999999999997    7.5                                 2004
28   194       68.700000000000003    8.4000000000000004                  2004

In [210]:
#Changing the '-' entries to 0, as they signify
age_2004[age_2004 == '-'] <- 0

In [211]:
#Recalculating the percents to get rid of the "B's"
age_2004$`Percent registered (Total)` <- ifelse(age_2004$`Total population` != 0,
                                                 100*age_2004$`Total registered` / age_2004$`Total population`,
                                                 0)

age_2004$`Percent registered (Citizen)` <- ifelse(age_2004$`Total citizen population` != 0,
                                                 100*age_2004$`Total registered` / age_2004$`Total citizen population`,
                                                 0)

age_2004$`Percent voted (Total)` <- ifelse(age_2004$`Total population` != 0,
                                                 100*age_2004$`Total voted` / age_2004$`Total population`,
                                                 0)

age_2004$`Percent voted (Citizen)` <- ifelse(age_2004$`Total citizen population` != 0,
                                                 100*age_2004$`Total voted` / age_2004$`Total citizen population`,
                                                 0)

In [212]:
#Pivoting to the desired format
age_2004_final <- pivot_wider(age_2004, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", "Percent Citizen Population",
                                           "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                                            "Margin of error for percent registered total","Percent registered (Citizen)",
                                          "Total voted", "Percent voted (Total)", 
                                           "Margin of error percent voted total", "Percent voted (Citizen)"))

In [213]:
head(age_2004_final)

  STATE         Year Total population_18 to 24 Total population_25 to 44
1 UNITED STATES 2004 27808                     82133
2 ALABAMA       2004   413                      1223
3 ALASKA        2004    60                       178
4 ARIZONA       2004   522                      1616
5 ARKANSAS      2004   258                       726
6 CALIFORNIA    2004  3366                     10785
  Total population_45 to 64 Total population_65 to 74 Total population_75+
1 71014                     18363                     16375
2  1131                       311                       254
3   166                        30                        18
4  1339                       363                       283
5   688                       178                       160
6  8234                      2007                      1692
  Total citizen population_18 to 24 Total citizen population_25 to 44
1 24899                             71231
2   387                              1185
3    58                               167
4   436                              1256
5   236                               689
6  2659                              7596
  Total citizen population_45 to 64 ⋯
1 67184                             ⋯
2  1121                             ⋯
3   163                             ⋯
4  1189                             ⋯
5   680                             ⋯
6  7047                             ⋯
  Margin of error percent voted total_18 to 24
1 0.80000000000000004
2 6.5999999999999996
3 (B)
4 6.2999999999999998
5 6.5999999999999996
6 2.7999999999999998
  Margin of error percent voted total_25 to 44
1 0.5
2 3.8999999999999999
3 3.6000000000000001
4 3.7000000000000002
5 4.2000000000000002
6 1.6000000000000001
  Margin of error percent voted total_45 to 64
1 0.5
2 3.7000000000000002
3 3.2999999999999998
4 3.8999999999999999
5 4.0999999999999996
6 1.8999999999999999
  Margin of error percent voted total_65 to 74
1 0.90000000000000002
2 6.2999999999999998
3 (B)
4 7.5
5 7.7000000000000002
6 3.6000000000000001
  Margin of error percent voted total_75+ Percent voted (Citizen)_18 to 24
1 1                                       46.74485
2 8.3000000000000007                      44.70284
3 (B)                                     53.44828
4 8.4000000000000004                      42.20183
5 7.7000000000000002                      36.01695
6 4                                       44.90410
  Percent voted (Citizen)_25 to 44 Percent voted (Citizen)_45 to 64
1 60.14937                         70.44386
2 57.80591                         71.09723
3 64.07186                         74.84663
4 56.36943                         76.87132
5 53.12046                         65.00000
6 56.96419                         68.36952
  Percent voted (Citizen)_65 to 74 Percent voted (Citizen)_75+
1 73.25863                         68.50562
2 79.42122                         62.20472
3 73.33333                         64.70588
4 69.47674                         68.55124
5 70.78652                         76.10063
6 73.42810                         72.06919

# Merging 2004 Age and Race Data

In [214]:
final_2004 <- merge(age_2004_final, race_2004_final, by = c("STATE", "Year"))

In [215]:
write.csv(final_2004, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2004.csv", row.names = FALSE)

# 2002 Data

## 2002 Race and Sex Data

In [216]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2002.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2002.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`

In [217]:
#Skipping comments in the original excel file
race_2002 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2002.csv", skip=5)

head(race_2002)

  NA.                 NA..1  Total  Percent.citizen    Confidence.interval
1 UNITED STATES           NA     NA NA                 NA
2 .Total              210421 192656 91.599999999999994 0.20000000000000001
3 .Male               100939  91644 90.799999999999997 0.29999999999999999
4 .Female             109481 101012 92.299999999999997 0.20000000000000001
5 .Non-Hispanic White 105499 147171 97.799999999999997 0.10000000000000001
6 .Non-Hispanic Black  23556  22289 94.599999999999994 0.5
  Total.1 Percent.registered..18.. Confidence.interval.1 Total.2
1 NA      NA                       NA                    NA
2 128154  60.899999999999999       0.29999999999999999   88903
3 59422   58.899999999999999       0.40000000000000002   41801
4 68732   62.799999999999997       0.40000000000000002   47102
5 102154  67.900000000000006       0.29999999999999999   72259
6 13976   59.299999999999997       1.1000000000000001    9522
  Percent.voted..18.. Confidence.interval.2
1 NA                  NA
2 42.299999999999997  0.29999999999999999
3 41.399999999999999  0.40000000000000002
4 43                  0.40000000000000002
5 48                  0.40000000000000002
6 40.399999999999999  1.1000000000000001

In [218]:
unique(race_2002[,1])

 [1] "UNITED STATES"
 [2] ".Total"
 [3] ".Male"
 [4] ".Female"
 [5] ".Non-Hispanic White"
 [6] ".Non-Hispanic Black"
 [7] ".Asian and Pacific Islander"
 [8] ".Hispanic (of any race)"
 [9] ".White"
[10] ".Black"
[11] "ALABAMA"
[12] "ALASKA"
[13] "ARIZONA"
[14] "ARKANSAS"
[15] "CALIFORNIA"
[16] "COLORADO"
[17] "CONNECTICUT"
[18] "DELAWARE"
[19] "DISTRICT OF COLUMBIA"
[20] "FLORIDA"
[21] "GEORGIA"
[22] "HAWAII"
[23] "IDAHO"
[24] "ILLINOIS"
[25] "INDIANA"
[26] "IOWA"
[27] "KANSAS"
[28] "KENTUCKY"
[29] "LOUISIANA"
[30] "MAINE"
[31] "MARYLAND"
[32] "MASSACHUSETTS"
[33] "MICHIGAN"
[34] "MINNESOTA"
[35] "MISSISSIPPI"
[36] "MISSOURI"
[37] "MONTANA"
[38] "NEBRASKA"
[39] "NEVADA"
[40] "NEW HAMPSHIRE"
[41] "NEW JERSEY"
[42] "NEW MEXICO"
[43] "NEW YORK"
[44] "NORTH CAROLINA"
[45] "NORTH DAKOTA"
[46] "OHIO"
[47] "OKLAHOMA"
[48] "OREGON"
[49] "PENNSYLVANIA"
[50] "RHODE ISLAND"
[51] "SOUTH CAROLINA"
[52] "SOUTH DAKOTA"
[53] "TENNESSEE"
[54] "TEXAS"
[55] "UTAH"
[56] "VERMONT"
[57] "VIRGINIA"
[58] "WASHINGTON"
[59] "WEST VIRGINIA"
[60] "WISCONSIN"
[61] "WYOMING"
[62] "Footnotes:"
[63] "Note: The symbol (B) means that the base is too small to show the derived measure."
[64] "Note: \" - \" Represents zero or rounds to zero."
[65] NA
[66] "Source: U.S. Census Bureau, Current Population Survey, November 2002."
[67] "Internet Release date:  July 28, 2004"

In [219]:
#Fixing the state column formatting because unlike other years 
excluded_strings <- c(".Total", ".Male", ".Female", ".White alone", "..White non-Hispanic alone",
                      ".Black alone", ".Asian alone", ".Hispanic (of any race)", 
                      ".White alone or in combination", ".Black alone or in combination", 
                      ".Asian alone or in combination", "..White non-Hispanic alone or in combination", ".Non-Hispanic White",
                     ".Asian and Pacific Islander", ".Non-Hispanic Black", ".White", ".Black")

#Keeping only states in the state column and moving that column first
race_2002$STATE <- ifelse(!(race_2002[,1] %in% excluded_strings), race_2002[,1], NA)
race_2002 <- race_2002[, c("STATE", setdiff(names(race_2002), "STATE"))]

#Creating the state titles 
race_2002$STATE <- na.locf(race_2002$STATE)
race_2002 <- race_2002[race_2002[,2] %in% excluded_strings, ]

# Remove periods from values in the second column
race_2002[,2] <- gsub("\\.", "", race_2002[,2])

In [220]:
#Checking that I captured all states
unique(race_2002[,1])

 [1] "UNITED STATES"        "ALABAMA"              "ALASKA"
 [4] "ARIZONA"              "ARKANSAS"             "CALIFORNIA"
 [7] "COLORADO"             "CONNECTICUT"          "DELAWARE"
[10] "DISTRICT OF COLUMBIA" "FLORIDA"              "GEORGIA"
[13] "HAWAII"               "IDAHO"                "ILLINOIS"
[16] "INDIANA"              "IOWA"                 "KANSAS"
[19] "KENTUCKY"             "LOUISIANA"            "MAINE"
[22] "MARYLAND"             "MASSACHUSETTS"        "MICHIGAN"
[25] "MINNESOTA"            "MISSISSIPPI"          "MISSOURI"
[28] "MONTANA"              "NEBRASKA"             "NEVADA"
[31] "NEW HAMPSHIRE"        "NEW JERSEY"           "NEW MEXICO"
[34] "NEW YORK"             "NORTH CAROLINA"       "NORTH DAKOTA"
[37] "OHIO"                 "OKLAHOMA"             "OREGON"
[40] "PENNSYLVANIA"         "RHODE ISLAND"         "SOUTH CAROLINA"
[43] "SOUTH DAKOTA"         "TENNESSEE"            "TEXAS"
[46] "UTAH"                 "VERMONT"              "VIRGINIA"
[49] "WASHINGTON"           "WEST VIRGINIA"        "WISCONSIN"
[52] "WYOMING"

In [221]:
head(race_2002, 20)

   STATE         NA.                        NA..1  Total  Percent.citizen
2  UNITED STATES Total                      210421 192656 91.599999999999994
3  UNITED STATES Male                       100939  91644 90.799999999999997
4  UNITED STATES Female                     109481 101012 92.299999999999997
5  UNITED STATES Non-Hispanic White         105499 147171 97.799999999999997
6  UNITED STATES Non-Hispanic Black          23556  22289 94.599999999999994
7  UNITED STATES Asian and Pacific Islander   9631   6008 62.399999999999999
8  UNITED STATES Hispanic (of any race)      25162  15601 62
9  UNITED STATES White                      174099 161694 92.900000000000006
10 UNITED STATES Black                       24445  22912 93.700000000000003
12 ALABAMA       Total                        3252   3215 98.900000000000006
13 ALABAMA       Male                         1520   1503 98.900000000000006
14 ALABAMA       Female                       1732   1712 98.799999999999997
15 ALABAMA       Non-Hispanic White           2421   2402 99.200000000000003
16 ALABAMA       Non-Hispanic Black            776    776 100
17 ALABAMA       Asian and Pacific Islander     23     18 (B)
18 ALABAMA       Hispanic (of any race)         30     17 (B)
19 ALABAMA       White                        2452   2419 98.700000000000003
20 ALABAMA       Black                         776    776 100
22 ALASKA        Total                         437    418 95.700000000000003
23 ALASKA        Male                          220    212 96.400000000000006
   Confidence.interval Total.1 Percent.registered..18.. Confidence.interval.1
2  0.20000000000000001 128154  60.899999999999999       0.29999999999999999
3  0.29999999999999999 59422   58.899999999999999       0.40000000000000002
4  0.20000000000000001 68732   62.799999999999997       0.40000000000000002
5  0.10000000000000001 102154  67.900000000000006       0.29999999999999999
6  0.5                 13976   59.299999999999997       1.1000000000000001
7  1.8                 2955    30.699999999999999       1.7
8  1.3999999999999999  8196    32.600000000000001       1.3
9  0.20000000000000001 109808  63.100000000000001       0.29999999999999999
10 0.5                 14304   58.5                     1.1000000000000001
12 0.5                 2347    72.200000000000003       2.2000000000000002
13 0.69999999999999996 1059    69.599999999999994       3.2000000000000002
14 0.69999999999999996 1288    74.400000000000006       2.8999999999999999
15 0.5                 1798    74.200000000000003       2.3999999999999999
16 -                   524     67.599999999999994       5.5999999999999996
17 (B)                 13      (B)                      (B)
18 (B)                 10      (B)                      (B)
19 0.59999999999999998 1807    73.700000000000003       2.3999999999999999
20 -                   524     67.599999999999994       5.5999999999999996
22 1                   303     69.400000000000006       2.2000000000000002
23 1.2                 152     69.200000000000003       3
   Total.2 Percent.voted..18.. Confidence.interval.2
2  88903   42.299999999999997  0.29999999999999999
3  41801   41.399999999999999  0.40000000000000002
4  47102   43                  0.40000000000000002
5  72259   48                  0.40000000000000002
6  9522    40.399999999999999  1.1000000000000001
7  1873    19.399999999999999  1.3999999999999999
8  4747    18.899999999999999  1.1000000000000001
9  76730   44.100000000000001  0.29999999999999999
10 9695    39.700000000000003  1.1000000000000001
12 1585    48.700000000000003  2.3999999999999999
13 755     49.700000000000003  3.5
14 829     47.899999999999999  3.2999999999999998
15 1242    51.299999999999997  2.7999999999999998
16 336     43.299999999999997  5.9000000000000004
17 6       (B)                 (B)
18 -       (B)                 (B)
19 1242    50.700000000000003  2.7999999999999998
20 336     43.299999999999997  5.9000000000000004
22 230     52.600000000000001  2.2999999999999998
23 111     50.700000000000003  3.2999999999999998

In [222]:
#Checking that I skipped correctly
tail(race_2002, 20)

    STATE         NA.                        NA..1 Total Percent.citizen
499 WEST VIRGINIA White                      1334  1331  99.799999999999997
500 WEST VIRGINIA Black                        34    33  (B)
502 WISCONSIN     Total                      4119  3975  96.5
503 WISCONSIN     Male                       2073  1992  96.099999999999994
504 WISCONSIN     Female                     2045  1982  96.900000000000006
505 WISCONSIN     Non-Hispanic White         3622  3610  99.700000000000003
506 WISCONSIN     Non-Hispanic Black          167   165  98.599999999999994
507 WISCONSIN     Asian and Pacific Islander   85    44  (B)
508 WISCONSIN     Hispanic (of any race)      201   113  56.200000000000003
509 WISCONSIN     White                      3801  3715  97.700000000000003
510 WISCONSIN     Black                       184   171  93.099999999999994
512 WYOMING       Total                       370   368  99.5
513 WYOMING       Male                        179   178  99.599999999999994
514 WYOMING       Female                      191   190  99.299999999999997
515 WYOMING       Non-Hispanic White          338   337  99.799999999999997
516 WYOMING       Non-Hispanic Black            3     3  (B)
517 WYOMING       Asian and Pacific Islander    2     2  (B)
518 WYOMING       Hispanic (of any race)       19    18  (B)
519 WYOMING       White                       356   354  99.400000000000006
520 WYOMING       Black                         3     3  (B)
    Confidence.interval Total.1 Percent.registered..18.. Confidence.interval.1
499 0.20000000000000001 810     60.799999999999997       2.2000000000000002
500 (B)                 15      (B)                      (B)
502 0.69999999999999996 2744    66.599999999999994       1.8999999999999999
503 1.1000000000000001  1360    65.599999999999994       2.7000000000000002
504 1                   1383    67.599999999999994       2.6000000000000001
505 0.20000000000000001 2650    70.700000000000003       1.8999999999999999
506 2.7999999999999998  95      56.799999999999997       11.9
507 (B)                 22      (B)                      (B)
508 14.1                51      25.300000000000001       12.300000000000001
509 0.59999999999999998 2605    68.5                     1.8999999999999999
510 5.7999999999999998  101     54.899999999999999       11.4
512 0.29999999999999999 240     64.900000000000006       2.2000000000000002
513 0.40000000000000002 113     63.100000000000001       3.2000000000000002
514 0.5                 127     66.599999999999994       3
515 0.20000000000000001 225     66.700000000000003       2.2999999999999998
516 (B)                 -       (B)                      (B)
517 (B)                 -       (B)                      (B)
518 (B)                 10      (B)                      (B)
519 0.40000000000000002 234     65.599999999999994       2.2000000000000002
520 (B)                 -       (B)                      (B)
    Total.2 Percent.voted..18.. Confidence.interval.2
499 495     37.100000000000001  2.2000000000000002
500 10      (B)                 (B)
502 1999    48.5                2
503 1005    48.5                2.7999999999999998
504 994     48.600000000000001  2.7999999999999998
505 1887    52.100000000000001  2.1000000000000001
506 68      40.600000000000001  11.699999999999999
507 13      (B)                 (B)
508 20      10                  8.5
509 1905    50.100000000000001  2.1000000000000001
510 70      38.299999999999997  11.1
512 198     53.600000000000001  2.2999999999999998
513 92      51.5                3.2999999999999998
514 106     55.600000000000001  3.2000000000000002
515 188     55.600000000000001  2.3999999999999999
516 -       (B)                 (B)
517 -       (B)                 (B)
518 7       (B)                 (B)
519 195     54.600000000000001  2.3999999999999999
520 -       (B)                 (B)

In [223]:
ncol(race_2002)

[1] 12

In [224]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Percent Citizen Population",
               "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                "Margin of error for percent registered total", "Total voted", "Percent voted (Total)", 
               "Margin of error percent voted total")
colnames(race_2002) <- col_names

In [225]:
#Creating the year variable
race_2002$Year <- 2002

In [226]:
head(race_2002, 30)

   STATE         Sex, Race, and Hispanic-Origin Total population
2  UNITED STATES Total                          210421
3  UNITED STATES Male                           100939
4  UNITED STATES Female                         109481
5  UNITED STATES Non-Hispanic White             105499
6  UNITED STATES Non-Hispanic Black              23556
7  UNITED STATES Asian and Pacific Islander       9631
8  UNITED STATES Hispanic (of any race)          25162
9  UNITED STATES White                          174099
10 UNITED STATES Black                           24445
12 ALABAMA       Total                            3252
13 ALABAMA       Male                             1520
14 ALABAMA       Female                           1732
15 ALABAMA       Non-Hispanic White               2421
16 ALABAMA       Non-Hispanic Black                776
17 ALABAMA       Asian and Pacific Islander         23
18 ALABAMA       Hispanic (of any race)             30
19 ALABAMA       White                            2452
20 ALABAMA       Black                             776
22 ALASKA        Total                             437
23 ALASKA        Male                              220
24 ALASKA        Female                            217
25 ALASKA        Non-Hispanic White                318
26 ALASKA        Non-Hispanic Black                 10
27 ALASKA        Asian and Pacific Islander         28
28 ALASKA        Hispanic (of any race)             20
29 ALASKA        White                             333
30 ALASKA        Black                              13
32 ARIZONA       Total                            3800
33 ARIZONA       Male                             1937
34 ARIZONA       Female                           1863
   Total citizen population Percent Citizen Population
2  192656                   91.599999999999994
3   91644                   90.799999999999997
4  101012                   92.299999999999997
5  147171                   97.799999999999997
6   22289                   94.599999999999994
7    6008                   62.399999999999999
8   15601                   62
9  161694                   92.900000000000006
10  22912                   93.700000000000003
12   3215                   98.900000000000006
13   1503                   98.900000000000006
14   1712                   98.799999999999997
15   2402                   99.200000000000003
16    776                   100
17     18                   (B)
18     17                   (B)
19   2419                   98.700000000000003
20    776                   100
22    418                   95.700000000000003
23    212                   96.400000000000006
24    206                   94.900000000000006
25    313                   98.400000000000006
26     10                   (B)
27     20                   (B)
28     15                   (B)
29    325                   97.700000000000003
30     11                   (B)
32   3293                   86.599999999999994
33   1654                   85.400000000000006
34   1638                   87.900000000000006
   Margin of error percent citizen Total registered Percent registered (Total)
2  0.20000000000000001             128154           60.899999999999999
3  0.29999999999999999             59422            58.899999999999999
4  0.20000000000000001             68732            62.799999999999997
5  0.10000000000000001             102154           67.900000000000006
6  0.5                             13976            59.299999999999997
7  1.8                             2955             30.699999999999999
8  1.3999999999999999              8196             32.600000000000001
9  0.20000000000000001             109808           63.100000000000001
10 0.5                             14304            58.5
12 0.5                             2347             72.200000000000003
13 0.69999999999999996             1059             69.599999999999994
14 0.69999999999999996             1288             74.400000000000006
15 0.5                             1798             74.200000000000003
16 -                               524              67.599999999999994
17 (B)                             13               (B)
18 (B)                             10               (B)
19 0.59999999999999998             1807             73.700000000000003
20 -                               524              67.599999999999994
22 1                               303              69.400000000000006
23 1.2                             152              69.200000000000003
24 1.5                             151              69.599999999999994
25 0.69999999999999996             237              74.599999999999994
26 (B)                             4                (B)
27 (B)                             12               (B)
28 (B)                             11               (B)
29 0.80000000000000004             246              73.900000000000006
30 (B)                             5                (B)
32 1.7                             1930             50.799999999999997
33 2.3999999999999999              959              49.5
34 2.2999999999999998              971              52.100000000000001
   Margin of error for percent registered total Total voted
2  0.29999999999999999                          88903
3  0.40000000000000002                          41801
4  0.40000000000000002                          47102
5  0.29999999999999999                          72259
6  1.1000000000000001                           9522
7  1.7                                          1873
8  1.3                                          4747
9  0.29999999999999999                          76730
10 1.1000000000000001                           9695
12 2.2000000000000002                           1585
13 3.2000000000000002                           755
14 2.8999999999999999                           829
15 2.3999999999999999                           1242
16 5.5999999999999996                           336
17 (B)                                          6
18 (B)                                          -
19 2.3999999999999999                           1242
20 5.5999999999999996                           336
22 2.2000000000000002                           230
23 3                                            111
24 3.1000000000000001                           118
25 2.3999999999999999                           184
26 (B)                                          3
27 (B)                                          8
28 (B)                                          8
29 2.3999999999999999                           190
30 (B)                                          3
32 2.5                                          1397
33 3.3999999999999999                           692
34 3.5                                          706
   Percent voted (Total) Margin of error percent voted total Year
2  42.299999999999997    0.29999999999999999                 2002
3  41.399999999999999    0.40000000000000002                 2002
4  43                    0.40000000000000002                 2002
5  48                    0.40000000000000002                 2002
6  40.399999999999999    1.1000000000000001                  2002
7  19.399999999999999    1.3999999999999999                  2002
8  18.899999999999999    1.1000000000000001                  2002
9  44.100000000000001    0.29999999999999999                 2002
10 39.700000000000003    1.1000000000000001                  2002
12 48.700000000000003    2.3999999999999999                  2002
13 49.700000000000003    3.5                                 2002
14 47.899999999999999    3.2999999999999998                  2002
15 51.299999999999997    2.7999999999999998                  2002
16 43.299999999999997    5.9000000000000004                  2002
17 (B)                   (B)                                 2002
18 (B)                   (B)                                 2002
19 50.700000000000003    2.7999999999999998                  2002
20 43.299999999999997    5.9000000000000004                  2002
22 52.600000000000001    2.2999999999999998                  2002
23 50.700000000000003    3.2999999999999998                  2002
24 54.5                  3.2999999999999998                  2002
25 57.799999999999997    2.7000000000000002                  2002
26 (B)                   (B)                                 2002
27 (B)                   (B)                                 2002
28 (B)                   (B)                                 2002
29 57.100000000000001    2.6000000000000001                  2002
30 (B)                   (B)                                 2002
32 36.799999999999997    2.3999999999999999                  2002
33 35.700000000000003    3.2999999999999998                  2002
34 37.899999999999999    3.3999999999999999                  2002

In [227]:
#Changing the '-' entries to 0, as they signify
race_2002[race_2002 == '-'] <- 0

In [228]:
#Converting columns to numerics
race_2002$`Total registered` <- as.numeric(race_2002$`Total registered`)
race_2002$`Total voted` <- as.numeric(race_2002$`Total voted`)

In [229]:
#Recalculating the percents to get rid of the "B's"
race_2002$`Percent registered (Total)` <- ifelse(race_2002$`Total population` != 0,
                                                 100*race_2002$`Total registered` / race_2002$`Total population`,
                                                 0)

race_2002$`Percent registered (Citizen)` <- ifelse(race_2002$`Total citizen population` != 0,
                                                 100*race_2002$`Total registered` / race_2002$`Total citizen population`,
                                                 0)

race_2002$`Percent voted (Total)` <- ifelse(race_2002$`Total population` != 0,
                                                 100*race_2002$`Total voted` / race_2002$`Total population`,
                                                 0)

race_2002$`Percent voted (Citizen)` <- ifelse(race_2002$`Total citizen population` != 0,
                                                 100*race_2002$`Total voted` / race_2002$`Total citizen population`,
                                                 0)

In [230]:
race_2002_final <- pivot_wider(race_2002, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", "Percent Citizen Population",
                                           "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                                            "Margin of error for percent registered total", "Percent registered (Citizen)",
                                          "Total voted", "Percent voted (Total)", 
                                           "Margin of error percent voted total", "Percent voted (Citizen)"))

In [231]:
head(race_2002_final)

  STATE         Year Total population_Total Total population_Male
1 UNITED STATES 2002 210421                 100939
2 ALABAMA       2002   3252                   1520
3 ALASKA        2002    437                    220
4 ARIZONA       2002   3800                   1937
5 ARKANSAS      2002   1960                    921
6 CALIFORNIA    2002  24405                  11962
  Total population_Female Total population_Non-Hispanic White
1 109481                  105499
2   1732                    2421
3    217                     318
4   1863                    2551
5   1038                    1556
6  12443                   12484
  Total population_Non-Hispanic Black
1 23556
2   776
3    10
4    94
5   288
6  1434
  Total population_Asian and Pacific Islander
1 9631
2   23
3   28
4  141
5   13
6 3306
  Total population_Hispanic (of any race) Total population_White ⋯
1 25162                                   174099                 ⋯
2    30                                     2452                 ⋯
3    20                                      333                 ⋯
4   940                                     3473                 ⋯
5    82                                     1629                 ⋯
6  6964                                    19185                 ⋯
  Margin of error percent voted total_Black Percent voted (Citizen)_Total
1 1.1000000000000001                        46.14598
2 5.9000000000000004                        49.30016
3 (B)                                       55.02392
4 17.800000000000001                        42.42332
5 7.9000000000000004                        46.27410
6 5.2000000000000002                        42.53640
  Percent voted (Citizen)_Male Percent voted (Citizen)_Female
1 45.61237                     46.63010
2 50.23287                     48.42290
3 52.35849                     57.28155
4 41.83797                     43.10134
5 44.79283                     47.46589
6 41.44427                     43.58085
  Percent voted (Citizen)_Non-Hispanic White
1 49.09867
2 51.70691
3 58.78594
4 46.23699
5 47.42600
6 49.14641
  Percent voted (Citizen)_Non-Hispanic Black
1 42.72062
2 43.29897
3 30.00000
4 43.33333
5 45.13889
6 38.21839
  Percent voted (Citizen)_Asian and Pacific Islander
1 31.17510
2 33.33333
3 40.00000
4 24.24242
5  0.00000
6 33.47145
  Percent voted (Citizen)_Hispanic (of any race) Percent voted (Citizen)_White
1 30.42754                                       47.45383
2  0.00000                                       51.34353
3 53.33333                                       58.46154
4 29.13534                                       43.33554
5 34.09091                                       47.17691
6 30.34726                                       44.74726
  Percent voted (Citizen)_Black
1 42.31407
2 43.29897
3 27.27273
4 41.83673
5 44.82759
6 38.12500

## 2002 Age Data

In [232]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2002.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2002.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`

In [233]:
#Skipping comments in the original excel file
age_2002 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2002.csv", skip=5)
head(age_2002, 30)

   NA.           NA..1  Total  Percent.citizen    Confidence.interval Total.1
1  UNITED STATES     NA     NA NA                 NA                      NA
2  .Total        210421 192656 91.599999999999994 0.20000000000000001 128154
3  .18 to 24      27377  24335 88.900000000000006 0.5                  10470
4  .25 to 44      82228  72094 87.700000000000003 0.29999999999999999  45553
5  .45 to 64      66924  63272 94.5               0.20000000000000001  46430
6  .65 to 74      17967  17415 96.900000000000006 0.40000000000000002  13681
7  .75+           15925  15540 97.599999999999994 0.29999999999999999  12020
8  ALABAMA           NA     NA NA                 NA                      NA
9  .Total          3252   3215 98.900000000000006 0.5                   2347
10 .18 to 24        396    385 97.299999999999997 2.2000000000000002     205
11 .25 to 44       1209   1192 98.599999999999994 0.90000000000000002    846
12 .45 to 64       1115   1108 99.299999999999997 0.69999999999999996    849
13 .65 to 74        291    290 99.400000000000006 1.2                    248
14 .75+             241    241 100                -                      199
15 ALASKA            NA     NA NA                 NA                      NA
16 .Total           437    418 95.700000000000003 1                      303
17 .18 to 24         56     51 (B)                (B)                     24
18 .25 to 44        180    171 95.299999999999997 1.5                    119
19 .45 to 64        162    157 97                 1.3                    133
20 .65 to 74         25     24 (B)                (B)                     16
21 .75+              13     13 (B)                (B)                     10
22 ARIZONA           NA     NA NA                 NA                      NA
23 .Total          3800   3293 86.599999999999994 1.7                   1930
24 .18 to 24        545    439 80.599999999999994 5.0999999999999996     129
25 .25 to 44       1599   1314 82.200000000000003 2.8999999999999999     693
26 .45 to 64       1080    987 91.400000000000006 2.6000000000000001     674
27 .65 to 74        288    269 93.5               4.4000000000000004     208
28 .75+             288    283 98.200000000000003 2.3999999999999999     227
29 ARKANSAS          NA     NA NA                 NA                      NA
30 .Total          1960   1919 98                 0.69999999999999996   1222
   Percent.registered..18.. Confidence.interval.1 Total.2 Percent.voted..18..
1  NA                       NA                       NA   NA
2  60.899999999999999       0.29999999999999999   88903   42.299999999999997
3  38.200000000000003       0.80000000000000004    4697   17.199999999999999
4  55.399999999999999       0.5                   28019   34.100000000000001
5  69.400000000000006       0.5                   35521   53.100000000000001
6  76.099999999999994       0.90000000000000002   11339   63.100000000000001
7  75.5                     1                      9328   58.600000000000001
8  NA                       NA                       NA   NA
9  72.200000000000003       2.2000000000000002     1585   48.700000000000003
10 51.799999999999997       6.9000000000000004      102   25.699999999999999
11 70                       3.6000000000000001      559   46.200000000000003
12 76.200000000000003       3.5                     626   56.100000000000001
13 85                       5.7000000000000002      174   59.700000000000003
14 82.599999999999994       6.7000000000000002      124   51.600000000000001
15 NA                       NA                       NA   NA
16 69.400000000000006       2.2000000000000002      230   52.600000000000001
17 (B)                      (B)                      14   (B)
18 66.200000000000003       3.3999999999999999       79   44
19 81.700000000000003       3                       112   69.200000000000003
20 (B)                      (B)                      15   (B)
21 (B)                      (B)                       8   (B)
22 NA                       NA                       NA   NA
23 50.799999999999997       2.5                    1397   36.799999999999997
24 23.600000000000001       5.5                      48   8.9000000000000004
25 43.299999999999997       3.7999999999999998      445   27.800000000000001
26 62.299999999999997       4.5                     530   49.100000000000001
27 72.400000000000006       8                       186   64.700000000000003
28 78.700000000000003       7.2999999999999998      188   65.099999999999994
29 NA                       NA                       NA   NA
30 62.399999999999999       2.5                     888   45.299999999999997
   Confidence.interval.2
1  NA
2  0.29999999999999999
3  0.59999999999999998
4  0.5
5  0.5
6  1
7  1.1000000000000001
8  NA
9  2.3999999999999999
10 6
11 3.8999999999999999
12 4.0999999999999996
13 7.9000000000000004
14 8.8000000000000007
15 NA
16 2.2999999999999998
17 (B)
18 3.6000000000000001
19 3.5
20 (B)
21 (B)
22 NA
23 2.3999999999999999
24 3.7000000000000002
25 3.3999999999999999
26 4.5999999999999996
27 8.5
28 8.5
29 NA
30 2.5

In [234]:
#Fixing the state column formatting because unlike other years 
excluded_strings_1 <- c(".Total", ".18 to 24", ".25 to 34", ".35 to 44", ".45 to 54", ".55 to 64", ".65 to 74", ".75+", ".45 to 64", ".25 to 44", ".18 to 44", ".65+")

#Keeping only state names and moving the state column first
age_2002$STATE <- ifelse(!(age_2002[,1] %in% excluded_strings_1), age_2002[,1], NA)
age_2002 <- age_2002[, c("STATE", setdiff(names(age_2002), "STATE"))]

#Creating the state titles
age_2002$STATE <- na.locf(age_2002$STATE)

#Delete rows where all values are none
age_2002 <- age_2002[age_2002[,2] %in% excluded_strings_1, ]

# Remove periods from values in the second column
age_2002[,2] <- gsub("\\.", "", age_2002[,2])

In [235]:
head(age_2002, 20)

   STATE         NA.      NA..1  Total  Percent.citizen    Confidence.interval
2  UNITED STATES Total    210421 192656 91.599999999999994 0.20000000000000001
3  UNITED STATES 18 to 24  27377  24335 88.900000000000006 0.5
4  UNITED STATES 25 to 44  82228  72094 87.700000000000003 0.29999999999999999
5  UNITED STATES 45 to 64  66924  63272 94.5               0.20000000000000001
6  UNITED STATES 65 to 74  17967  17415 96.900000000000006 0.40000000000000002
7  UNITED STATES 75+       15925  15540 97.599999999999994 0.29999999999999999
9  ALABAMA       Total      3252   3215 98.900000000000006 0.5
10 ALABAMA       18 to 24    396    385 97.299999999999997 2.2000000000000002
11 ALABAMA       25 to 44   1209   1192 98.599999999999994 0.90000000000000002
12 ALABAMA       45 to 64   1115   1108 99.299999999999997 0.69999999999999996
13 ALABAMA       65 to 74    291    290 99.400000000000006 1.2
14 ALABAMA       75+         241    241 100                -
16 ALASKA        Total       437    418 95.700000000000003 1
17 ALASKA        18 to 24     56     51 (B)                (B)
18 ALASKA        25 to 44    180    171 95.299999999999997 1.5
19 ALASKA        45 to 64    162    157 97                 1.3
20 ALASKA        65 to 74     25     24 (B)                (B)
21 ALASKA        75+          13     13 (B)                (B)
23 ARIZONA       Total      3800   3293 86.599999999999994 1.7
24 ARIZONA       18 to 24    545    439 80.599999999999994 5.0999999999999996
   Total.1 Percent.registered..18.. Confidence.interval.1 Total.2
2  128154  60.899999999999999       0.29999999999999999   88903
3   10470  38.200000000000003       0.80000000000000004    4697
4   45553  55.399999999999999       0.5                   28019
5   46430  69.400000000000006       0.5                   35521
6   13681  76.099999999999994       0.90000000000000002   11339
7   12020  75.5                     1                      9328
9    2347  72.200000000000003       2.2000000000000002     1585
10    205  51.799999999999997       6.9000000000000004      102
11    846  70                       3.6000000000000001      559
12    849  76.200000000000003       3.5                     626
13    248  85                       5.7000000000000002      174
14    199  82.599999999999994       6.7000000000000002      124
16    303  69.400000000000006       2.2000000000000002      230
17     24  (B)                      (B)                      14
18    119  66.200000000000003       3.3999999999999999       79
19    133  81.700000000000003       3                       112
20     16  (B)                      (B)                      15
21     10  (B)                      (B)                       8
23   1930  50.799999999999997       2.5                    1397
24    129  23.600000000000001       5.5                      48
   Percent.voted..18.. Confidence.interval.2
2  42.299999999999997  0.29999999999999999
3  17.199999999999999  0.59999999999999998
4  34.100000000000001  0.5
5  53.100000000000001  0.5
6  63.100000000000001  1
7  58.600000000000001  1.1000000000000001
9  48.700000000000003  2.3999999999999999
10 25.699999999999999  6
11 46.200000000000003  3.8999999999999999
12 56.100000000000001  4.0999999999999996
13 59.700000000000003  7.9000000000000004
14 51.600000000000001  8.8000000000000007
16 52.600000000000001  2.2999999999999998
17 (B)                 (B)
18 44                  3.6000000000000001
19 69.200000000000003  3.5
20 (B)                 (B)
21 (B)                 (B)
23 36.799999999999997  2.3999999999999999
24 8.9000000000000004  3.7000000000000002

In [236]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Percent Citizen Population",
               "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                "Margin of error for percent registered total", "Total voted", "Percent voted (Total)", 
               "Margin of error percent voted total")
colnames(age_2002) <- col_names

In [237]:
head(age_2002)

  STATE         Age      Total population Total citizen population
2 UNITED STATES Total    210421           192656
3 UNITED STATES 18 to 24  27377            24335
4 UNITED STATES 25 to 44  82228            72094
5 UNITED STATES 45 to 64  66924            63272
6 UNITED STATES 65 to 74  17967            17415
7 UNITED STATES 75+       15925            15540
  Percent Citizen Population Margin of error percent citizen Total registered
2 91.599999999999994         0.20000000000000001             128154
3 88.900000000000006         0.5                              10470
4 87.700000000000003         0.29999999999999999              45553
5 94.5                       0.20000000000000001              46430
6 96.900000000000006         0.40000000000000002              13681
7 97.599999999999994         0.29999999999999999              12020
  Percent registered (Total) Margin of error for percent registered total
2 60.899999999999999         0.29999999999999999
3 38.200000000000003         0.80000000000000004
4 55.399999999999999         0.5
5 69.400000000000006         0.5
6 76.099999999999994         0.90000000000000002
7 75.5                       1
  Total voted Percent voted (Total) Margin of error percent voted total
2 88903       42.299999999999997    0.29999999999999999
3  4697       17.199999999999999    0.59999999999999998
4 28019       34.100000000000001    0.5
5 35521       53.100000000000001    0.5
6 11339       63.100000000000001    1
7  9328       58.600000000000001    1.1000000000000001

In [238]:
#Creating the year variable
age_2002$Year <- 2002

#Getting rid of the total row since it is already in the race data and is identical
age_2002 <- age_2002[age_2002$Age != "Total", ]
head(age_2002,20)

   STATE         Age      Total population Total citizen population
3  UNITED STATES 18 to 24 27377            24335
4  UNITED STATES 25 to 44 82228            72094
5  UNITED STATES 45 to 64 66924            63272
6  UNITED STATES 65 to 74 17967            17415
7  UNITED STATES 75+      15925            15540
10 ALABAMA       18 to 24   396              385
11 ALABAMA       25 to 44  1209             1192
12 ALABAMA       45 to 64  1115             1108
13 ALABAMA       65 to 74   291              290
14 ALABAMA       75+        241              241
17 ALASKA        18 to 24    56               51
18 ALASKA        25 to 44   180              171
19 ALASKA        45 to 64   162              157
20 ALASKA        65 to 74    25               24
21 ALASKA        75+         13               13
24 ARIZONA       18 to 24   545              439
25 ARIZONA       25 to 44  1599             1314
26 ARIZONA       45 to 64  1080              987
27 ARIZONA       65 to 74   288              269
28 ARIZONA       75+        288              283
   Percent Citizen Population Margin of error percent citizen Total registered
3  88.900000000000006         0.5                             10470
4  87.700000000000003         0.29999999999999999             45553
5  94.5                       0.20000000000000001             46430
6  96.900000000000006         0.40000000000000002             13681
7  97.599999999999994         0.29999999999999999             12020
10 97.299999999999997         2.2000000000000002                205
11 98.599999999999994         0.90000000000000002               846
12 99.299999999999997         0.69999999999999996               849
13 99.400000000000006         1.2                               248
14 100                        -                                 199
17 (B)                        (B)                                24
18 95.299999999999997         1.5                               119
19 97                         1.3                               133
20 (B)                        (B)                                16
21 (B)                        (B)                                10
24 80.599999999999994         5.0999999999999996                129
25 82.200000000000003         2.8999999999999999                693
26 91.400000000000006         2.6000000000000001                674
27 93.5                       4.4000000000000004                208
28 98.200000000000003         2.3999999999999999                227
   Percent registered (Total) Margin of error for percent registered total
3  38.200000000000003         0.80000000000000004
4  55.399999999999999         0.5
5  69.400000000000006         0.5
6  76.099999999999994         0.90000000000000002
7  75.5                       1
10 51.799999999999997         6.9000000000000004
11 70                         3.6000000000000001
12 76.200000000000003         3.5
13 85                         5.7000000000000002
14 82.599999999999994         6.7000000000000002
17 (B)                        (B)
18 66.200000000000003         3.3999999999999999
19 81.700000000000003         3
20 (B)                        (B)
21 (B)                        (B)
24 23.600000000000001         5.5
25 43.299999999999997         3.7999999999999998
26 62.299999999999997         4.5
27 72.400000000000006         8
28 78.700000000000003         7.2999999999999998
   Total voted Percent voted (Total) Margin of error percent voted total Year
3   4697       17.199999999999999    0.59999999999999998                 2002
4  28019       34.100000000000001    0.5                                 2002
5  35521       53.100000000000001    0.5                                 2002
6  11339       63.100000000000001    1                                   2002
7   9328       58.600000000000001    1.1000000000000001                  2002
10   102       25.699999999999999    6                                   2002
11   559       46.200000000000003    3.8999999999999999                  2002
12   626       56.100000000000001    4.0999999999999996                  2002
13   174       59.700000000000003    7.9000000000000004                  2002
14   124       51.600000000000001    8.8000000000000007                  2002
17    14       (B)                   (B)                                 2002
18    79       44                    3.6000000000000001                  2002
19   112       69.200000000000003    3.5                                 2002
20    15       (B)                   (B)                                 2002
21     8       (B)                   (B)                                 2002
24    48       8.9000000000000004    3.7000000000000002                  2002
25   445       27.800000000000001    3.3999999999999999                  2002
26   530       49.100000000000001    4.5999999999999996                  2002
27   186       64.700000000000003    8.5                                 2002
28   188       65.099999999999994    8.5                                 2002

In [239]:
#Changing the '-' entries to 0, as they signify
age_2002[age_2002 == '-'] <- 0

In [240]:
#Recalculating the percents to get rid of the "B's"
age_2002$`Percent registered (Total)` <- ifelse(age_2002$`Total population` != 0,
                                                 100*age_2002$`Total registered` / age_2002$`Total population`,
                                                 0)

age_2002$`Percent registered (Citizen)` <- ifelse(age_2002$`Total citizen population` != 0,
                                                 100*age_2002$`Total registered` / age_2002$`Total citizen population`,
                                                 0)

age_2002$`Percent voted (Total)` <- ifelse(age_2002$`Total population` != 0,
                                                 100*age_2002$`Total voted` / age_2002$`Total population`,
                                                 0)

age_2002$`Percent voted (Citizen)` <- ifelse(age_2002$`Total citizen population` != 0,
                                                 100*age_2002$`Total voted` / age_2002$`Total citizen population`,
                                                 0)

In [241]:
#Pivoting to the desired format
age_2002_final <- pivot_wider(age_2002, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", "Percent Citizen Population",
                                           "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                                            "Margin of error for percent registered total", "Percent registered (Citizen)",
                                          "Total voted", "Percent voted (Total)", 
                                           "Margin of error percent voted total", "Percent voted (Citizen)"))

In [242]:
head(age_2002_final)
tail(race_2002_final)

  STATE         Year Total population_18 to 24 Total population_25 to 44
1 UNITED STATES 2002 27377                     82228
2 ALABAMA       2002   396                      1209
3 ALASKA        2002    56                       180
4 ARIZONA       2002   545                      1599
5 ARKANSAS      2002   223                       688
6 CALIFORNIA    2002  3566                     10271
  Total population_45 to 64 Total population_65 to 74 Total population_75+
1 66924                     17967                     15925
2  1115                       291                       241
3   162                        25                        13
4  1080                       288                       288
5   647                       206                       196
6  7417                      1551                      1600
  Total citizen population_18 to 24 Total citizen population_25 to 44
1 24335                             72094
2   385                              1192
3    51                               171
4   439                              1314
5   206                               667
6  2801                              7601
  Total citizen population_45 to 64 ⋯
1 63272                             ⋯
2  1108                             ⋯
3   157                             ⋯
4   987                             ⋯
5   645                             ⋯
6  6358                             ⋯
  Margin of error percent voted total_18 to 24
1 0.59999999999999998
2 6
3 (B)
4 3.7000000000000002
5 5.0999999999999996
6 2
  Margin of error percent voted total_25 to 44
1 0.5
2 3.8999999999999999
3 3.6000000000000001
4 3.3999999999999999
5 4.2000000000000002
6 1.5
  Margin of error percent voted total_45 to 64
1 0.5
2 4.0999999999999996
3 3.5
4 4.5999999999999996
5 4.4000000000000004
6 2
  Margin of error percent voted total_65 to 74
1 1
2 7.9000000000000004
3 (B)
4 8.5
5 7.5
6 4.2999999999999998
  Margin of error percent voted total_75+ Percent voted (Citizen)_18 to 24
1 1.1000000000000001                      19.30142
2 8.8000000000000007                      26.49351
3 (B)                                     27.45098
4 8.5                                     10.93394
5 8                                       14.07767
6 4.2000000000000002                      18.77901
  Percent voted (Citizen)_25 to 44 Percent voted (Citizen)_45 to 64
1 38.86454                         56.14016
2 46.89597                         56.49819
3 46.19883                         71.33758
4 33.86606                         53.69807
5 38.98051                         55.50388
6 36.19261                         50.67631
  Percent voted (Citizen)_65 to 74 Percent voted (Citizen)_75+
1 65.11054                         60.02574
2 60.00000                         51.45228
3 62.50000                         61.53846
4 69.14498                         66.43110
5 65.53398                         54.08163
6 63.12810                         65.62287

  STATE         Year Total population_Total Total population_Male
1 VERMONT       2002  490                    234
2 VIRGINIA      2002 5194                   2489
3 WASHINGTON    2002 4456                   2184
4 WEST VIRGINIA 2002 1379                    654
5 WISCONSIN     2002 4119                   2073
6 WYOMING       2002  370                    179
  Total population_Female Total population_Non-Hispanic White
1  255                     480
2 2705                    3624
3 2272                    3702
4  724                    1325
5 2045                    3622
6  191                     338
  Total population_Non-Hispanic Black
1    2
2 1046
3  111
4   34
5  167
6    3
  Total population_Asian and Pacific Islander
1   3
2 306
3 321
4   6
5  85
6   2
  Total population_Hispanic (of any race) Total population_White ⋯
1   2                                      482                   ⋯
2 207                                     3799                   ⋯
3 244                                     3926                   ⋯
4   8                                     1334                   ⋯
5 201                                     3801                   ⋯
6  19                                      356                   ⋯
  Margin of error percent voted total_Black Percent voted (Citizen)_Total
1 (B)                                       53.00207
2 5.4000000000000004                        37.21696
3 16.899999999999999                        50.72569
4 (B)                                       36.95335
5 11.1                                      50.28931
6 (B)                                       53.80435
  Percent voted (Citizen)_Male Percent voted (Citizen)_Female
1 50.21645                     55.55556
2 39.04228                     35.51181
3 49.18599                     52.15947
4 38.24885                     35.59557
5 50.45181                     50.15136
6 51.68539                     55.78947
  Percent voted (Citizen)_Non-Hispanic White
1 52.95359
2 40.25828
3 53.44353
4 37.21634
5 52.27147
6 55.78635
  Percent voted (Citizen)_Non-Hispanic Black
1 50.00000
2 28.24579
3 43.24324
4 30.30303
5 41.21212
6  0.00000
  Percent voted (Citizen)_Asian and Pacific Islander
1  0.00000
2 33.87097
3 30.97826
4  0.00000
5 29.54545
6  0.00000
  Percent voted (Citizen)_Hispanic (of any race) Percent voted (Citizen)_White
1 50.00000                                       52.83019
2 16.09195                                       39.61952
3 25.37313                                       52.62597
4 37.50000                                       37.19008
5 17.69912                                       51.27860
6 38.88889                                       55.08475
  Percent voted (Citizen)_Black
1 50.00000
2 28.15249
3 43.24324
4 30.30303
5 40.93567
6  0.00000

# Merging 2002 Age and Race Data

In [243]:
final_2002 <- merge(age_2002_final, race_2002_final, by = c("STATE", "Year"))

In [244]:
write.csv(final_2002, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2002.csv", row.names = FALSE)

# 2000 Data

## 2000 Race and Sex Data

In [245]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2000.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2000.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`

In [246]:
#Skipping comments in the original excel file
race_2000 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04a_2000.csv", skip=9)

race_2000 <- race_2000[-(469:nrow(race_2000)), ]

tail(race_2000, 20)

    NA.       NA..1     NA..2 NA..3 NA..4              NA..5
449 NA        White     1355  1349  99.599999999999994 0.29999999999999999
450 NA        Black     45    45    (B)                (B)
451 WISCONSIN Total     3884  3755  96.700000000000003 0.90000000000000002
452 NA        Male      1912  1822  95.299999999999997 1.6000000000000001
453 NA        Female    1972  1932  98                 1
454 NA        N-H White 3503  3471  99.099999999999994 0.5
455 NA        N-H Black 147   139   94.5               7.5
456 NA        API       48    39    (B)                (B)
457 NA        Hispanic  159   78    48.799999999999997 20.5
458 NA        White     3653  3543  97                 0.90000000000000002
459 NA        Black     147   139   94.5               7.5
460 WYOMING   Total     350   348   99.299999999999997 0.40000000000000002
461 NA        Male      176   175   99.400000000000006 0.59999999999999998
462 NA        Female    175   173   99.200000000000003 0.69999999999999996
463 NA        N-H White 324   324   99.900000000000006 0.20000000000000001
464 NA        N-H Black 1     1     (B)                (B)
465 NA        API       -     -     (B)                (B)
466 NA        Hispanic  19    17    (B)                (B)
467 NA        White     342   340   99.5               0.40000000000000002
468 NA        Black     1     1     (B)                (B)
    NA..6 NA..7              NA..8              NA..9 NA..10
449 857   63.200000000000003 2.3999999999999999 709   52.299999999999997
450 29    (B)                (B)                22    (B)
451 2970  76.5               2.2000000000000002 2632  67.799999999999997
452 1420  74.299999999999997 3.2999999999999998 1266  66.200000000000003
453 1551  78.599999999999994 3                  1367  69.299999999999997
454 2784  79.5               2.2999999999999998 2469  70.5
455 105   71.5               14.9               91    62
456 30    (B)                (B)                30    (B)
457 34    21.600000000000001 16.899999999999999 31    19.399999999999999
458 2815  77.099999999999994 2.2999999999999998 2496  68.299999999999997
459 105   71.5               14.9               91    62
460 240   68.599999999999994 2.5                219   62.5
461 118   67.400000000000006 3.6000000000000001 105   59.700000000000003
462 122   69.799999999999997 3.6000000000000001 114   65.200000000000003
463 228   70.200000000000003 2.6000000000000001 211   64.900000000000006
464 1     (B)                (B)                1     (B)
465 -     (B)                (B)                -     (B)
466 9     (B)                (B)                6     (B)
467 236   69.099999999999994 2.6000000000000001 217   63.399999999999999
468 1     (B)                (B)                1     (B)
    NA..11
449 2.5
450 (B)
451 2.5
452 3.6000000000000001
453 3.3999999999999999
454 2.5
455 16
456 (B)
457 16.199999999999999
458 2.5
459 16
460 2.6000000000000001
461 3.7999999999999998
462 3.7000000000000002
463 2.7000000000000002
464 (B)
465 (B)
466 (B)
467 2.7000000000000002
468 (B)

In [247]:
#Naming the columns 
col_names <- c("STATE", "Sex, Race, and Hispanic-Origin", "Total population", "Total citizen population", "Percent Citizen Population",
               "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                "Margin of error for percent registered total", "Total voted", "Percent voted (Total)", 
               "Margin of error percent voted total")
colnames(race_2000) <- col_names

In [248]:
# #Creating the state titles and the year variable
race_2000$STATE <- na.locf(race_2000$STATE)
race_2000$Year <- 2000

In [249]:
head(race_2000, 30)

   STATE         Sex, Race, and Hispanic-Origin Total population
1  UNITED STATES Total                          202609
2  UNITED STATES Male                           97087
3  UNITED STATES Female                         105523
4  UNITED STATES N-H White                      148035
5  UNITED STATES N-H Black                      23587
6  UNITED STATES API                            8041
7  UNITED STATES Hispanic                       21598
8  UNITED STATES White                          168733
9  UNITED STATES Black                          24132
10 ALABAMA       Total                          3278
11 ALABAMA       Male                           1507
12 ALABAMA       Female                         1771
13 ALABAMA       N-H White                      2370
14 ALABAMA       N-H Black                      853
15 ALABAMA       API                            15
16 ALABAMA       Hispanic                       27
17 ALABAMA       White                          2391
18 ALABAMA       Black                          859
19 ALASKA        Total                          412
20 ALASKA        Male                           202
21 ALASKA        Female                         210
22 ALASKA        N-H White                      316
23 ALASKA        N-H Black                      13
24 ALASKA        API                            15
25 ALASKA        Hispanic                       12
26 ALASKA        White                          327
27 ALASKA        Black                          13
28 ARIZONA       Total                          3524
29 ARIZONA       Male                           1734
30 ARIZONA       Female                         1789
   Total citizen population Percent Citizen Population
1  186366                   92
2  88758                    91.400000000000006
3  97608                    92.5
4  144731                   97.799999999999997
5  22409                    95
6  4718                     58.700000000000003
7  13159                    60.899999999999999
8  157291                   93.200000000000003
9  22753                    94.299999999999997
10 3233                     98.599999999999994
11 1481                     98.299999999999997
12 1752                     98.900000000000006
13 2360                     99.599999999999994
14 841                      98.599999999999994
15 4                        (B)
16 15                       (B)
17 2370                     99.099999999999994
18 846                      98.599999999999994
19 399                      96.799999999999997
20 197                      97.400000000000006
21 202                      96.299999999999997
22 309                      97.700000000000003
23 13                       (B)
24 9                        (B)
25 11                       (B)
26 319                      97.5
27 13                       (B)
28 3129                     88.799999999999997
29 1528                     88.099999999999994
30 1601                     89.5
   Margin of error percent citizen Total registered Percent registered (Total)
1  0.20000000000000001             129549           63.899999999999999
2  0.29999999999999999             60356            62.200000000000003
3  0.20000000000000001             69193            65.599999999999994
4  0.10000000000000001             103588           70
5  0.5                             15156            64.299999999999997
6  2.1000000000000001              2470             30.699999999999999
7  1.6000000000000001              7546             34.899999999999999
8  0.20000000000000001             110773           65.599999999999994
9  0.5                             15348            63.600000000000001
10 0.59999999999999998             2411             73.599999999999994
11 1                               1084             72
12 0.69999999999999996             1326             74.900000000000006
13 0.40000000000000002             1776             74.900000000000006
14 1.5                             613              71.900000000000006
15 (B)                             2                (B)
16 (B)                             12               (B)
17 0.59999999999999998             1783             74.5
18 1.5                             619              72
19 1                               299              72.5
20 1.3                             148              73.400000000000006
21 1.5                             150              71.599999999999994
22 1                               240              75.900000000000006
23 (B)                             7                (B)
24 (B)                             7                (B)
25 (B)                             6                (B)
26 1                               245              75
27 (B)                             7                (B)
28 1.6000000000000001              1879             53.299999999999997
29 2.2999999999999998              885              51
30 2.1000000000000001              994              55.5
   Margin of error for percent registered total Total voted
1  0.29999999999999999                          110826
2  0.5                                          51542
3  0.40000000000000002                          59284
4  0.40000000000000002                          89469
5  1.1000000000000001                           12749
6  1.8999999999999999                           2045
7  1.5                                          5934
8  0.29999999999999999                          95098
9  1.1000000000000001                           12917
10 2.2999999999999998                           1953
11 3.5                                          886
12 3.1000000000000001                           1067
13 2.7000000000000002                           1448
14 5.5999999999999996                           485
15 (B)                                          2
16 (B)                                          10
17 2.7000000000000002                           1453
18 5.5                                          491
19 2.6000000000000001                           270
20 3.6000000000000001                           133
21 3.6000000000000001                           137
22 2.7999999999999998                           222
23 (B)                                          7
24 (B)                                          5
25 (B)                                          5
26 2.7999999999999998                           227
27 (B)                                          7
28 2.5                                          1644
29 3.5                                          773
30 3.3999999999999999                           871
   Percent voted (Total) Margin of error percent voted total Year
1  54.700000000000003    0.29999999999999999                 2000
2  53.100000000000001    0.5                                 2000
3  56.200000000000003    0.5                                 2000
4  60.399999999999999    0.40000000000000002                 2000
5  54.100000000000001    1.2                                 2000
6  25.399999999999999    1.8                                 2000
7  27.5                  1.3999999999999999                  2000
8  56.399999999999999    0.40000000000000002                 2000
9  53.5                  1.2                                 2000
10 59.600000000000001    2.6000000000000001                  2000
11 58.799999999999997    3.7999999999999998                  2000
12 60.200000000000003    3.5                                 2000
13 61.100000000000001    3                                   2000
14 56.899999999999999    6.0999999999999996                  2000
15 (B)                   (B)                                 2000
16 (B)                   (B)                                 2000
17 60.799999999999997    3                                   2000
18 57.200000000000003    6.0999999999999996                  2000
19 65.5                  2.7000000000000002                  2000
20 65.700000000000003    3.8999999999999999                  2000
21 65.400000000000006    3.7999999999999998                  2000
22 70.099999999999994    3                                   2000
23 (B)                   (B)                                 2000
24 (B)                   (B)                                 2000
25 (B)                   (B)                                 2000
26 69.299999999999997    3                                   2000
27 (B)                   (B)                                 2000
28 46.700000000000003    2.5                                 2000
29 44.600000000000001    3.5                                 2000
30 48.700000000000003    3.5                                 2000

In [250]:
#Changing the '-' entries to 0, as they signify
race_2000[race_2000 == '-'] <- 0

In [251]:
#Converting columns to numerics
race_2000$`Total registered` <- as.numeric(race_2000$`Total registered`)
race_2000$`Total voted` <- as.numeric(race_2000$`Total voted`)
race_2000$`Total population` <- as.numeric(race_2000$`Total population`)
race_2000$`Total citizen population` <- as.numeric(race_2000$`Total citizen population`)

In [252]:
#Recalculating the percents to get rid of the "B's"
race_2000$`Percent registered (Total)` <- ifelse(race_2000$`Total population` != 0,
                                                 100*race_2000$`Total registered` / race_2000$`Total population`,
                                                 0)

race_2000$`Percent registered (Citizen)` <- ifelse(race_2000$`Total citizen population` != 0,
                                                 100*race_2000$`Total registered` / race_2000$`Total citizen population`,
                                                 0)

race_2000$`Percent voted (Total)` <- ifelse(race_2000$`Total population` != 0,
                                                 100*race_2000$`Total voted` / race_2000$`Total population`,
                                                 0)

race_2000$`Percent voted (Citizen)` <- ifelse(race_2000$`Total citizen population` != 0,
                                                 100*race_2000$`Total voted` / race_2000$`Total citizen population`,
                                                 0)

In [253]:
race_2000_final <- pivot_wider(race_2000, 
                          names_from = `Sex, Race, and Hispanic-Origin`, 
                          values_from = c("Total population", "Total citizen population", "Percent Citizen Population",
                                           "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                                            "Margin of error for percent registered total","Percent registered (Citizen)",
                                          "Total voted", "Percent voted (Total)", 
                                           "Margin of error percent voted total", "Percent voted (Citizen)"))

In [254]:
head(race_2000_final)

  STATE         Year Total population_Total Total population_Male
1 UNITED STATES 2000 202609                 97087
2 ALABAMA       2000   3278                  1507
3 ALASKA        2000    412                   202
4 ARIZONA       2000   3524                  1734
5 ARKANSAS      2000   1893                   897
6 CALIFORNIA    2000  24749                 11932
  Total population_Female Total population_N-H White Total population_N-H Black
1 105523                  148035                     23587
2   1771                    2370                       853
3    210                     316                        13
4   1789                    2315                       106
5    996                    1489                       331
6  12817                   13362                      1651
  Total population_API Total population_Hispanic Total population_White ⋯
1 8041                 21598                     168733                 ⋯
2   15                    27                       2391                 ⋯
3   15                    12                        327                 ⋯
4  132                   910                       3205                 ⋯
5   13                    51                       1540                 ⋯
6 3027                  6514                      19770                 ⋯
  Margin of error percent voted total_Black Percent voted (Citizen)_Total
1 1.2                                       59.46686
2 6.0999999999999996                        60.40829
3 (B)                                       67.66917
4 15.5                                      52.54075
5 7.5999999999999996                        50.56726
6 5                                         57.91702
  Percent voted (Citizen)_Male Percent voted (Citizen)_Female
1 58.07026                     60.73682
2 59.82444                     60.90183
3 67.51269                     67.82178
4 50.58901                     54.40350
5 48.67664                     52.13849
6 57.18024                     58.61130
  Percent voted (Citizen)_N-H White Percent voted (Citizen)_N-H Black
1 61.81744                          56.89232
2 61.35593                          57.66944
3 71.84466                          53.84615
4 57.85088                          33.98058
5 50.60565                          52.58359
6 63.75701                          54.52830
  Percent voted (Citizen)_API Percent voted (Citizen)_Hispanic
1 43.34464                    45.09461
2 50.00000                    66.66667
3 55.55556                    45.45455
4 25.00000                    40.09740
5 54.54545                    18.75000
6 44.44444                    45.77243
  Percent voted (Citizen)_White Percent voted (Citizen)_Black
1 60.45991                      56.77054
2 61.30802                      58.03783
3 71.15987                      53.84615
4 54.14787                      32.43243
5 50.26631                      52.58359
6 59.88792                      54.35866

## 2000 Age Data

In [255]:
#Turning xl file into csv
write.csv(read_excel("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2000.xls"), "C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2000.csv", row.names = FALSE)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`

In [256]:
#Skipping comments in the original excel file
age_2000 <- read.csv("C:\\Users\\joyse\\Desktop\\14.33\\Data\\tab04b_2000.csv", skip=5)
age_2000 <- age_2000[-(365:nrow(age_2000)), ]
head(age_2000)

  NA.           NA..1  Total  Percent.citizen    Confidence.interval Total.1
1 UNITED STATES     NA     NA NA                 NA                      NA
2 .Total        202609 186366 92                 0.20000000000000001 129549
3 .18 to 24      26712  23915 89.5               0.59999999999999998  12122
4 .25 to 44      81780  72668 88.900000000000006 0.29999999999999999  48769
5 .45 to 64      61352  57968 94.5               0.29999999999999999  43710
6 .65 to 74      17819  17233 96.700000000000003 0.40000000000000002  13573
  Percent.registered..18.. Confidence.interval.1 Total.2 Percent.voted..18..
1 NA                       NA                        NA  NA
2 63.899999999999999       0.29999999999999999   110826  54.700000000000003
3 45.399999999999999       0.90000000000000002     8635  32.299999999999997
4 59.600000000000001       0.5                    40738  49.799999999999997
5 71.200000000000003       0.5                    39301  64.099999999999994
6 76.200000000000003       0.90000000000000002    12450  69.900000000000006
  Confidence.interval.2
1 NA
2 0.29999999999999999
3 0.90000000000000002
4 0.5
5 0.59999999999999998
6 1

In [257]:
#Fixing the state column formatting because unlike other years 
excluded_strings_1 <- c(".Total", ".18 to 24", ".25 to 34", ".35 to 44", ".45 to 54", ".55 to 64", ".65 to 74", ".75+", ".45 to 64", ".25 to 44", ".18 to 44", ".65+")

#Keeping only states in the state column and moving it first
age_2000$STATE <- ifelse(!(age_2000[,1] %in% excluded_strings_1), age_2000[,1], NA)
age_2000 <- age_2000[, c("STATE", setdiff(names(age_2000), "STATE"))]

#Creating the state titles
age_2000$STATE <- na.locf(age_2000$STATE)

#Delete rows where all values are none
age_2000 <- age_2000[age_2000[,2] %in% excluded_strings_1, ]

# Remove periods from values in the second column
age_2000[,2] <- gsub("\\.", "", age_2000[,2])

In [258]:
head(age_2000, 20)

   STATE         NA.      NA..1  Total  Percent.citizen    Confidence.interval
2  UNITED STATES Total    202609 186366 92                 0.20000000000000001
3  UNITED STATES 18 to 24  26712  23915 89.5               0.59999999999999998
4  UNITED STATES 25 to 44  81780  72668 88.900000000000006 0.29999999999999999
5  UNITED STATES 45 to 64  61352  57968 94.5               0.29999999999999999
6  UNITED STATES 65 to 74  17819  17233 96.700000000000003 0.40000000000000002
7  UNITED STATES 75+       14945  14582 97.599999999999994 0.40000000000000002
9  ALABAMA       Total      3278   3233 98.599999999999994 0.59999999999999998
10 ALABAMA       18 to 24    430    418 97.099999999999994 2.3999999999999999
11 ALABAMA       25 to 44   1280   1258 98.200000000000003 1.1000000000000001
12 ALABAMA       45 to 64   1063   1056 99.299999999999997 0.80000000000000004
13 ALABAMA       65 to 74    282    282 100                0
14 ALABAMA       75+         221    219 98.900000000000006 2.1000000000000001
16 ALASKA        Total       412    399 96.799999999999997 1
17 ALASKA        18 to 24     58     55 (B)                (B)
18 ALASKA        25 to 44    183    176 96.299999999999997 1.6000000000000001
19 ALASKA        45 to 64    144    141 97.799999999999997 1.3999999999999999
20 ALASKA        65 to 74     17     17 (B)                (B)
21 ALASKA        75+          10      9 (B)                (B)
23 ARIZONA       Total      3524   3129 88.799999999999997 1.6000000000000001
24 ARIZONA       18 to 24    582    484 83.200000000000003 4.5
   Total.1 Percent.registered..18.. Confidence.interval.1 Total.2
2  129549  63.899999999999999       0.29999999999999999   110826
3   12122  45.399999999999999       0.90000000000000002     8635
4   48769  59.600000000000001       0.5                    40738
5   43710  71.200000000000003       0.5                    39301
6   13573  76.200000000000003       0.90000000000000002    12450
7   11375  76.099999999999994       1                       9702
9    2411  73.599999999999994       2.2999999999999998      1953
10    226  52.5                     7.2000000000000002       168
11    939  73.299999999999997       3.7000000000000002       759
12    834  78.400000000000006       3.7999999999999998       701
13    221  78.099999999999994       7.4000000000000004       183
14    192  86.599999999999994       6.9000000000000004       142
16    299  72.5                     2.6000000000000001       270
17     31  (B)                      (B)                       25
18    136  74.5                     3.7999999999999998       124
19    110  76.400000000000006       4.0999999999999996       101
20     14  (B)                      (B)                       13
21      8  (B)                      (B)                        7
23   1879  53.299999999999997       2.5                     1644
24    167  28.699999999999999       5.5                      124
   Percent.voted..18.. Confidence.interval.2
2  54.700000000000003  0.29999999999999999
3  32.299999999999997  0.90000000000000002
4  49.799999999999997  0.5
5  64.099999999999994  0.59999999999999998
6  69.900000000000006  1
7  64.900000000000006  1.2
9  59.600000000000001  2.6000000000000001
10 39                  7
11 59.299999999999997  4.0999999999999996
12 65.900000000000006  4.4000000000000004
13 64.900000000000006  8.5
14 64.400000000000006  9.5999999999999996
16 65.5                2.7000000000000002
17 (B)                 (B)
18 67.799999999999997  4
19 69.700000000000003  4.5
20 (B)                 (B)
21 (B)                 (B)
23 46.700000000000003  2.5
24 21.300000000000001  5

In [259]:
#Naming the columns 
col_names <- c("STATE", "Age", "Total population", "Total citizen population", "Percent Citizen Population",
               "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                "Margin of error for percent registered total", "Total voted", "Percent voted (Total)", 
               "Margin of error percent voted total")
colnames(age_2000) <- col_names

In [260]:
head(age_2000)

  STATE         Age      Total population Total citizen population
2 UNITED STATES Total    202609           186366
3 UNITED STATES 18 to 24  26712            23915
4 UNITED STATES 25 to 44  81780            72668
5 UNITED STATES 45 to 64  61352            57968
6 UNITED STATES 65 to 74  17819            17233
7 UNITED STATES 75+       14945            14582
  Percent Citizen Population Margin of error percent citizen Total registered
2 92                         0.20000000000000001             129549
3 89.5                       0.59999999999999998              12122
4 88.900000000000006         0.29999999999999999              48769
5 94.5                       0.29999999999999999              43710
6 96.700000000000003         0.40000000000000002              13573
7 97.599999999999994         0.40000000000000002              11375
  Percent registered (Total) Margin of error for percent registered total
2 63.899999999999999         0.29999999999999999
3 45.399999999999999         0.90000000000000002
4 59.600000000000001         0.5
5 71.200000000000003         0.5
6 76.200000000000003         0.90000000000000002
7 76.099999999999994         1
  Total voted Percent voted (Total) Margin of error percent voted total
2 110826      54.700000000000003    0.29999999999999999
3   8635      32.299999999999997    0.90000000000000002
4  40738      49.799999999999997    0.5
5  39301      64.099999999999994    0.59999999999999998
6  12450      69.900000000000006    1
7   9702      64.900000000000006    1.2

In [261]:
#Creating the year variable
age_2000$Year <- 2000

#Getting rid of the total row since it is already in the race data and is identical
age_2000 <- age_2000[age_2000$Age != "Total", ]
head(age_2000,20)

   STATE         Age      Total population Total citizen population
3  UNITED STATES 18 to 24 26712            23915
4  UNITED STATES 25 to 44 81780            72668
5  UNITED STATES 45 to 64 61352            57968
6  UNITED STATES 65 to 74 17819            17233
7  UNITED STATES 75+      14945            14582
10 ALABAMA       18 to 24   430              418
11 ALABAMA       25 to 44  1280             1258
12 ALABAMA       45 to 64  1063             1056
13 ALABAMA       65 to 74   282              282
14 ALABAMA       75+        221              219
17 ALASKA        18 to 24    58               55
18 ALASKA        25 to 44   183              176
19 ALASKA        45 to 64   144              141
20 ALASKA        65 to 74    17               17
21 ALASKA        75+         10                9
24 ARIZONA       18 to 24   582              484
25 ARIZONA       25 to 44  1326             1124
26 ARIZONA       45 to 64  1085             1008
27 ARIZONA       65 to 74   312              299
28 ARIZONA       75+        219              214
   Percent Citizen Population Margin of error percent citizen Total registered
3  89.5                       0.59999999999999998             12122
4  88.900000000000006         0.29999999999999999             48769
5  94.5                       0.29999999999999999             43710
6  96.700000000000003         0.40000000000000002             13573
7  97.599999999999994         0.40000000000000002             11375
10 97.099999999999994         2.3999999999999999                226
11 98.200000000000003         1.1000000000000001                939
12 99.299999999999997         0.80000000000000004               834
13 100                        0                                 221
14 98.900000000000006         2.1000000000000001                192
17 (B)                        (B)                                31
18 96.299999999999997         1.6000000000000001                136
19 97.799999999999997         1.3999999999999999                110
20 (B)                        (B)                                14
21 (B)                        (B)                                 8
24 83.200000000000003         4.5                               167
25 84.799999999999997         2.8999999999999999                603
26 93                         2.2999999999999998                716
27 95.599999999999994         3.3999999999999999                232
28 97.900000000000006         2.7999999999999998                161
   Percent registered (Total) Margin of error for percent registered total
3  45.399999999999999         0.90000000000000002
4  59.600000000000001         0.5
5  71.200000000000003         0.5
6  76.200000000000003         0.90000000000000002
7  76.099999999999994         1
10 52.5                       7.2000000000000002
11 73.299999999999997         3.7000000000000002
12 78.400000000000006         3.7999999999999998
13 78.099999999999994         7.4000000000000004
14 86.599999999999994         6.9000000000000004
17 (B)                        (B)
18 74.5                       3.7999999999999998
19 76.400000000000006         4.0999999999999996
20 (B)                        (B)
21 (B)                        (B)
24 28.699999999999999         5.5
25 45.5                       4
26 66.099999999999994         4.2000000000000002
27 74.400000000000006         7.2000000000000002
28 73.400000000000006         8.8000000000000007
   Total voted Percent voted (Total) Margin of error percent voted total Year
3   8635       32.299999999999997    0.90000000000000002                 2000
4  40738       49.799999999999997    0.5                                 2000
5  39301       64.099999999999994    0.59999999999999998                 2000
6  12450       69.900000000000006    1                                   2000
7   9702       64.900000000000006    1.2                                 2000
10   168       39                    7                                   2000
11   759       59.299999999999997    4.0999999999999996                  2000
12   701       65.900000000000006    4.4000000000000004                  2000
13   183       64.900000000000006    8.5                                 2000
14   142       64.400000000000006    9.5999999999999996                  2000
17    25       (B)                   (B)                                 2000
18   124       67.799999999999997    4                                   2000
19   101       69.700000000000003    4.5                                 2000
20    13       (B)                   (B)                                 2000
21     7       (B)                   (B)                                 2000
24   124       21.300000000000001    5                                   2000
25   497       37.5                  3.8999999999999999                  2000
26   653       60.200000000000003    4.4000000000000004                  2000
27   222       71.200000000000003    7.5                                 2000
28   148       67.700000000000003    9.3000000000000007                  2000

In [262]:
#Changing the '-' entries to 0, as they signify
age_2000[age_2000 == '-'] <- 0

In [263]:
#Recalculating the percents to get rid of the "B's"
age_2000$`Percent registered (Total)` <- ifelse(age_2000$`Total population` != 0,
                                                 100*age_2000$`Total registered` / age_2000$`Total population`,
                                                 0)

age_2000$`Percent registered (Citizen)` <- ifelse(age_2000$`Total citizen population` != 0,
                                                 100*age_2000$`Total registered` / age_2000$`Total citizen population`,
                                                 0)

age_2000$`Percent voted (Total)` <- ifelse(age_2000$`Total population` != 0,
                                                 100*age_2000$`Total voted` / age_2000$`Total population`,
                                                 0)

age_2000$`Percent voted (Citizen)` <- ifelse(age_2000$`Total citizen population` != 0,
                                                 100*age_2000$`Total voted` / age_2000$`Total citizen population`,
                                                 0)

In [264]:
#Pivoting to the desired format
age_2000_final <- pivot_wider(age_2000, 
                          names_from = `Age`, 
                          values_from = c("Total population", "Total citizen population", "Percent Citizen Population",
                                           "Margin of error percent citizen", "Total registered", "Percent registered (Total)", 
                                            "Margin of error for percent registered total","Percent registered (Citizen)",
                                          "Total voted", "Percent voted (Total)", 
                                           "Margin of error percent voted total", "Percent voted (Citizen)"))

In [265]:
head(age_2000_final)
tail(race_2000_final)

  STATE         Year Total population_18 to 24 Total population_25 to 44
1 UNITED STATES 2000 26712                     81780
2 ALABAMA       2000   430                      1280
3 ALASKA        2000    58                       183
4 ARIZONA       2000   582                      1326
5 ARKANSAS      2000   249                       639
6 CALIFORNIA    2000  3573                     10606
  Total population_45 to 64 Total population_65 to 74 Total population_75+
1 61352                     17819                     14945
2  1063                       282                       221
3   144                        17                        10
4  1085                       312                       219
5   616                       203                       187
6  7257                      1872                      1442
  Total citizen population_18 to 24 Total citizen population_25 to 44
1 23915                             72668
2   418                              1258
3    55                               176
4   484                              1124
5   242                               612
6  2728                              7877
  Total citizen population_45 to 64 ⋯
1 57968                             ⋯
2  1056                             ⋯
3   141                             ⋯
4  1008                             ⋯
5   608                             ⋯
6  6212                             ⋯
  Margin of error percent voted total_18 to 24
1 0.90000000000000002
2 7
3 (B)
4 5
5 6.9000000000000004
6 2.5
  Margin of error percent voted total_25 to 44
1 0.5
2 4.0999999999999996
3 4
4 3.8999999999999999
5 4.5
6 1.6000000000000001
  Margin of error percent voted total_45 to 64
1 0.59999999999999998
2 4.4000000000000004
3 4.5
4 4.4000000000000004
5 4.5
6 2
  Margin of error percent voted total_65 to 74
1 1
2 8.5
3 (B)
4 7.5
5 7.9000000000000004
6 3.7000000000000002
  Margin of error percent voted total_75+ Percent voted (Citizen)_18 to 24
1 1.2                                     36.10705
2 9.5999999999999996                      40.19139
3 (B)                                     45.45455
4 9.3000000000000007                      25.61983
5 8.3000000000000007                      36.36364
6 4.2999999999999998                      37.20674
  Percent voted (Citizen)_25 to 44 Percent voted (Citizen)_45 to 64
1 56.06044                         67.79775
2 60.33386                         66.38258
3 70.45455                         71.63121
4 44.21708                         64.78175
5 44.60784                         58.71711
6 52.92624                         66.96716
  Percent voted (Citizen)_65 to 74 Percent voted (Citizen)_75+
1 72.24511                         66.53408
2 64.89362                         64.84018
3 76.47059                         77.77778
4 74.24749                         69.15888
5 58.62069                         52.40642
6 71.52900                         70.37319

  STATE         Year Total population_Total Total population_Male
1 VERMONT       2000  458                    221
2 VIRGINIA      2000 5177                   2431
3 WASHINGTON    2000 4314                   2053
4 WEST VIRGINIA 2000 1405                    654
5 WISCONSIN     2000 3884                   1912
6 WYOMING       2000  350                    176
  Total population_Female Total population_N-H White Total population_N-H Black
1  238                     451                          1
2 2745                    3719                       1003
3 2261                    3734                        123
4  750                    1349                         45
5 1972                    3503                        147
6  175                     324                          1
  Total population_API Total population_Hispanic Total population_White ⋯
1   2                    3                        454                   ⋯
2 205                  234                       3930                   ⋯
3 213                  167                       3890                   ⋯
4   4                    7                       1355                   ⋯
5  48                  159                       3653                   ⋯
6   0                   19                        342                   ⋯
  Margin of error percent voted total_Black Percent voted (Citizen)_Total
1 (B)                                       64.30155
2 6.9000000000000004                        60.30130
3 18.300000000000001                        61.96665
4 (B)                                       52.39800
5 16                                        70.09321
6 (B)                                       62.93103
  Percent voted (Citizen)_Male Percent voted (Citizen)_Female
1 60.64815                     67.65957
2 58.30803                     62.07822
3 61.77686                     62.13819
4 52.38095                     52.27882
5 69.48408                     70.75569
6 60.00000                     65.89595
  Percent voted (Citizen)_N-H White Percent voted (Citizen)_N-H Black
1 64.28571                            0.00000
2 63.10014                           53.86965
3 64.25637                           38.61386
4 52.60030                           48.88889
5 71.13224                           65.46763
6 65.12346                          100.00000
  Percent voted (Citizen)_API Percent voted (Citizen)_Hispanic
1  0.00000                    100.00000
2 33.33333                     62.50000
3 42.55319                     54.12844
4  0.00000                     20.00000
5 76.92308                     39.74359
6  0.00000                     35.29412
  Percent voted (Citizen)_White Percent voted (Citizen)_Black
1 64.44444                        0.00000
2 63.01406                       53.79171
3 63.89776                       38.61386
4 52.55745                       48.88889
5 70.44877                       65.46763
6 63.82353                      100.00000

# Merging 2002 Age and Race Data

In [266]:
final_2000 <- merge(age_2000_final, race_2000_final, by = c("STATE", "Year"))

In [267]:
write.csv(final_2000, "C:\\Users\\joyse\\Desktop\\14.33\\Data\\final_2000.csv", row.names = FALSE)